src/flows/CaseSubmitterCaseShare-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Case_Origin</name>
        <label>Case Origin?</label>
        <locationX>291</locationX>
        <locationY>178</locationY>
        <defaultConnector>
            <targetReference>Is_the_current_user_the_case_owner_X</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Email_to_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseOrigin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_User_Id</targetReference>
            </connector>
            <label>Email-to-Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_current_user_the_case_owner_0</name>
        <label>Is the current user the case owner?</label>
        <locationX>287</locationX>
        <locationY>439</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>This_is_the_case_owner_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSubmitterId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>caseOwner</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Submitter_s_Type</targetReference>
            </connector>
            <label>This is not the case owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_current_user_the_case_owner_X</name>
        <label>Is the current user the case owner?</label>
        <locationX>449</locationX>
        <locationY>179</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>This_is_not_the_case_owner_X</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>caseOwner</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseSubmitterCaseShare</targetReference>
            </connector>
            <label>This is not the case owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_submitter_a_portal_user</name>
        <label>Is the submitter a portal user?</label>
        <locationX>589</locationX>
        <locationY>444</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>This_is_NOT_a_portal_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsPortalUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CaseSubmitterCaseShare_0</targetReference>
            </connector>
            <label>This is NOT a portal user</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requested_Action</name>
        <label>Requested Action?</label>
        <locationX>78</locationX>
        <locationY>309</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>New_Case_without_a_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRequestedAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Origin</targetReference>
            </connector>
            <label>New Case without a Contact</label>
        </rules>
        <rules>
            <name>Case_Owner_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRequestedAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_current_user_the_case_owner_0</targetReference>
            </connector>
            <label>Case Owner Change</label>
        </rules>
        <rules>
            <name>New_Case_with_a_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRequestedAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Case_Submitter_s_User_Record</targetReference>
            </connector>
            <label>New Case with a Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_User</name>
        <label>Valid User</label>
        <locationX>428</locationX>
        <locationY>318</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>User_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>userId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCaseShare_User</targetReference>
            </connector>
            <label>User Found</label>
        </rules>
    </decisions>
    <interviewLabel>CaseSubmitterCaseShare {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CaseSubmitterCaseShare</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CaseSubmitterCaseShare</name>
        <label>CaseSubmitterCaseShare</label>
        <locationX>597</locationX>
        <locationY>180</locationY>
        <connector>
            <targetReference>Set_Submitter_on_Case_Int</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
        <object>CaseShare</object>
    </recordCreates>
    <recordCreates>
        <name>CaseSubmitterCaseShare_0</name>
        <label>CaseSubmitterCaseShare</label>
        <locationX>750</locationX>
        <locationY>446</locationY>
        <inputAssignments>
            <field>CaseAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>varSubmitterId</elementReference>
            </value>
        </inputAssignments>
        <object>CaseShare</object>
    </recordCreates>
    <recordCreates>
        <name>CreateCaseShare_User</name>
        <label>CreateCaseShare_User</label>
        <locationX>598</locationX>
        <locationY>319</locationY>
        <connector>
            <targetReference>Set_Submitter_on_Case_Int</targetReference>
        </connector>
        <inputAssignments>
            <field>CaseAccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
        <object>CaseShare</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Case_Submitter_s_User_Record</name>
        <label>Find Case Submitter&apos;s User Record</label>
        <locationX>297</locationX>
        <locationY>40</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Case_Submitter_Ext</targetReference>
        </connector>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varSubmitterId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Submitter_s_Type</name>
        <label>Find Submitter&apos;s Type</label>
        <locationX>430</locationX>
        <locationY>442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_submitter_a_portal_user</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSubmitterId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varIsPortalUser</assignToReference>
            <field>IsPortalEnabled</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_User_Id</name>
        <label>Find User Id</label>
        <locationX>293</locationX>
        <locationY>317</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valid_User</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>CspLitePortal</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserType</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>PowerCustomerSuccess</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>userId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastLoginDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Set_Case_Submitter_Ext</name>
        <label>Set Case Submitter Ext</label>
        <locationX>452</locationX>
        <locationY>42</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Submitter__c</field>
            <value>
                <elementReference>varSubmitterId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Submitter_on_Case_Int</name>
        <label>Set Submitter on Case Int</label>
        <locationX>755</locationX>
        <locationY>242</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Submitter__c</field>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Requested_Action</startElementReference>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ShareRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseOrigin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varIsPortalUser</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPortalUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRequestedAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSubmitterId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
