src/flows/Changes_Subflow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Case_Number</name>
        <label>Assign Case Number</label>
        <locationX>1915</locationX>
        <locationY>925</locationY>
        <assignmentItems>
            <assignToReference>CaseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.CaseNumber</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ClearError</name>
        <label>ClearError</label>
        <locationX>466</locationX>
        <locationY>375</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0</name>
        <label>ClearError</label>
        <locationX>638</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0_2</name>
        <label>ClearError</label>
        <locationX>724</locationX>
        <locationY>930</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_2_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_1</name>
        <label>ClearError</label>
        <locationX>765</locationX>
        <locationY>1344</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_1_0</name>
        <label>ClearError</label>
        <locationX>608</locationX>
        <locationY>1612</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_2_2_2_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_1_1</name>
        <label>ClearError</label>
        <locationX>5</locationX>
        <locationY>1022</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_2_2_2_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_1_1_0</name>
        <label>ClearError</label>
        <locationX>248</locationX>
        <locationY>1023</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Claim_Type_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_1_1_0_0</name>
        <label>ClearError</label>
        <locationX>848</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Customer_Change_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError</name>
        <label>PrintError</label>
        <locationX>348</locationX>
        <locationY>296</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Traffic_request_Change_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0</name>
        <label>PrintError</label>
        <locationX>515</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Internal_Change_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0_2</name>
        <label>PrintError</label>
        <locationX>604</locationX>
        <locationY>860</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Customer_Change_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0_2_1</name>
        <label>PrintError</label>
        <locationX>7</locationX>
        <locationY>875</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Claim_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_1</name>
        <label>PrintError</label>
        <locationX>644</locationX>
        <locationY>1273</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Document_Request_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_1_2</name>
        <label>PrintError</label>
        <locationX>487</locationX>
        <locationY>1539</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Outage_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField</name>
        <label>SetReqField</label>
        <locationX>585</locationX>
        <locationY>299</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_Label_Other_Traffic_Request_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0</name>
        <label>SetReqField</label>
        <locationX>762</locationX>
        <locationY>577</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_Label_Other_Internal_Change</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_1</name>
        <label>SetReqField</label>
        <locationX>887</locationX>
        <locationY>1276</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_Label_Other_Document_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_2</name>
        <label>SetReqField</label>
        <locationX>707</locationX>
        <locationY>302</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_Label_Traffic_Request_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_2_2</name>
        <label>SetReqField</label>
        <locationX>887</locationX>
        <locationY>579</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Internal_Change_Type_Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_2_2_2</name>
        <label>SetReqField</label>
        <locationX>846</locationX>
        <locationY>861</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_Label_Customer_Change_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_2_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_2_2_2_1</name>
        <label>SetReqField</label>
        <locationX>131</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Change_Label_Type_of_Change</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_2_2_2_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_2_2_2_2</name>
        <label>SetReqField</label>
        <locationX>1012</locationX>
        <locationY>1278</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_Label_Document_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_2_2_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_2_2_2_2_2</name>
        <label>SetReqField</label>
        <locationX>730</locationX>
        <locationY>1542</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Availability_Date_Known_Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_2_2_2_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_2_2_2_2_2_0</name>
        <label>SetReqField</label>
        <locationX>859</locationX>
        <locationY>1545</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CS_Label_Availability_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_2_2_2_2_2_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields</name>
        <label>SetReqFields</label>
        <locationX>584</locationX>
        <locationY>228</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0</name>
        <label>SetReqFields</label>
        <locationX>763</locationX>
        <locationY>507</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_1</name>
        <label>SetReqFields</label>
        <locationX>890</locationX>
        <locationY>1207</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_2_2_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_2</name>
        <label>SetReqFields</label>
        <locationX>708</locationX>
        <locationY>229</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_2_2</name>
        <label>SetReqFields</label>
        <locationX>886</locationX>
        <locationY>508</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_2_2_2</name>
        <label>SetReqFields</label>
        <locationX>845</locationX>
        <locationY>789</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_2_2_2_1</name>
        <label>SetReqFields</label>
        <locationX>132</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0_2_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_2_2_2_2</name>
        <label>SetReqFields</label>
        <locationX>1011</locationX>
        <locationY>1210</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_2_2_2_2_2</name>
        <label>SetReqFields</label>
        <locationX>731</locationX>
        <locationY>1471</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_2_2_2_2_2_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_2_2_2_2_2_0</name>
        <label>SetReqFields</label>
        <locationX>860</locationX>
        <locationY>1474</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_1_2</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Blank</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!None_Picklist}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CheckReq</name>
        <label>CheckReq</label>
        <locationX>586</locationX>
        <locationY>377</locationY>
        <defaultConnector>
            <targetReference>CheckReq_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Other_Traffic_Request_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Traffic_Request_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Label_Other</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0</name>
        <label>CheckReq</label>
        <locationX>761</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>CheckReq_2_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Internal_Change_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Label_Other</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Other_Internal_Change</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_1</name>
        <label>CheckReq</label>
        <locationX>886</locationX>
        <locationY>1346</locationY>
        <defaultConnector>
            <targetReference>CheckReq_2_2_2_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Document_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Label_Other</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Other_Document_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_2</name>
        <label>CheckReq</label>
        <locationX>707</locationX>
        <locationY>377</locationY>
        <defaultConnector>
            <targetReference>Traffic_Change_Record_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Traffic_Request_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Blank</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_2</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
        <rules>
            <name>Errors_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorNum</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PrintError</targetReference>
            </connector>
            <label>Errors Present?</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_2_2</name>
        <label>CheckReq</label>
        <locationX>887</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Internal_Change_Record_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_2_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Internal_Change_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Blank</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_2_2</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
        <rules>
            <name>Errors_Present_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorNum</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PrintError_0</targetReference>
            </connector>
            <label>Errors Present?</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_2_2_2</name>
        <label>CheckReq</label>
        <locationX>846</locationX>
        <locationY>932</locationY>
        <defaultConnector>
            <targetReference>ClearError_1_1_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_2_2_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Change_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Blank</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_2_2_2</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_2_2_2_1</name>
        <label>CheckReq</label>
        <locationX>129</locationX>
        <locationY>1022</locationY>
        <defaultConnector>
            <targetReference>ClearError_1_1_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_2_2_2_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_Type_of_Change</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Blank</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_2_2_2_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_2_2_2_2</name>
        <label>CheckReq</label>
        <locationX>1012</locationX>
        <locationY>1346</locationY>
        <defaultConnector>
            <targetReference>Document_Request_Record_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_2_2_2_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Document_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Blank</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_2_2_2_2</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
        <rules>
            <name>Errors_Present_2_2_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorNum</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PrintError_1</targetReference>
            </connector>
            <label>Errors Present?</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_2_2_2_2_2</name>
        <label>CheckReq</label>
        <locationX>730</locationX>
        <locationY>1612</locationY>
        <defaultConnector>
            <targetReference>CheckReq_2_2_2_2_2_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_2_2_2_2_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Availability_Date_Known</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Blank</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_2_2_2_2_2</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_2_2_2_2_2_0</name>
        <label>CheckReq</label>
        <locationX>859</locationX>
        <locationY>1615</locationY>
        <defaultConnector>
            <targetReference>Outage_Record_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_2_2_2_2_2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Availability_Date_Known</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Availability_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_2_2_2_2_2_0</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
        <rules>
            <name>Errors_Present1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorNum</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PrintError_1_2</targetReference>
            </connector>
            <label>Errors Present?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Change_Decision</name>
        <label>Customer Change Decision</label>
        <locationX>1128</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Default_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Add_Item_Remove_Item</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Change_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Item</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Change_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remove Item</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Remove_Item</targetReference>
            </connector>
            <label>Add Item/Remove Item</label>
        </rules>
        <rules>
            <name>Account_Update_New_or_Existing_Item_Setup</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Change_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Update</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Change_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New or Existing Item Setup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Update_Item_Set_Up</targetReference>
            </connector>
            <label>Account Update / New or Existing Item Setup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Claim_Type_Decision</name>
        <label>Change Type Decision</label>
        <locationX>422</locationX>
        <locationY>923</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Traffic_Request_Change</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>What_Type_of_Change</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Traffic Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Traffic_request_Change_Information</targetReference>
            </connector>
            <label>Traffic Request Change</label>
        </rules>
        <rules>
            <name>Internal_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_Type_of_Change</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Internal_Change_Information</targetReference>
            </connector>
            <label>Internal Change</label>
        </rules>
        <rules>
            <name>Customer_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_Type_of_Change</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Change_Information</targetReference>
            </connector>
            <label>Customer Change</label>
        </rules>
        <rules>
            <name>Document_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_Type_of_Change</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Document Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Document_Request_Information</targetReference>
            </connector>
            <label>Document Request</label>
        </rules>
        <rules>
            <name>Outage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_Type_of_Change</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outage_Information</targetReference>
            </connector>
            <label>Outage</label>
        </rules>
        <rules>
            <name>SKU_Sub</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_Type_of_Change</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SKU Sub</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SKU_Sub_Information</targetReference>
            </connector>
            <label>SKU Sub</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AvailabilityDateKnown</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Availability_Date_Known__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChangeClaimType</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Access_Group__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>AccessGroup</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;{!RecordTypeName}&quot;</stringValue>
            </value>
        </filters>
        <filters>
            <field>Language__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>FlowLanguage</elementReference>
            </value>
        </filters>
        <object>Choice_Case_2nd_Type__c</object>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChangeType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Change_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DocumentType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Document_Types__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DocumentTypeList</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Access_Group__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>AccessGroup</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;{!What_Type_of_Change}&quot;</stringValue>
            </value>
        </filters>
        <filters>
            <field>Language__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>FlowLanguage</elementReference>
            </value>
        </filters>
        <object>Choice_Case_3rd_Type__c</object>
        <sortField>Sort_Order__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InquiryType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Inquiry_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InternalChange</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Internal_Change_Picklist__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>QuantityTypePicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Quantity_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TrafficRequestReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Traffic_Request_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Availability_Date_Known_Label</name>
        <dataType>String</dataType>
        <expression>$Label.Availability_Date_Known</expression>
    </formulas>
    <formulas>
        <name>Change_Label_Type_of_Change</name>
        <dataType>String</dataType>
        <expression>$Label.Change</expression>
    </formulas>
    <formulas>
        <name>CS_Label_Availability_Date</name>
        <dataType>String</dataType>
        <expression>$Label.CS_Label_Availability_Date</expression>
    </formulas>
    <formulas>
        <name>CS_Label_Beam_Item_Number</name>
        <dataType>String</dataType>
        <expression>$Label.CS_Label_Beam_Item_Number</expression>
    </formulas>
    <formulas>
        <name>CS_Label_Beam_Suntory_Order_Number</name>
        <dataType>String</dataType>
        <expression>$Label.CS_Label_Beam_Suntory_Order_Number</expression>
    </formulas>
    <formulas>
        <name>CS_Label_Change_Multiple_Items_Text</name>
        <dataType>String</dataType>
        <expression>$Label.CS_Label_Change_Multiple_Items_Text</expression>
    </formulas>
    <formulas>
        <name>CS_Label_Change_Type</name>
        <dataType>String</dataType>
        <expression>$Label.CS_Label_Change_Type</expression>
    </formulas>
    <formulas>
        <name>CS_Label_Customer_Change_Type</name>
        <dataType>String</dataType>
        <expression>$Label.CS_Label_Customer_Change_Type</expression>
    </formulas>
    <formulas>
        <name>CS_Label_Description</name>
        <dataType>String</dataType>
        <expression>$Label.CS_Label_Description</expression>
    </formulas>
    <formulas>
        <name>CS_Label_Document_Change_Description</name>
        <dataType>String</dataType>
        <expression>$Label.CS_Label_Document_Change_Description</expression>
    </formulas>
    <formulas>
        <name>CS_Label_Document_Type</name>
        <dataType>String</dataType>
        <expression>$Label.CS_Label_Document_Type</expression>
    </formulas>
    <formulas>
        <name>CS_Label_Number_of_Orders_Affected</name>
        <dataType>String</dataType>
        <expression>$Label.CS_Label_Number_of_Orders_Affected</expression>
    </formulas>
    <formulas>
        <name>CS_Label_Other_Document_Type</name>
        <dataType>String</dataType>
        <expression>$Label.CS_Label_Other_Document_Type</expression>
    </formulas>
    <formulas>
        <name>CS_Label_Other_Internal_Change</name>
        <dataType>String</dataType>
        <expression>$Label.CS_Label_Other_Internal_Change</expression>
    </formulas>
    <formulas>
        <name>CS_Label_Other_Traffic_Request_Reason</name>
        <dataType>String</dataType>
        <expression>$Label.CS_Label_Other_Traffic_Request_Reason</expression>
    </formulas>
    <formulas>
        <name>CS_Label_Traffic_Request_Description</name>
        <dataType>String</dataType>
        <expression>$Label.CS_Label</expression>
    </formulas>
    <formulas>
        <name>CS_Label_Traffic_Request_Reason</name>
        <dataType>String</dataType>
        <expression>$Label.CS_Label_Traffic_Request_Reason</expression>
    </formulas>
    <formulas>
        <name>Error_Message_Formatted_Label</name>
        <dataType>String</dataType>
        <expression>$Label.Error_Message_Formatted_Label</expression>
    </formulas>
    <formulas>
        <name>Field_Length_Error_Message</name>
        <dataType>String</dataType>
        <expression>$Label.Field_Length_Error_Message</expression>
    </formulas>
    <formulas>
        <name>Internal_Change_Type_Label</name>
        <dataType>String</dataType>
        <expression>$Label.Internal_Change_Type</expression>
    </formulas>
    <formulas>
        <name>Label_Other</name>
        <dataType>String</dataType>
        <expression>{!$Label.CS_Flow_Picklist_Option_Other}</expression>
    </formulas>
    <formulas>
        <name>New_SKU_Label</name>
        <dataType>String</dataType>
        <expression>$Label.New_SKU</expression>
    </formulas>
    <formulas>
        <name>None_Picklist</name>
        <dataType>String</dataType>
        <expression>$Label.None_Picklist</expression>
    </formulas>
    <formulas>
        <name>Product_Description_Label</name>
        <dataType>String</dataType>
        <expression>$Label.Product_Description_Label</expression>
    </formulas>
    <formulas>
        <name>Purchase_Order_Number_Label</name>
        <dataType>String</dataType>
        <expression>$Label.Purchase_Order_Number_Label</expression>
    </formulas>
    <formulas>
        <name>Quantity_Type_Label</name>
        <dataType>String</dataType>
        <expression>$Label.Quantity_Type_Label</expression>
    </formulas>
    <formulas>
        <name>Step3Change_Claim_Header</name>
        <dataType>String</dataType>
        <expression>$Label.Step_3_Change_Claim_Header</expression>
    </formulas>
    <formulas>
        <name>Step_2_Change_Header</name>
        <dataType>String</dataType>
        <expression>$Label.Step_2_Change_Header</expression>
    </formulas>
    <formulas>
        <name>Step_2_Change_Sub</name>
        <dataType>String</dataType>
        <expression>$Label.Step_2_Change_Sub</expression>
    </formulas>
    <formulas>
        <name>Step_4_Change_Header</name>
        <dataType>String</dataType>
        <expression>$Label.Step_4_Change_Header</expression>
    </formulas>
    <interviewLabel>Changes Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Changes Subflow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Customer_Change_Claim_Record_Create</name>
        <label>Customer Change Claim Record Create</label>
        <locationX>1283</locationX>
        <locationY>779</locationY>
        <assignRecordIdToReference>ChangeRecordCreate</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Beam_Suntory_Item_Number__c</field>
            <value>
                <elementReference>Beam_Item_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Beam_Suntory_Order_Number__c</field>
            <value>
                <elementReference>Beam_Order_Number_CustomerChange</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Change_Description__c</field>
            <value>
                <elementReference>Change_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Change_Type__c</field>
            <value>
                <elementReference>Change_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactIdFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Customer Portal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Description__c</field>
            <value>
                <elementReference>Product_Description_CustomerChange</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Order_Number__c</field>
            <value>
                <elementReference>Purchase_Order_Number_CustomerChange</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity_Type__c</field>
            <value>
                <elementReference>Quantity_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>What_Type_of_Change</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Customer_Change_Claim_Record_Create_0</name>
        <label>Customer Change Claim Record Create</label>
        <locationX>1414</locationX>
        <locationY>949</locationY>
        <assignRecordIdToReference>ChangeRecordCreate</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Beam_Suntory_Order_Number__c</field>
            <value>
                <elementReference>Beam_Suntory_Order_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Change_Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Change_Type__c</field>
            <value>
                <elementReference>Change_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactIdFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Customer Portal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Order_Number__c</field>
            <value>
                <elementReference>Purchase_Order_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>What_Type_of_Change</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Document_Request_Record_Create</name>
        <label>Document Request Record Create</label>
        <locationX>1132</locationX>
        <locationY>1345</locationY>
        <assignRecordIdToReference>ChangeRecordCreate</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Beam_Suntory_Order_Number__c</field>
            <value>
                <elementReference>Beam_Suntory_Order_Number_DocRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactIdFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document_Change_Description__c</field>
            <value>
                <elementReference>Document_Change_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document_Types__c</field>
            <value>
                <elementReference>Document_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Customer Portal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Document_Type__c</field>
            <value>
                <elementReference>Other_Document_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Order_Number__c</field>
            <value>
                <elementReference>Purchase_Order_Number_DocRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>What_Type_of_Change</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Internal_Change_Record_Create</name>
        <label>Internal Change Record Create</label>
        <locationX>1010</locationX>
        <locationY>648</locationY>
        <assignRecordIdToReference>ChangeRecordCreate</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Beam_Suntory_Order_Number__c</field>
            <value>
                <elementReference>Beam_Suntory_Order_Number_Internal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactIdFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_Change_Description__c</field>
            <value>
                <elementReference>Internal_Change_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_Change_Picklist__c</field>
            <value>
                <elementReference>Internal_Change_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Customer Portal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Internal_Change__c</field>
            <value>
                <elementReference>Other_Internal_Change</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>What_Type_of_Change</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Outage_Record_Create</name>
        <label>Outage Record Create</label>
        <locationX>1141</locationX>
        <locationY>1609</locationY>
        <assignRecordIdToReference>ChangeRecordCreate</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Availability_Date_Known__c</field>
            <value>
                <elementReference>Availability_Date_Known</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Availability_Date__c</field>
            <value>
                <elementReference>Availability_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Beam_Suntory_Item_Number__c</field>
            <value>
                <elementReference>Item_Number_Outage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactIdFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Orders_Affected__c</field>
            <value>
                <elementReference>NumberofOrdersAffected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Customer Portal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Description__c</field>
            <value>
                <elementReference>Product_Description_Outage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>What_Type_of_Change</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>SKU_Sub_Record_Create</name>
        <label>SKU Sub Record Create</label>
        <locationX>846</locationX>
        <locationY>1094</locationY>
        <assignRecordIdToReference>ChangeRecordCreate</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Beam_Suntory_Item_Number__c</field>
            <value>
                <elementReference>Item_Number_SKUSub</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactIdFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_SKU__c</field>
            <value>
                <elementReference>New_SKU</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Orders_Affected__c</field>
            <value>
                <elementReference>NumberofOrdersAffectedSKUSub</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Description__c</field>
            <value>
                <elementReference>Product_Description_SKUSub</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>What_Type_of_Change</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Traffic_Change_Record_Create</name>
        <label>Traffic Change Record Create</label>
        <locationX>828</locationX>
        <locationY>377</locationY>
        <assignRecordIdToReference>ChangeRecordCreate</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Beam_Suntory_Order_Number__c</field>
            <value>
                <elementReference>Beam_Suntory_Order_Number_Traffic</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactIdFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Customer Portal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Traffic_Request_Reason__c</field>
            <value>
                <elementReference>Other_Traffic_Request_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Traffic_Request_Description__c</field>
            <value>
                <elementReference>Traffic_Request_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Traffic_Request_Reason__c</field>
            <value>
                <elementReference>Traffic_Request_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>What_Type_of_Change</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Case_Number</name>
        <label>Find Case Number</label>
        <locationX>1785</locationX>
        <locationY>924</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Number</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChangeRecordCreate</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseRecord</outputReference>
        <queriedFields>CaseNumber</queriedFields>
    </recordLookups>
    <screens>
        <name>Account_Update_Item_Set_Up</name>
        <label>Account Update / Item Set-Up</label>
        <locationX>1125</locationX>
        <locationY>779</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Customer_Change_Claim_Record_Create</targetReference>
        </connector>
        <fields>
            <name>HeaderMessage4</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Step_4_Change_Header}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!CS_Label_Customer_Change_Type} &lt;B&gt;{!Change_Type}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Change_Description</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Description}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN ({!Change_Description}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Add_Remove_Item</name>
        <label>Add/Remove Item</label>
        <locationX>1282</locationX>
        <locationY>874</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Customer_Change_Claim_Record_Create</targetReference>
        </connector>
        <fields>
            <name>HeaderMessage000</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Step_4_Change_Header}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!CS_Label_Customer_Change_Type} &lt;B&gt;{!Change_Type}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Beam_Order_Number_CustomerChange</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Beam_Suntory_Order_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 20</errorMessage>
                <formulaExpression>LEN ({!Beam_Order_Number_CustomerChange}) &lt;= 20</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Purchase_Order_Number_CustomerChange</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Purchase_Order_Number_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 20</errorMessage>
                <formulaExpression>LEN ({!Purchase_Order_Number_CustomerChange}) &lt;= 20</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>MultipleItemMessage</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Change_Multiple_Items_Text}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Beam_Item_Number</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Beam_Item_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>US110262; US110263; US1102624</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN ({!Beam_Item_Number}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Product_Description_CustomerChange</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Product_Description_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>Product - Size - Quantity
Jim Beam Fire - 750ml - 25</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN ({!Product_Description_CustomerChange}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Quantity_Type</name>
            <choiceReferences>QuantityTypePicker</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Quantity_Type_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Customer_Change_Information</name>
        <label>Change Information</label>
        <locationX>602</locationX>
        <locationY>930</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError_0_2</targetReference>
        </connector>
        <fields>
            <name>ChangeTypeMessage_CustomerChange</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Step3Change_Claim_Header}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!CS_Label_Change_Type} &lt;B&gt;{!What_Type_of_Change}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>errorMessage2</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Change_Type</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>ChangeType</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Customer_Change_Type}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Default_Screen</name>
        <label>Default Screen</label>
        <locationX>1280</locationX>
        <locationY>955</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Customer_Change_Claim_Record_Create_0</targetReference>
        </connector>
        <fields>
            <name>HeaderMessage5</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Step_4_Change_Header}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!CS_Label_Customer_Change_Type} &lt;B&gt;{!Change_Type}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Beam_Suntory_Order_Number</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Beam_Suntory_Order_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 20</errorMessage>
                <formulaExpression>LEN ({!Beam_Suntory_Order_Number}) &lt;= 20</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Purchase_Order_Number</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Purchase_Order_Number_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 20</errorMessage>
                <formulaExpression>LEN ({!Purchase_Order_Number}) &lt;= 20</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Description}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN ({!Description}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Document_Request_Information</name>
        <label>Change Information</label>
        <locationX>644</locationX>
        <locationY>1341</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError_1</targetReference>
        </connector>
        <fields>
            <name>ChangeTypeMessage_DocumentRequest</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Step3Change_Claim_Header}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!CS_Label_Change_Type} &lt;B&gt;{!What_Type_of_Change}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessage_1</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Document_Type</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>DocumentTypeList</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Document_Type}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_Document_Type</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Other_Document_Type</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Other_Document_Type}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 50</errorMessage>
                <formulaExpression>LEN ({!Other_Document_Type}) &lt;= 50</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Document_Change_Description</name>
            <defaultValue>
                <elementReference>Document_Change_Description</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Document_Change_Description}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN ({!Document_Change_Description}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Beam_Suntory_Order_Number_DocRequest</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Beam_Suntory_Order_Number_DocRequest</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Beam_Suntory_Order_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 20</errorMessage>
                <formulaExpression>LEN ({!Beam_Suntory_Order_Number_DocRequest}) &lt;= 20</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Purchase_Order_Number_DocRequest</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Purchase_Order_Number_DocRequest</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Purchase_Order_Number_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 30</errorMessage>
                <formulaExpression>LEN ({!Purchase_Order_Number_DocRequest}) &lt;= 30</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Internal_Change_Information</name>
        <label>Change Information</label>
        <locationX>512</locationX>
        <locationY>649</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError_0</targetReference>
        </connector>
        <fields>
            <name>ChangeTypeMessage_InternalChange</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Step3Change_Claim_Header}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!CS_Label_Change_Type} &lt;B&gt;{!What_Type_of_Change}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessage_0</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Beam_Suntory_Order_Number_Internal</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Beam_Suntory_Order_Number_Internal</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Beam_Suntory_Order_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 20</errorMessage>
                <formulaExpression>LEN ({!Beam_Suntory_Order_Number_Internal}) &lt;= 20</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Internal_Change_Type</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>InternalChange</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Internal_Change_Type_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_Internal_Change</name>
            <defaultValue>
                <elementReference>Other_Internal_Change</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Other_Internal_Change}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN ({!Other_Internal_Change}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Internal_Change_Description</name>
            <defaultValue>
                <elementReference>Internal_Change_Description</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Description}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN ({!Internal_Change_Description}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Order_Claim_Type</name>
        <label>Change Type</label>
        <locationX>7</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError_1_1</targetReference>
        </connector>
        <fields>
            <name>HeaderMessage</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Step_2_Change_Header}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt; {!Step_2_Change_Sub}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>errorMessage1</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_Type_of_Change</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>ChangeClaimType</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Change_Label_Type_of_Change}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Outage_Information</name>
        <label>Change Information</label>
        <locationX>487</locationX>
        <locationY>1611</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError_1_0</targetReference>
        </connector>
        <fields>
            <name>ChangeTypeMessage_Outage</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Step3Change_Claim_Header}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!CS_Label_Change_Type} &lt;B&gt;{!What_Type_of_Change}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>errorMessage3</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Item_Number_Outage</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Item_Number_Outage</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Beam_Item_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 8</errorMessage>
                <formulaExpression>LEN ({!Item_Number_Outage}) &lt;= 8</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Product_Description_Outage</name>
            <defaultValue>
                <elementReference>Product_Description_Outage</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Product_Description_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN ({!Product_Description_Outage}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Availability_Date_Known</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>AvailabilityDateKnown</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Availability_Date_Known_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Availability_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Availability_Date</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Availability_Date}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>NumberofOrdersAffected</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NumberofOrdersAffected</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Number_of_Orders_Affected}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 4</errorMessage>
                <formulaExpression>LEN ({!NumberofOrdersAffected}) &lt;= 4</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>SKU_Sub_Information</name>
        <label>Change Information</label>
        <locationX>719</locationX>
        <locationY>1091</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SKU_Sub_Record_Create</targetReference>
        </connector>
        <fields>
            <name>ChangeTypeMessage_SKUSub</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Step3Change_Claim_Header}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!CS_Label_Change_Type} &lt;B&gt;{!What_Type_of_Change}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Item_Number_SKUSub</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Beam_Item_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 8</errorMessage>
                <formulaExpression>LEN ({!Item_Number_SKUSub}) &lt;= 8</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>New_SKU</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!New_SKU_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 8</errorMessage>
                <formulaExpression>LEN ({!New_SKU}) &lt;= 8</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Product_Description_SKUSub</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Product_Description_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN ({!Product_Description_SKUSub}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>NumberofOrdersAffectedSKUSub</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!CS_Label_Number_of_Orders_Affected}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 4</errorMessage>
                <formulaExpression>LEN ({!NumberofOrdersAffectedSKUSub}) &lt;= 4</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Traffic_request_Change_Information</name>
        <label>Change Information</label>
        <locationX>343</locationX>
        <locationY>373</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError</targetReference>
        </connector>
        <fields>
            <name>ChangeTypeMessage_TrafficRequest</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Step3Change_Claim_Header}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!CS_Label_Change_Type}&lt;FONT KERNING=&quot;0&quot;&gt; &lt;B&gt;{!What_Type_of_Change}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_Traffic_Request</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Traffic_Request_Reason</name>
            <choiceReferences>Blank</choiceReferences>
            <choiceReferences>TrafficRequestReason</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Blank</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Traffic_Request_Reason}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_Traffic_Request_Reason</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Other_Traffic_Request_Reason</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Other_Traffic_Request_Reason}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 25</errorMessage>
                <formulaExpression>LEN ({!Other_Traffic_Request_Reason}) &lt;= 25</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Traffic_Request_Description</name>
            <defaultValue>
                <elementReference>Traffic_Request_Description</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Traffic_Request_Description}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 155</errorMessage>
                <formulaExpression>LEN ({!Traffic_Request_Description}) &lt;= 155</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Beam_Suntory_Order_Number_Traffic</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Beam_Suntory_Order_Number_Traffic</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Beam_Suntory_Order_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 20</errorMessage>
                <formulaExpression>LEN ({!Beam_Suntory_Order_Number}) &lt;= 20</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <startElementReference>Order_Claim_Type</startElementReference>
    <textTemplates>
        <name>ErrorMessage_Formatted</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!Error_Message_Formatted_Label}&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!RequiredFields}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RequiredFields_Formatted</name>
        <text>&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!RequiredField}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</text>
    </textTemplates>
    <variables>
        <name>AccessGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ChangeRecordCreate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactIdFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FlowLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiredField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiredFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SecondChoiceSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
