src/flows/Form_Selection_Master_Flow-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>ClearError</name>
        <label>ClearError</label>
        <locationX>96</locationX>
        <locationY>348</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_Master</name>
        <label>ClearError</label>
        <locationX>334</locationX>
        <locationY>351</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Record_Type_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError</name>
        <label>PrintError</label>
        <locationX>95</locationX>
        <locationY>200</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Form_Intro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField</name>
        <label>SetReqField</label>
        <locationX>217</locationX>
        <locationY>275</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Step1FormType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields</name>
        <label>SetReqFields</label>
        <locationX>214</locationX>
        <locationY>200</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Inquiry_Distributor</name>
        <choiceText>Inquiry (Distributor)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inquiry</stringValue>
        </value>
    </choices>
    <choices>
        <name>InquiryInternal</name>
        <choiceText>Inquiry (Internal)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inquiry (Internal)</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!NonePicklistLabel}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Orders</name>
        <choiceText>Orders</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Orders</stringValue>
        </value>
    </choices>
    <choices>
        <name>QualityClaim</name>
        <choiceText>QualityClaim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quality Claim</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CheckReq</name>
        <label>CheckReq</label>
        <locationX>215</locationX>
        <locationY>348</locationY>
        <defaultConnector>
            <targetReference>ClearError_Master</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FormTypePicker</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>FinishPageDecision</name>
        <label>FinishPageDecision</label>
        <locationX>1051</locationX>
        <locationY>454</locationY>
        <defaultConnector>
            <targetReference>Attach_Documentation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Sample_Finish_Page</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderTypeMaster</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sample</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SampleComplete</targetReference>
            </connector>
            <label>Sample Finish Page</label>
        </rules>
    </decisions>
    <decisions>
        <name>Form_Decision_Point</name>
        <label>Form Decision Point</label>
        <locationX>610</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Order_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FormTypePicker</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Orders</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Form_Subflow</targetReference>
            </connector>
            <label>Order Form</label>
        </rules>
        <rules>
            <name>Inquiry_Form_Internal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FormTypePicker</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inquiry (Internal)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inquiry_Form_Subflow</targetReference>
            </connector>
            <label>Inquiry Form Internal</label>
        </rules>
        <rules>
            <name>Inquiry_Form_Distributor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FormTypePicker</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inquiry_Distributor_Subflow</targetReference>
            </connector>
            <label>Inquiry Form Distributor</label>
        </rules>
        <rules>
            <name>Quality_Claim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FormTypePicker</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quality Claim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quality_Claim_Subflow</targetReference>
            </connector>
            <label>Quality Claim</label>
        </rules>
        <rules>
            <name>Order_Claim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FormTypePicker</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Claim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Claim_Subflow</targetReference>
            </connector>
            <label>Order Claim</label>
        </rules>
        <rules>
            <name>Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FormTypePicker</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Changes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Changes_Subflow</targetReference>
            </connector>
            <label>Change</label>
        </rules>
        <rules>
            <name>Escalated_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FormTypePicker</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalated Form</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Escalated_Form_Subflow</targetReference>
            </connector>
            <label>Escalated Form</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CaseType</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Access_Group__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;{!AccessGroupMaster}&quot;</stringValue>
            </value>
        </filters>
        <filters>
            <field>Language__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>FlowLanguageMaster</elementReference>
            </value>
        </filters>
        <object>Choice_Case_1st_Type__c</object>
        <outputAssignments>
            <assignToReference>FormTypeValueMaster</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
        <sortField>Sort_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>Attachment_Instructions_Order</name>
        <dataType>String</dataType>
        <expression>$Label.Attachment_Instructions_Order</expression>
    </formulas>
    <formulas>
        <name>Attachment_Instructions_Order_Claim</name>
        <dataType>String</dataType>
        <expression>$Label.Attachment_Instructions_Order_Claim</expression>
    </formulas>
    <formulas>
        <name>Attachment_Instructions_Quality_Claim</name>
        <dataType>String</dataType>
        <expression>$Label.Attachment_Instructions_Quality_Claim</expression>
    </formulas>
    <formulas>
        <name>AttachmentHeader</name>
        <dataType>String</dataType>
        <expression>$Label.Attachment_Header</expression>
    </formulas>
    <formulas>
        <name>ErrorMessageFormattedLabel</name>
        <dataType>String</dataType>
        <expression>$Label.Error_Message_Formatted_Label</expression>
    </formulas>
    <formulas>
        <name>FlowLanguageMaster</name>
        <dataType>String</dataType>
        <expression>IF({!UserLanguageMaster} = &quot;es&quot;, &quot;Español&quot;, &quot;English&quot;)</expression>
    </formulas>
    <formulas>
        <name>NonePicklistLabel</name>
        <dataType>String</dataType>
        <expression>$Label.None_Picklist</expression>
    </formulas>
    <formulas>
        <name>Step1FormType</name>
        <dataType>String</dataType>
        <expression>$Label.Step1_Form_Type</expression>
    </formulas>
    <formulas>
        <name>Step1Headers</name>
        <dataType>String</dataType>
        <expression>$Label.CS_Flow_Case_Submission_Step_1_Header</expression>
    </formulas>
    <formulas>
        <name>Step1SubHeader</name>
        <dataType>String</dataType>
        <expression>$Label.CS_Flow_Case_Submission_Step_1_Sub_Header</expression>
    </formulas>
    <formulas>
        <name>SubmissionCompleteHeader</name>
        <dataType>String</dataType>
        <expression>$Label.Submission_Complete_Header</expression>
    </formulas>
    <formulas>
        <name>SubmissionCompleteLine1</name>
        <dataType>String</dataType>
        <expression>$Label.Submission_Complete_Line_1</expression>
    </formulas>
    <formulas>
        <name>SubmissionCompleteLine2</name>
        <dataType>String</dataType>
        <expression>$Label.Submission_Complete_Line_2</expression>
    </formulas>
    <interviewLabel>Form Selection Master Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Form Selection Master Flow</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Find_Record_Type_Name</name>
        <label>Find Record Type Name</label>
        <locationX>470</locationX>
        <locationY>283</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Form_Decision_Point</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FormTypePicker</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Flow_Checkbox_Update</name>
        <label>Flow Checkbox Update</label>
        <locationX>1344</locationX>
        <locationY>218</locationY>
        <connector>
            <targetReference>Submission_Complete</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordIDMaster</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Attach_Documentation</name>
        <label>Attach Documentation</label>
        <locationX>1289</locationX>
        <locationY>319</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Flow_Checkbox_Update</targetReference>
        </connector>
        <fields>
            <name>MasterHeader</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!AttachmentHeader}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!Attachment_Instructions_Order}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!Attachment_Instructions_Order_Claim}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!Attachment_Instructions_Quality_Claim}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Form_Intro</name>
        <label>Form Intro</label>
        <locationX>97</locationX>
        <locationY>273</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError</targetReference>
        </connector>
        <fields>
            <name>Step1_Form_Intro</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Step1Headers}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!Step1SubHeader}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessageDisplay</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FormTypePicker</name>
            <choiceReferences>CaseType</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!Step1FormType}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>SampleComplete</name>
        <label>SampleComplete</label>
        <locationX>1439</locationX>
        <locationY>437</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SampleHeader</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Thank you! Confirmation of case assignment will be sent to you once the case has been picked up.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Submission_Complete</name>
        <label>Submission Complete</label>
        <locationX>1438</locationX>
        <locationY>312</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SubmissionCompleteText</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!SubmissionCompleteHeader}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!SubmissionCompleteLine1} &lt;B&gt;{!CaseNumberMaster}&lt;/B&gt;.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!SubmissionCompleteLine2}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Form_Intro</startElementReference>
    <subflows>
        <name>Changes_Subflow</name>
        <label>Changes Subflow</label>
        <locationX>789</locationX>
        <locationY>83</locationY>
        <connector>
            <targetReference>Attach_Documentation</targetReference>
        </connector>
        <flowName>Changes_Subflow</flowName>
        <inputAssignments>
            <name>RecordTypeID</name>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeName</name>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactIdFlow</name>
            <value>
                <elementReference>ContactIdFlowMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserProfile</name>
            <value>
                <elementReference>UserProfileMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowLanguage</name>
            <value>
                <elementReference>FlowLanguageMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AccessGroup</name>
            <value>
                <elementReference>AccessGroupMaster</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeID</assignToReference>
            <name>RecordTypeID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeName</assignToReference>
            <name>RecordTypeName</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordIDMaster</assignToReference>
            <name>ChangeRecordCreate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseNumberMaster</assignToReference>
            <name>CaseNumber</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UserLanguageMaster</assignToReference>
            <name>FlowLanguage</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Escalated_Form_Subflow</name>
        <label>Escalated Form</label>
        <locationX>810</locationX>
        <locationY>447</locationY>
        <connector>
            <targetReference>Attach_Documentation</targetReference>
        </connector>
        <flowName>Escalated_Form</flowName>
        <inputAssignments>
            <name>RecordTypeID</name>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeName</name>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactIdFlow</name>
            <value>
                <elementReference>ContactIdFlowMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EscalatedFormRecordCreate</name>
            <value>
                <elementReference>RecordIDMaster</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RecordIDMaster</assignToReference>
            <name>EscalatedFormRecordCreate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseNumberMaster</assignToReference>
            <name>CaseNumber</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeName</assignToReference>
            <name>RecordTypeName</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Inquiry_Distributor_Subflow</name>
        <label>Inquiry Distributor Subflow</label>
        <locationX>804</locationX>
        <locationY>294</locationY>
        <connector>
            <targetReference>Attach_Documentation</targetReference>
        </connector>
        <flowName>Inquiry_Distributor_Subflow</flowName>
        <inputAssignments>
            <name>RecordTypeId</name>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeName</name>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactIdFlow</name>
            <value>
                <elementReference>ContactIdFlowMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserProfile</name>
            <value>
                <elementReference>UserProfileMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowLanguage</name>
            <value>
                <elementReference>FlowLanguageMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AccessGroup</name>
            <value>
                <elementReference>AccessGroupMaster</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeID</assignToReference>
            <name>RecordTypeId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeName</assignToReference>
            <name>RecordTypeName</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactIdFlowMaster</assignToReference>
            <name>ContactIdFlow</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordIDMaster</assignToReference>
            <name>InquiryRecordCreate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseNumberMaster</assignToReference>
            <name>CaseNumber</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UserLanguageMaster</assignToReference>
            <name>FlowLanguage</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Inquiry_Form_Subflow</name>
        <label>Inquiry Form Subflow</label>
        <locationX>803</locationX>
        <locationY>367</locationY>
        <connector>
            <targetReference>Attach_Documentation</targetReference>
        </connector>
        <flowName>Inquiry_Form</flowName>
        <inputAssignments>
            <name>RecordTypeId</name>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeName</name>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactIdFlow</name>
            <value>
                <elementReference>ContactIdFlowMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserProfile</name>
            <value>
                <elementReference>UserProfileMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowLanguage</name>
            <value>
                <elementReference>FlowLanguageMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AccessGroup</name>
            <value>
                <elementReference>AccessGroupMaster</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeID</assignToReference>
            <name>RecordTypeId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeName</assignToReference>
            <name>RecordTypeName</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordIDMaster</assignToReference>
            <name>InquiryRecordCreate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseNumberMaster</assignToReference>
            <name>CaseNumber</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Order_Claim_Subflow</name>
        <label>Order Claim Subflow</label>
        <locationX>795</locationX>
        <locationY>147</locationY>
        <connector>
            <targetReference>Attach_Documentation</targetReference>
        </connector>
        <flowName>Order_Claim_Subflow</flowName>
        <inputAssignments>
            <name>RecordTypeID</name>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeName</name>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactIdFlow</name>
            <value>
                <elementReference>ContactIdFlowMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserProfile</name>
            <value>
                <elementReference>UserProfileMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SpecialCircumstance</name>
            <value>
                <elementReference>SpecialCircumstanceMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowLanguage</name>
            <value>
                <elementReference>FlowLanguageMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AccessGroup</name>
            <value>
                <elementReference>AccessGroupMaster</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeID</assignToReference>
            <name>RecordTypeID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeName</assignToReference>
            <name>RecordTypeName</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordIDMaster</assignToReference>
            <name>OrderClaimRecordCreate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseNumberMaster</assignToReference>
            <name>CaseNumber</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OrderClaimTypeValueMaster</assignToReference>
            <name>OrderClaimTypeValue</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UserLanguageMaster</assignToReference>
            <name>FlowLanguage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MasterIDAvailable</assignToReference>
            <name>SubFlowIDAvailable</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Order_Form_Subflow</name>
        <label>Order Form Subflow</label>
        <locationX>819</locationX>
        <locationY>538</locationY>
        <connector>
            <targetReference>FinishPageDecision</targetReference>
        </connector>
        <flowName>Order_Form</flowName>
        <inputAssignments>
            <name>RecordTypeName</name>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeId</name>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactIdFlow</name>
            <value>
                <elementReference>ContactIdFlowMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserProfile</name>
            <value>
                <elementReference>UserProfileMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FormTypeValue</name>
            <value>
                <elementReference>FormTypePicker</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowLanguage</name>
            <value>
                <elementReference>FlowLanguageMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AccessGroup</name>
            <value>
                <elementReference>AccessGroupMaster</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeName</assignToReference>
            <name>RecordTypeName</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeID</assignToReference>
            <name>RecordTypeId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordIDMaster</assignToReference>
            <name>OrderRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseNumberMaster</assignToReference>
            <name>CaseNumber</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FormTypeValueMaster</assignToReference>
            <name>FormTypeValue</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OrderTypeMaster</assignToReference>
            <name>OrderTypeSubflow</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UserLanguageMaster</assignToReference>
            <name>FlowLanguage</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Quality_Claim_Subflow</name>
        <label>Quality Claim Subflow</label>
        <locationX>799</locationX>
        <locationY>223</locationY>
        <connector>
            <targetReference>Attach_Documentation</targetReference>
        </connector>
        <flowName>Quality_Claim_Subflow</flowName>
        <inputAssignments>
            <name>RecordTypeID</name>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeName</name>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactIdFlow</name>
            <value>
                <elementReference>ContactIdFlowMaster</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeID</assignToReference>
            <name>RecordTypeID</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordTypeName</assignToReference>
            <name>RecordTypeName</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RecordIDMaster</assignToReference>
            <name>QualityClaimRecordCreate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseNumberMaster</assignToReference>
            <name>CaseNumber</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>ErrorMessage_Formatted</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!ErrorMessageFormattedLabel}&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!RequiredFields}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RequiredFields_Formatted</name>
        <text>&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!RequiredField}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</text>
    </textTemplates>
    <variables>
        <name>AccessGroupMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNumberMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactIdFlowMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FormTypeValueMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MasterCreatedByLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>English</stringValue>
        </value>
    </variables>
    <variables>
        <name>MasterIDAvailable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OrderClaimTypeValueMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>None</elementReference>
        </value>
    </variables>
    <variables>
        <name>OrderTypeMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordIDMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiredField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiredFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SpecialCircumstanceMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserLanguageMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserProfileMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
