src/flows/GBS_HR-8.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Case_Number</name>
        <label>Assign Case Number</label>
        <locationX>2258</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>CaseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPrimaryCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSecondaryCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Secondary_Category</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ClearError_0_0_1</name>
        <label>ClearError</label>
        <locationX>11</locationX>
        <locationY>511</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0_0_1_0</name>
        <label>ClearError</label>
        <locationX>1667</locationX>
        <locationY>545</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0_0_1_1</name>
        <label>ClearError</label>
        <locationX>473</locationX>
        <locationY>523</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HR_Cat_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0_0_1_1_0</name>
        <label>ClearError</label>
        <locationX>731</locationX>
        <locationY>529</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Suggested_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintDocs_0_1</name>
        <label>PrintDocs</label>
        <locationX>1026</locationX>
        <locationY>236</locationY>
        <assignmentItems>
            <assignToReference>SuggestedDocs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuildDocs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HR_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintDocs_0_1_1</name>
        <label>PrintDocs</label>
        <locationX>977</locationX>
        <locationY>137</locationY>
        <assignmentItems>
            <assignToReference>SuggestedDocs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuildDocs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HR_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintDocs_0_1_1_1_1</name>
        <label>PrintDocs</label>
        <locationX>919</locationX>
        <locationY>41</locationY>
        <assignmentItems>
            <assignToReference>SuggestedDocs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuildDocs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HR_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintDocs_0_1_2</name>
        <label>PrintDocs</label>
        <locationX>1103</locationX>
        <locationY>359</locationY>
        <assignmentItems>
            <assignToReference>SuggestedDocs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuildDocs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HR_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintDocs_0_1_2_0</name>
        <label>PrintDocs</label>
        <locationX>806</locationX>
        <locationY>696</locationY>
        <assignmentItems>
            <assignToReference>SuggestedDocs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuildDocs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HR_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintDocs_0_1_2_1</name>
        <label>PrintDocs</label>
        <locationX>1222</locationX>
        <locationY>483</locationY>
        <assignmentItems>
            <assignToReference>SuggestedDocs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuildDocs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HR_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintDocs_0_1_2_1_1</name>
        <label>PrintDocs</label>
        <locationX>1166</locationX>
        <locationY>634</locationY>
        <assignmentItems>
            <assignToReference>SuggestedDocs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuildDocs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HR_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintDocs_0_1_2_1_1_0</name>
        <label>PrintDocs</label>
        <locationX>949</locationX>
        <locationY>1228</locationY>
        <assignmentItems>
            <assignToReference>SuggestedDocs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuildDocs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HR_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintDocs_0_1_2_1_1_1</name>
        <label>PrintDocs</label>
        <locationX>1138</locationX>
        <locationY>746</locationY>
        <assignmentItems>
            <assignToReference>SuggestedDocs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuildDocs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HR_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintDocs_0_1_2_1_1_1_1</name>
        <label>PrintDocs</label>
        <locationX>1074</locationX>
        <locationY>855</locationY>
        <assignmentItems>
            <assignToReference>SuggestedDocs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuildDocs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HR_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintDocs_0_1_2_1_1_1_1_1</name>
        <label>PrintDocs</label>
        <locationX>1054</locationX>
        <locationY>951</locationY>
        <assignmentItems>
            <assignToReference>SuggestedDocs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuildDocs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HR_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintDocs_0_1_2_1_1_1_1_1_1</name>
        <label>PrintDocs</label>
        <locationX>1012</locationX>
        <locationY>1048</locationY>
        <assignmentItems>
            <assignToReference>SuggestedDocs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuildDocs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HR_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintDocs_0_1_2_1_1_1_1_1_1_1</name>
        <label>PrintDocs</label>
        <locationX>986</locationX>
        <locationY>1138</locationY>
        <assignmentItems>
            <assignToReference>SuggestedDocs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuildDocs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HR_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0_0_1</name>
        <label>PrintError</label>
        <locationX>12</locationX>
        <locationY>364</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HR_Cat_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0_0_1_0</name>
        <label>PrintError</label>
        <locationX>1537</locationX>
        <locationY>450</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HR_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0_0_1_1</name>
        <label>PrintError</label>
        <locationX>475</locationX>
        <locationY>373</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HR_Cat_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDoc1_1</name>
        <label>SetDoc1</label>
        <locationX>837</locationX>
        <locationY>114</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Benefit enrollments or changes due to a life event must be completed through the Beam Suntory Benefits Portal.&lt;br&gt; &lt;/br&gt; &lt;a HREF=&quot;https://bgsw1.sharepoint.com/Rewards/Pages/Benefits.aspx?Country=US&quot;&gt;Please click here&lt;/a&gt; and you will find the link to the benefits portal on the right hand side of that page.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintDocs_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDoc1_1_1</name>
        <label>SetDoc1</label>
        <locationX>586</locationX>
        <locationY>140</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;https://bgsw1.sharepoint.com/Rewards/Pages/Benefits.aspx?Country=US&quot;&gt;Health Benefits PDF&lt;/a&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintDocs_0_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDoc1_1_1_1_1</name>
        <label>SetDoc1</label>
        <locationX>692</locationX>
        <locationY>27</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;https://bgsw1.sharepoint.com/Rewards/Pages/Benefits.aspx?Country=US&quot;&gt;Tuition Reimbursement Application&lt;/a&gt;&lt;br&gt; &lt;/br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintDocs_0_1_1_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDoc1_1_2</name>
        <label>SetDoc1</label>
        <locationX>965</locationX>
        <locationY>363</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;https://bgsw1.sharepoint.com/Rewards/Pages/Benefits.aspx?Country=US&quot;&gt;Short Term Disability Policy&lt;/a&gt;&lt;br&gt; &lt;/br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintDocs_0_1_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDoc1_1_2_0</name>
        <label>SetDoc1</label>
        <locationX>680</locationX>
        <locationY>693</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;https://bgsw1.sharepoint.com/Rewards/Pages/Benefits.aspx?Country=US&quot;&gt;Long Term Disability Policy&lt;/a&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintDocs_0_1_2_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDoc1_1_2_1</name>
        <label>SetDoc1</label>
        <locationX>1082</locationX>
        <locationY>473</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;https://bgsw1.sharepoint.com/Rewards/Pages/Benefits.aspx?Country=US&quot;&gt;FMLA Policy&lt;/a&gt;&lt;br&gt; &lt;/br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintDocs_0_1_2_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDoc1_1_2_1_1</name>
        <label>SetDoc1</label>
        <locationX>1043</locationX>
        <locationY>634</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;https://bgsw1.sharepoint.com/Rewards/Pages/Benefits.aspx?Country=US&quot;&gt;Parental Leave Policy&lt;/a&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintDocs_0_1_2_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDoc1_1_2_1_1_0</name>
        <label>SetDoc1</label>
        <locationX>824</locationX>
        <locationY>1227</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>UFCW #: 888-773-8329  &lt;br&gt; &lt;/br&gt;Fax #: 201-569-1085  &lt;br&gt; &lt;/br&gt;&lt;a HREF=&quot;http://www.ufcwnationalfund.org/&quot;&gt;www.ufcwnationalfund.org/&lt;/a&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintDocs_0_1_2_1_1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDoc1_1_2_1_1_1</name>
        <label>SetDoc1</label>
        <locationX>1011</locationX>
        <locationY>747</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;http://www.401k.com&quot;&gt;www.401k.com&lt;/a&gt;&lt;br&gt; &lt;/br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Phone: 800-913-2363 (Salaried) &lt;br&gt; &lt;/br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Phone: 800-835-5097 (Union)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintDocs_0_1_2_1_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDoc1_1_2_1_1_1_1</name>
        <label>SetDoc1</label>
        <locationX>718</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;https://bgsw1.sharepoint.com/Rewards/Pages/Benefits.aspx?Country=US&quot;&gt;PTO Policy&lt;/a&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintDocs_0_1_2_1_1_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDoc1_1_2_1_1_1_1_1</name>
        <label>SetDoc1</label>
        <locationX>935</locationX>
        <locationY>948</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Beam Global Pension Center # 866-494-5514</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintDocs_0_1_2_1_1_1_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDoc1_1_2_1_1_1_1_1_1</name>
        <label>SetDoc1</label>
        <locationX>897</locationX>
        <locationY>1047</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;https://bgsw1.sharepoint.com/career-benefits/&quot;&gt;Stir - My Career and Benefits&lt;/a&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintDocs_0_1_2_1_1_1_1_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDoc1_1_2_1_1_1_1_1_1_1</name>
        <label>SetDoc1</label>
        <locationX>866</locationX>
        <locationY>1137</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;https://bgsw1.sharepoint.com/FormsPolicies/GBS/Personal%20Info%20Chg%20Form.pdf&quot;&gt;Personal Information Change&lt;/a&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintDocs_0_1_2_1_1_1_1_1_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_1</name>
        <label>SetReqField</label>
        <locationX>131</locationX>
        <locationY>437</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GBS_Label_Primary_Category</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_1_0</name>
        <label>SetReqField</label>
        <locationX>1789</locationX>
        <locationY>448</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Request Description &lt;br&gt; &lt;/br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_1_1</name>
        <label>SetReqField</label>
        <locationX>594</locationX>
        <locationY>449</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GBS_Label_Secondary_Category</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_1</name>
        <label>SetReqFields</label>
        <locationX>133</locationX>
        <locationY>366</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_1_0</name>
        <label>SetReqFields</label>
        <locationX>1660</locationX>
        <locationY>451</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0_0_1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_1_1</name>
        <label>SetReqFields</label>
        <locationX>596</locationX>
        <locationY>376</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0_0_1_1</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!None_Picklist}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>-- NONE --</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Another_Step_Required</name>
        <label>Another Step Required?</label>
        <locationX>298</locationX>
        <locationY>514</locationY>
        <defaultConnector>
            <targetReference>Suggested_Documents</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Third_Step_Required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Immigration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Relocation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClearError_0_0_1_1</targetReference>
            </connector>
            <label>Third Step Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_1</name>
        <label>CheckReq</label>
        <locationX>128</locationX>
        <locationY>511</locationY>
        <defaultConnector>
            <targetReference>Another_Step_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_1_0</name>
        <label>CheckReq</label>
        <locationX>1792</locationX>
        <locationY>546</locationY>
        <defaultConnector>
            <targetReference>HR_Record_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Address Change(s)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Personal Information Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Request_Description_Form_Field_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_1_0</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_1_1</name>
        <label>CheckReq</label>
        <locationX>595</locationX>
        <locationY>525</locationY>
        <defaultConnector>
            <targetReference>ClearError_0_0_1_1_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_1_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Suggested_Documents</name>
        <label>Suggested Documents</label>
        <locationX>903</locationX>
        <locationY>529</locationY>
        <defaultConnector>
            <targetReference>HR_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>HR_Tuition_Reimbursement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tuition Reimbursement Application</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDoc1_1_1_1_1</targetReference>
            </connector>
            <label>HR - Tuition Reimbursement</label>
        </rules>
        <rules>
            <name>HR_Health_Benefits</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medical</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dental</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vision</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Life Insurance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Health Care Flexible Spending (FSA)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dependent Care Flexible Spending (FSA)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Health Savings Account (HSA)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDoc1_1_1</targetReference>
            </connector>
            <label>HR - Health Benefits</label>
        </rules>
        <rules>
            <name>GMDM_Rebates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Family Status Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDoc1_1</targetReference>
            </connector>
            <label>HR - Health Benefits (Family Status)</label>
        </rules>
        <rules>
            <name>HR_Other_Employee_Benefits</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Short Term Disability</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDoc1_1_2</targetReference>
            </connector>
            <label>HR - Other Employee Benefits</label>
        </rules>
        <rules>
            <name>HR_FMLA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FMLA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDoc1_1_2_1</targetReference>
            </connector>
            <label>HR - FMLA</label>
        </rules>
        <rules>
            <name>HR_Parental_Leave</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Parental Leave</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDoc1_1_2_1_1</targetReference>
            </connector>
            <label>HR - Parental Leave</label>
        </rules>
        <rules>
            <name>HR_401k</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>401k</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDoc1_1_2_1_1_1</targetReference>
            </connector>
            <label>HR - 401k</label>
        </rules>
        <rules>
            <name>HR_PTO</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PTO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDoc1_1_2_1_1_1_1</targetReference>
            </connector>
            <label>HR - PTO</label>
        </rules>
        <rules>
            <name>HR_Retirement</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Union</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salaried</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDoc1_1_2_1_1_1_1_1</targetReference>
            </connector>
            <label>HR - Retirement</label>
        </rules>
        <rules>
            <name>HR_Address_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Address Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDoc1_1_2_1_1_1_1_1_1</targetReference>
            </connector>
            <label>HR - Address Change</label>
        </rules>
        <rules>
            <name>HR_Personal_Information_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Personal Information Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDoc1_1_2_1_1_1_1_1_1_1</targetReference>
            </connector>
            <label>HR - Personal Information Change</label>
        </rules>
        <rules>
            <name>HR_UFCW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UFCW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDoc1_1_2_1_1_0</targetReference>
            </connector>
            <label>HR - UFCW</label>
        </rules>
        <rules>
            <name>LT_Disability</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Long Term Disability</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDoc1_1_2_0</targetReference>
            </connector>
            <label>LT Disability</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AvailabilityDateKnown</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Availability_Date_Known__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseCat1</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Access_Groups__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varAccessGroup</elementReference>
            </value>
        </filters>
        <filters>
            <field>Customer_Priority__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;{!SpecialCircumstance}&quot;</stringValue>
            </value>
        </filters>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;{!masterCaseType}&quot;</stringValue>
            </value>
        </filters>
        <object>GBS_Case_2nd_Type__c</object>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseCat2</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Access_Groups__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varAccessGroup</elementReference>
            </value>
        </filters>
        <filters>
            <field>Customer_Priority__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;{!SpecialCircumstance}&quot;</stringValue>
            </value>
        </filters>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;{!Primary_Cateogry}&quot;</stringValue>
            </value>
        </filters>
        <object>GBS_Case_3rd_Type__c</object>
        <sortField>Sort__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseType</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>GBS_Picklist_Option__c</object>
        <outputAssignments>
            <assignToReference>GBSRecordTypeMaster</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChangeType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Change_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CompanyCodePicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Company_Code__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DocumentType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Document_Types__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InquiryType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Inquiry_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InternalChange</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Internal_Change_Picklist__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleChangesPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_Changes__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleCostCentersPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_Cost_Centers__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleCustomersPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_Customers__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleGLAccountsPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_GL_Accounts__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleSKUsPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_SKUs__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleVendorsPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_Vendors__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Region</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Region__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequestTypePicker</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;{!Secondary_Category}&quot;</stringValue>
            </value>
        </filters>
        <object>GBS_Picklist_Option__c</object>
        <outputAssignments>
            <assignToReference>RequestType</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TrafficRequestReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Traffic_Request_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>AddressChangeMessage</name>
        <dataType>String</dataType>
        <expression>IF({!Secondary_Category} = &quot;Address Change(s)&quot;, &quot;For address changes, please visit &lt;a href=https://bgsw1.sharepoint.com/career-benefits/&gt;STIR - My Career and Benefits&lt;/a&gt; to complete your online address change form.  Be sure to use Internet Explorer as your browser and use the VPN if accessing remotely.&quot;,

IF({!Secondary_Category} = &quot;Personal Information Change&quot;, &quot;For personal information change (i.e. name change), please complete the &lt;a href=https://bgsw1.sharepoint.com/FormsPolicies/GBS/Personal%20Info%20Chg%20Form.pdf&gt;Personal Information Change&lt;/a&gt; form and submit with the required documentation noted on this form.&quot;, &quot;&quot;)

)</expression>
    </formulas>
    <formulas>
        <name>Doc_PriceMasterMaintenance</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;www.beamsuntory.com&quot;,&quot;Price Master Maintenance Form&quot;)</expression>
    </formulas>
    <formulas>
        <name>Field_Length_Error_Message</name>
        <dataType>String</dataType>
        <expression>$Label.Field_Length_Error_Message</expression>
    </formulas>
    <formulas>
        <name>GBS_Breadcrumb_Trail</name>
        <dataType>String</dataType>
        <expression>{!masterCaseType}&amp;IF(ISBLANK({!Primary_Cateogry}), &quot;&quot;, &quot; &gt; &quot;&amp;{!Primary_Cateogry})&amp;IF(ISBLANK({!Secondary_Category}), &quot;&quot;, &quot; &gt; &quot;&amp;{!Secondary_Category})</expression>
    </formulas>
    <formulas>
        <name>GBS_Breadcrumbs</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Breadcrumbs</expression>
    </formulas>
    <formulas>
        <name>GBS_Error</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Error</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_1</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Header_1</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_2</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Header_2</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_3</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Header_3</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_4</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Header_4</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Primary_Category</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Primary_Category</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Request_Description</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Request_Description</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Secondary_Category</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Secondary_Category</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_SKU_Number</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_SKU_Number</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_1</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Sub_1</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_2</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Sub_2</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_3</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Sub_3</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_4</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Sub_4</expression>
    </formulas>
    <formulas>
        <name>GBS_Suggested_Docs</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Suggested_Docs</expression>
    </formulas>
    <formulas>
        <name>Label_Other</name>
        <dataType>String</dataType>
        <expression>{!$Label.CS_Flow_Picklist_Option_Other}</expression>
    </formulas>
    <formulas>
        <name>None_Picklist</name>
        <dataType>String</dataType>
        <expression>$Label.None_Picklist</expression>
    </formulas>
    <formulas>
        <name>PIChangMessage</name>
        <dataType>String</dataType>
        <expression>IF({!Secondary_Category} = &quot;Personal Information Change&quot;, &quot;For personal information change (i.e. name change), please complete the &lt;a href=https://bgsw1.sharepoint.com/FormsPolicies/GBS/Personal%20Info%20Chg%20Form.pdf&gt;Personal Information Change&lt;/a&gt; form and submit with the required documentation noted on this form.&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>GBS - HR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GBS - HR</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>HR_Record_Create</name>
        <label>HR- Record Create</label>
        <locationX>1998</locationX>
        <locationY>542</locationY>
        <assignRecordIdToReference>CaseRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_2__c</field>
            <value>
                <elementReference>Secondary_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Request_Description_Form_Field_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee_Number__c</field>
            <value>
                <elementReference>Employee_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012o0000000nbeo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Case_Number</name>
        <label>Find Case Number</label>
        <locationX>2130</locationX>
        <locationY>543</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Number</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseRecord</outputReference>
        <queriedFields>CaseNumber</queriedFields>
    </recordLookups>
    <screens>
        <name>HR_Cat_1</name>
        <label>HR Cat 1</label>
        <locationX>12</locationX>
        <locationY>438</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError_0_0_1</targetReference>
        </connector>
        <fields>
            <name>GBS_GMDM_Header_2_Text</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_2}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_Breadcrumbs_Text</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!masterCaseType}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_GMDM_Sub_2_Text</name>
            <fieldText>{!GBS_Sub_2} &lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_Error_Text</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Primary_Cateogry</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>CaseCat1</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Label_Primary_Category}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>HR_Cat_2</name>
        <label>HR Cat 2</label>
        <locationX>475</locationX>
        <locationY>448</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckReq_0_0_1_1</targetReference>
        </connector>
        <fields>
            <name>GBS_Header_3_Text</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_3}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_Breadcrumbs_Text_2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Breadcrumbs}  &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!masterCaseType}&lt;/B&gt;&lt;FONT KERNING=&quot;0&quot;&gt;&lt;B&gt; &amp;gt; {!Primary_Cateogry}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_Sub_3_Text</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Sub_3} &lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_Error_Text_2</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Secondary_Category</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>CaseCat2</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Label_Secondary_Category}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>HR_Form</name>
        <label>HR - Form</label>
        <locationX>1541</locationX>
        <locationY>543</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError_0_0_1_0</targetReference>
        </connector>
        <fields>
            <name>GMDMFormHeader_0_0_0_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!GBS_Breadcrumb_Trail}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Sub_4}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessageDisplay</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AddressChangeMessage_Display</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!AddressChangeMessage}&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;BR&gt; &lt;/BR&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Employee_Number</name>
            <dataType>String</dataType>
            <fieldText>Employee Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN({!Employee_Number}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Request_Description_Form_Field_1</name>
            <defaultValue>
                <elementReference>Request_Description_Form_Field_1</elementReference>
            </defaultValue>
            <fieldText>Request Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Request_Description_Form_Field_1}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>SuggestedDocsHeader_0_0_0_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Suggested_Docs}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SuggestedDocuments_0_0_0_1</name>
            <fieldText>{!SuggestedDocs}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>HR_Cat_1</startElementReference>
    <textTemplates>
        <name>BuildDocs</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!DocLink}&lt;/FONT&gt;&lt;/SPAN&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ErrorMessage_Formatted</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Error}&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!RequiredFields}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RequiredFields_Formatted</name>
        <text>&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!RequiredField}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</text>
    </textTemplates>
    <variables>
        <name>Case_Record_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ChangeRecordCreate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactIdFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DisplayDocuments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DocLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DocLinks</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>GBSRecordTypeMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GMDM_Case_Record</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HR_Create_Record</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>masterCaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrimaryCatMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiredField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiredFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SecondaryCatMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SecondChoiceSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SpecialCircumstance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SuggestedDocs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccessGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPrimaryCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSecondaryCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
