src/flows/GBS_GMDM-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Case_Number</name>
        <label>Assign Case Number</label>
        <locationX>2910</locationX>
        <locationY>855</locationY>
        <assignmentItems>
            <assignToReference>CaseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPrimaryCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSecondaryCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Secondary_Category</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestType</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ClearError_0_0_0_0</name>
        <label>ClearError</label>
        <locationX>982</locationX>
        <locationY>210</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0_0_0_0_1</name>
        <label>ClearError</label>
        <locationX>1035</locationX>
        <locationY>1228</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_0_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0_0_0_0_1_2</name>
        <label>ClearError</label>
        <locationX>814</locationX>
        <locationY>1747</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_0_0_1_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0_0_1</name>
        <label>ClearError</label>
        <locationX>33</locationX>
        <locationY>1045</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0_0_1_1</name>
        <label>ClearError</label>
        <locationX>526</locationX>
        <locationY>1045</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GMDM_Cat_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0_0_1_1_0</name>
        <label>ClearError</label>
        <locationX>786</locationX>
        <locationY>957</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Suggested_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0_0_1_1_1</name>
        <label>ClearError</label>
        <locationX>504</locationX>
        <locationY>1431</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_1_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintDocs_0</name>
        <label>PrintDocs</label>
        <locationX>983</locationX>
        <locationY>286</locationY>
        <assignmentItems>
            <assignToReference>SuggestedDocs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuildDocs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GMDM_Request_Description</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintDocs_0_0</name>
        <label>PrintDocs</label>
        <locationX>1905</locationX>
        <locationY>1021</locationY>
        <assignmentItems>
            <assignToReference>SuggestedDocs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuildDocs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GMDM_EDW_Mapping</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintDocs_0_0_2</name>
        <label>PrintDocs</label>
        <locationX>365</locationX>
        <locationY>1360</locationY>
        <assignmentItems>
            <assignToReference>SuggestedDocs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuildDocs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GMDM_Center_Account_Create_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintDocs_0_1</name>
        <label>PrintDocs</label>
        <locationX>1158</locationX>
        <locationY>1149</locationY>
        <assignmentItems>
            <assignToReference>SuggestedDocs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuildDocs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GMDM_Cost_Center_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintDocs_0_1_2</name>
        <label>PrintDocs</label>
        <locationX>932</locationX>
        <locationY>1661</locationY>
        <assignmentItems>
            <assignToReference>SuggestedDocs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuildDocs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GMDM_GL_Account_Change_Extend_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0_0_0_0</name>
        <label>PrintError</label>
        <locationX>862</locationX>
        <locationY>62</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GMDM_Request_Description</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0_0_0_0_1</name>
        <label>PrintError</label>
        <locationX>1415</locationX>
        <locationY>1148</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GMDM_Cost_Center_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0_0_0_0_1_2_1</name>
        <label>PrintError</label>
        <locationX>1202</locationX>
        <locationY>1669</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GMDM_GL_Account_Change_Extend_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0_0_1</name>
        <label>PrintError</label>
        <locationX>35</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GMDM_Cat_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0_0_1_1</name>
        <label>PrintError</label>
        <locationX>525</locationX>
        <locationY>895</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GMDM_Cat_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0_0_1_1_1</name>
        <label>PrintError</label>
        <locationX>637</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GMDM_Center_Account_Create_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDoc1</name>
        <label>SetDoc1</label>
        <locationX>987</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;https://beamsuntory--beamcm--c.cs18.content.force.com/servlet/fileField?id=0BE11000000IiNS&quot;&gt;GBS GMDM Pricing Template&lt;/a&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintDocs_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDoc1_0</name>
        <label>SetDoc1</label>
        <locationX>1778</locationX>
        <locationY>1021</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;https://beamsuntory--beamcm--c.cs18.content.force.com/servlet/fileField?id=0BE11000000IiNc&quot;&gt;GL Request Form&lt;/a&gt;&lt;br&gt; &lt;/br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;https://beamsuntory--beamcm--c.cs18.content.force.com/servlet/fileField?id=0BE11000000IiO6&quot;&gt;Cost Center Request Form&lt;/a&gt;&lt;br&gt; &lt;/br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintDocs_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDoc1_0_1</name>
        <label>SetDoc1</label>
        <locationX>206</locationX>
        <locationY>1315</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;https://beamsuntory--beamcm--c.cs18.content.force.com/servlet/fileField?id=0BE11000000IiO6&quot;&gt;Cost Center Request Form&lt;/a&gt;&lt;br&gt; &lt;/br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintDocs_0_0_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDoc1_0_1_2</name>
        <label>SetDoc1</label>
        <locationX>207</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;http://www.sonos.com&quot;&gt;GL  Request Form&lt;/a&gt;&lt;br&gt; &lt;/br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintDocs_0_0_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDoc1_1</name>
        <label>SetDoc1</label>
        <locationX>1036</locationX>
        <locationY>1148</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;https://beamsuntory--beamcm--c.cs18.content.force.com/servlet/fileField?id=0BE11000000IiO6&quot;&gt;Cost Center Request Form&lt;/a&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintDocs_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDoc1_1_2</name>
        <label>SetDoc1</label>
        <locationX>811</locationX>
        <locationY>1660</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;https://beamsuntory--beamcm--c.cs18.content.force.com/servlet/fileField?id=0BE11000000IiNc&quot;&gt;GL Request Form&lt;/a&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintDocs_0_1_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_0_0</name>
        <label>SetReqField</label>
        <locationX>1105</locationX>
        <locationY>133</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Request Description</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_0_0_2</name>
        <label>SetReqField</label>
        <locationX>1287</locationX>
        <locationY>1228</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GL Account / Cost Center</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_0_0_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_0_0_2_2</name>
        <label>SetReqField</label>
        <locationX>1073</locationX>
        <locationY>1752</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GL Account / Cost Center</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_0_0_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_0_0_2_2_1</name>
        <label>SetReqField</label>
        <locationX>1314</locationX>
        <locationY>1326</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Request Type</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_0_0_2_2_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_1</name>
        <label>SetReqField</label>
        <locationX>156</locationX>
        <locationY>965</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GBS_Label_Primary_Category</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_1_1</name>
        <label>SetReqField</label>
        <locationX>644</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GBS_Label_Secondary_Category</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_1_1_1</name>
        <label>SetReqField</label>
        <locationX>629</locationX>
        <locationY>1512</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Multiple?</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_1_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_0_0</name>
        <label>SetReqFields</label>
        <locationX>1102</locationX>
        <locationY>56</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_0_0_2</name>
        <label>SetReqFields</label>
        <locationX>1416</locationX>
        <locationY>1229</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_0_0_1_2_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_0_0_2_2</name>
        <label>SetReqFields</label>
        <locationX>1201</locationX>
        <locationY>1750</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0_0_0_0_1_2_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_0_0_2_2_1</name>
        <label>SetReqFields</label>
        <locationX>1442</locationX>
        <locationY>1326</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0_0_0_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_1</name>
        <label>SetReqFields</label>
        <locationX>159</locationX>
        <locationY>892</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_1_1</name>
        <label>SetReqFields</label>
        <locationX>648</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0_0_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_1_1_1</name>
        <label>SetReqFields</label>
        <locationX>632</locationX>
        <locationY>1432</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0_0_1_1_1</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Americas</name>
        <choiceText>Americas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Americas</stringValue>
        </value>
    </choices>
    <choices>
        <name>APSA</name>
        <choiceText>APSA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>APSA</stringValue>
        </value>
    </choices>
    <choices>
        <name>EMEA</name>
        <choiceText>EMEA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EMEA</stringValue>
        </value>
    </choices>
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!None_Picklist}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>-- NONE --</stringValue>
        </value>
    </choices>
    <decisions>
        <name>AttachDocsCenterAccountCreate</name>
        <label>AttachDocsCenterAccountCreate</label>
        <locationX>58</locationX>
        <locationY>1357</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Cost_Center</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cost Center Create</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDoc1_0_1</targetReference>
            </connector>
            <label>Cost Center?</label>
        </rules>
        <rules>
            <name>GL_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GL Account Create</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDoc1_0_1_2</targetReference>
            </connector>
            <label>GL Account?</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_0_0</name>
        <label>CheckReq</label>
        <locationX>1107</locationX>
        <locationY>212</locationY>
        <defaultConnector>
            <targetReference>GMDM_Material_Create_Create_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_0_0</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Formulas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOMS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Hierarchy Maintenance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inquiries</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Request_Description_Form_Field</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_0_0</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_0_0_1</name>
        <label>CheckReq</label>
        <locationX>1158</locationX>
        <locationY>1228</locationY>
        <defaultConnector>
            <targetReference>CheckReq_0_0_0_0_1_2_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_0_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Multiple_Cost_Centers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GL_Account_Cost_Center_Change_Form</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_0_0_2</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_0_0_1_2</name>
        <label>CheckReq</label>
        <locationX>939</locationX>
        <locationY>1751</locationY>
        <defaultConnector>
            <targetReference>GMDM_Material_Create_Create_0_0_2_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_0_0_1_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Multiple_GL_Accounts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GL_Account_Cost_Center_GLAcctChangeExt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_0_0_2_2</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_0_0_1_2_1</name>
        <label>CheckReq</label>
        <locationX>1154</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>CheckReq_0_0_0_0_1_2_1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_0_0_1_2_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Request_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_0_0_2_2_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_0_0_1_2_1_1</name>
        <label>CheckReq</label>
        <locationX>1157</locationX>
        <locationY>1410</locationY>
        <defaultConnector>
            <targetReference>GMDM_Material_Create_Create_0_0_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_0_0_1_2_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorNum</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PrintError_0_0_0_0_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_1</name>
        <label>CheckReq</label>
        <locationX>155</locationX>
        <locationY>1046</locationY>
        <defaultConnector>
            <targetReference>Secondary_Category_Eval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_1_1</name>
        <label>CheckReq</label>
        <locationX>650</locationX>
        <locationY>1046</locationY>
        <defaultConnector>
            <targetReference>ClearError_0_0_1_1_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_1_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_1_1_1</name>
        <label>CheckReq</label>
        <locationX>508</locationX>
        <locationY>1509</locationY>
        <defaultConnector>
            <targetReference>GMDM_Material_Create_Create_0_0_1_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_1_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Multiple</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_1_1_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>PriceMaster</name>
        <label>PriceMaster?</label>
        <locationX>871</locationX>
        <locationY>361</locationY>
        <defaultConnector>
            <targetReference>GMDM_Request_Description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Price_Master_Attach_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Price Master Maintenance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDoc1</targetReference>
            </connector>
            <label>Price Master Attach Records?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Secondary_Category_Eval</name>
        <label>Secondary Category Eval</label>
        <locationX>335</locationX>
        <locationY>1046</locationY>
        <defaultConnector>
            <targetReference>ClearError_0_0_1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Secondary_Category_Eval2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GMDM Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClearError_0_0_1_1_0</targetReference>
            </connector>
            <label>Secondary Category_Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Suggested_Documents</name>
        <label>Suggested Documents</label>
        <locationX>924</locationX>
        <locationY>910</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>GMDM_Materials_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Material Create</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MaterialsCreateRT</targetReference>
            </connector>
            <label>GMDM - Materials Create</label>
        </rules>
        <rules>
            <name>GMDM_Material_Change_Extension</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Material Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Material Extension</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MaterialsCreateRT_0</targetReference>
            </connector>
            <label>GMDM - Material Change &amp; Extension</label>
        </rules>
        <rules>
            <name>GMDM_Request_Description_Form_Chooser</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Formulas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOMS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Hierarchy Maintenance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Inquiries</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Price Master Maintenance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GMDM Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inquiries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MaterialsCreateRT_0_0</targetReference>
            </connector>
            <label>GMDM - Request Description</label>
        </rules>
        <rules>
            <name>GMDM_Rebates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rebates</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MaterialsCreateRT_0_0_0</targetReference>
            </connector>
            <label>GMDM - Rebates</label>
        </rules>
        <rules>
            <name>GMDM_Customer_Master_Maintenance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Master Maintenance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MaterialsCreateRT_0_0_0_0</targetReference>
            </connector>
            <label>GMDM - Customer Master Maintenance</label>
        </rules>
        <rules>
            <name>GMDM_Customer_Hierarchy_Maintenance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Hierarchy Maintenance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MaterialsCreateRT_0_0_0_0_0</targetReference>
            </connector>
            <label>GMDM - Customer Hierarchy Maintenance</label>
        </rules>
        <rules>
            <name>GMDM_Vendor_Master_Maintenance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vendor Master Maintenance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MaterialsCreateRT_0_0_0_0_0_0</targetReference>
            </connector>
            <label>GMDM - Vendor Master Maintenance</label>
        </rules>
        <rules>
            <name>GMDM_EDW_Mapping_Maintenance2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EDW Mapping Maintenance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MaterialsCreateRT_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>GMDM - EDW Mapping Maintenance</label>
        </rules>
        <rules>
            <name>GMDM_Center_Account_Create</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GL Account Create</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cost Center Create</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MaterialsCreateRT_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>GMDM - Center Account Create</label>
        </rules>
        <rules>
            <name>Cost_Center_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cost Center Change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MaterialsCreateRT_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Cost Center Change</label>
        </rules>
        <rules>
            <name>GMDM_GL_Account_Change_Extend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GL Account Change/Extend</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MaterialsCreateRT_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>GMDM - GL Account Change / Extend</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AvailabilityDateKnown</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Availability_Date_Known__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseCat1</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </filters>
        <object>GBS_Case_2nd_Type__c</object>
        <outputAssignments>
            <assignToReference>varPrimaryCategory</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
        <sortField>Sort__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseCat2</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;{!Primary_Cateogry}&quot;</stringValue>
            </value>
        </filters>
        <object>GBS_Case_3rd_Type__c</object>
        <outputAssignments>
            <assignToReference>varSecondaryCategory</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseType</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>GBS_Picklist_Option__c</object>
        <outputAssignments>
            <assignToReference>GBSRecordTypeMaster</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChangeType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Change_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CompanyCodePicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Company_Code__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DocumentType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Document_Types__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InquiryType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Inquiry_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InternalChange</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Internal_Change_Picklist__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleChangesPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_Changes__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleCostCentersPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_Cost_Centers__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleCustomersPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_Customers__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleGLAccountsPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_GL_Accounts__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultiplePicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleSKUsPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_SKUs__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleVendorsPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_Vendors__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Region</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Region__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequestTypePicker</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;{!Secondary_Category}&quot;</stringValue>
            </value>
        </filters>
        <object>GBS_Case_4th_Type__c</object>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TrafficRequestReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Traffic_Request_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Doc_PriceMasterMaintenance</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;www.beamsuntory.com&quot;,&quot;Price Master Maintenance Form&quot;)</expression>
    </formulas>
    <formulas>
        <name>Field_Length_Error_Message</name>
        <dataType>String</dataType>
        <expression>$Label.Field_Length_Error_Message</expression>
    </formulas>
    <formulas>
        <name>GBS_Breadcrumb_Trail</name>
        <dataType>String</dataType>
        <expression>{!masterCaseType}&amp;IF(ISBLANK({!Primary_Cateogry}), &quot;&quot;, &quot; &gt; &quot;&amp;{!Primary_Cateogry})&amp;IF(ISBLANK({!Secondary_Category}), &quot;&quot;, &quot; &gt; &quot;&amp;{!Secondary_Category})</expression>
    </formulas>
    <formulas>
        <name>GBS_Breadcrumbs</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Breadcrumbs</expression>
    </formulas>
    <formulas>
        <name>GBS_Error</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Error</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_1</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Header_1</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_2</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Header_2</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_3</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Header_3</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_4</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Header_4</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Primary_Category</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Primary_Category</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Request_Description</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Request_Description</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Secondary_Category</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Secondary_Category</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_SKU_Number</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_SKU_Number</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_1</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Sub_1</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_2</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Sub_2</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_3</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Sub_3</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_4</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Sub_4</expression>
    </formulas>
    <formulas>
        <name>GBS_Suggested_Docs</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Suggested_Docs</expression>
    </formulas>
    <formulas>
        <name>Label_Other</name>
        <dataType>String</dataType>
        <expression>{!$Label.CS_Flow_Picklist_Option_Other}</expression>
    </formulas>
    <formulas>
        <name>None_Picklist</name>
        <dataType>String</dataType>
        <expression>$Label.None_Picklist</expression>
    </formulas>
    <interviewLabel>GBS - GMDM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GBS - GMDM</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>GMDM_Material_Create_Create</name>
        <label>GMDM - Material Create Create</label>
        <locationX>412</locationX>
        <locationY>576</locationY>
        <assignRecordIdToReference>GMDM_Case_Record</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_2__c</field>
            <value>
                <elementReference>Secondary_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Request_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiple_SKUs__c</field>
            <value>
                <elementReference>Multiple_SKUs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCaseRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SKU__c</field>
            <value>
                <elementReference>SKU_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>GMDM_Material_Create_Create_0</name>
        <label>GMDM - Material Create Create</label>
        <locationX>624</locationX>
        <locationY>408</locationY>
        <assignRecordIdToReference>GMDM_Case_Record</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_2__c</field>
            <value>
                <elementReference>Secondary_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Code__c</field>
            <value>
                <elementReference>Company_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Request_Description_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribution_Channel__c</field>
            <value>
                <elementReference>Distribution_Channel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiple_SKUs__c</field>
            <value>
                <elementReference>Multiple_SKUs_ChangeExt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCaseRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SKU__c</field>
            <value>
                <elementReference>SKU_Number_ChangeExt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Org__c</field>
            <value>
                <elementReference>Sales_Org</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>GMDM_Material_Create_Create_0_0</name>
        <label>GMDM - Material Create Create</label>
        <locationX>1229</locationX>
        <locationY>216</locationY>
        <assignRecordIdToReference>GMDM_Case_Record</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_2__c</field>
            <value>
                <elementReference>Secondary_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Request_Description_Form_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCaseRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>GMDM_Material_Create_Create_0_0_1</name>
        <label>GMDM - Material Create Create</label>
        <locationX>2182</locationX>
        <locationY>984</locationY>
        <assignRecordIdToReference>GMDM_Case_Record</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_2__c</field>
            <value>
                <elementReference>Secondary_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Request_Description_EDW_Mapping</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Effective_Start_Date_of_Change__c</field>
            <value>
                <elementReference>Effective_Start_Date_of_Change</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GL_Account_Cost_Center__c</field>
            <value>
                <elementReference>GL_Account_Cost_Center</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCaseRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>Region_EDW_Mapping</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>GMDM_Material_Create_Create_0_0_1_2</name>
        <label>GMDM - Material Create Create</label>
        <locationX>509</locationX>
        <locationY>1645</locationY>
        <assignRecordIdToReference>GMDM_Case_Record</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_2__c</field>
            <value>
                <elementReference>Secondary_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Request_Description_Center_Account_Create</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiple__c</field>
            <value>
                <elementReference>Multiple</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCaseRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>Region_Center_Account_Create</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>GMDM_Material_Create_Create_0_0_2</name>
        <label>GMDM - Material Create Create</label>
        <locationX>1159</locationX>
        <locationY>1501</locationY>
        <assignRecordIdToReference>GMDM_Case_Record</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_2__c</field>
            <value>
                <elementReference>Secondary_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Request_Description_Form_Field_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GL_Account_Cost_Center__c</field>
            <value>
                <elementReference>GL_Account_Cost_Center_Change_Form</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiple_Cost_Centers__c</field>
            <value>
                <elementReference>Multiple_Cost_Centers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCaseRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <elementReference>Request_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>GMDM_Material_Create_Create_0_0_2_2</name>
        <label>GMDM - Material Create Create</label>
        <locationX>940</locationX>
        <locationY>1856</locationY>
        <assignRecordIdToReference>GMDM_Case_Record</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_2__c</field>
            <value>
                <elementReference>Secondary_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Code__c</field>
            <value>
                <elementReference>Company_Code_GLAcctChangeExt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Request_Description_GLAcctChangeExt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GL_Account_Cost_Center__c</field>
            <value>
                <elementReference>GL_Account_Cost_Center_GLAcctChangeExt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiple_GL_Accounts__c</field>
            <value>
                <elementReference>Multiple_GL_Accounts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCaseRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>GMDM_Material_Create_Create_0_1</name>
        <label>GMDM - Material Create Create</label>
        <locationX>1814</locationX>
        <locationY>337</locationY>
        <assignRecordIdToReference>GMDM_Case_Record</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_2__c</field>
            <value>
                <elementReference>Secondary_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Code__c</field>
            <value>
                <elementReference>Company_Code_Customer_Main_Form</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Number__c</field>
            <value>
                <elementReference>Customer_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Request_Description_0_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribution_Channel__c</field>
            <value>
                <elementReference>Distribution_Channel2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiple_Customers__c</field>
            <value>
                <elementReference>Multiple_Customers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCaseRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Org__c</field>
            <value>
                <elementReference>Sales_Org_Customer_Main_Form</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>GMDM_Material_Create_Create_0_1_2</name>
        <label>GMDM - Material Create Create</label>
        <locationX>2027</locationX>
        <locationY>632</locationY>
        <assignRecordIdToReference>GMDM_Case_Record</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_2__c</field>
            <value>
                <elementReference>Secondary_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Code__c</field>
            <value>
                <elementReference>Company_Code_Vendor_Main_Form</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Request_Description_Vendor_Main_Form</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distribution_Channel__c</field>
            <value>
                <elementReference>Distribution_Channel3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multiple_Vendors__c</field>
            <value>
                <elementReference>Multiple_Vendors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCaseRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Org__c</field>
            <value>
                <elementReference>Sales_Org_Vendor_Main_Form</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor_Number__c</field>
            <value>
                <elementReference>Vendor_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>GMDM_Material_Create_Create_0_2</name>
        <label>GMDM - Material Create Create</label>
        <locationX>1819</locationX>
        <locationY>487</locationY>
        <assignRecordIdToReference>GMDM_Case_Record</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_2__c</field>
            <value>
                <elementReference>Secondary_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Number__c</field>
            <value>
                <elementReference>Customer_Number_Cust_Hiearchy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Request_Description_0_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCaseRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>GMDM_Material_Create_Create_1</name>
        <label>GMDM - Material Create Create</label>
        <locationX>1241</locationX>
        <locationY>475</locationY>
        <assignRecordIdToReference>GMDM_Case_Record</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_2__c</field>
            <value>
                <elementReference>Secondary_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Request_Description_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rebate_Number__c</field>
            <value>
                <elementReference>Rebate_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCaseRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Case_Number</name>
        <label>Find Case Number</label>
        <locationX>2785</locationX>
        <locationY>855</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Number</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GMDM_Case_Record</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseRecord</outputReference>
        <queriedFields>CaseNumber</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>MaterialsCreateRT</name>
        <label>MaterialsCreateRT</label>
        <locationX>342</locationX>
        <locationY>660</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GMDM_Material_Create</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GMDM_Materials</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MaterialsCreateRT_0</name>
        <label>MaterialsCreateRT</label>
        <locationX>572</locationX>
        <locationY>491</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GMDM_Material_Change_Form</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GMDM_Materials</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MaterialsCreateRT_0_0</name>
        <label>MaterialsCreateRT</label>
        <locationX>873</locationX>
        <locationY>439</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PriceMaster</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GMDM_Simple_Request</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MaterialsCreateRT_0_0_0</name>
        <label>MaterialsCreateRT</label>
        <locationX>1108</locationX>
        <locationY>546</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GMDM_Material_Create_0</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GMDM_Rebates</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MaterialsCreateRT_0_0_0_0</name>
        <label>MaterialsCreateRT</label>
        <locationX>1560</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GMDM_Customer_Master_Maintenance_Form</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GMDM_Customer_Maintenance</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MaterialsCreateRT_0_0_0_0_0</name>
        <label>MaterialsCreateRT</label>
        <locationX>1572</locationX>
        <locationY>493</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GMDM_Customer_Hierarchy_Maintenance_Form</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GMDM_Customer_Hierarchy</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MaterialsCreateRT_0_0_0_0_0_0</name>
        <label>MaterialsCreateRT</label>
        <locationX>1777</locationX>
        <locationY>636</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GMDM_Vendor_Master_Maintenance_Form</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GMDM_Vendor_Maintenance</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MaterialsCreateRT_0_0_0_0_0_0_0</name>
        <label>MaterialsCreateRT</label>
        <locationX>1635</locationX>
        <locationY>977</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetDoc1_0</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GMDM_EDW_Mapping</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MaterialsCreateRT_0_0_0_0_0_0_0_0</name>
        <label>MaterialsCreateRT</label>
        <locationX>1035</locationX>
        <locationY>1067</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetDoc1_1</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GMDM_Center_Change</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MaterialsCreateRT_0_0_0_0_0_0_0_0_0</name>
        <label>MaterialsCreateRT</label>
        <locationX>831</locationX>
        <locationY>1566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetDoc1_1_2</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GMDM_Account_Change_Extend</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>MaterialsCreateRT_0_0_0_0_0_0_0_0_0_0</name>
        <label>MaterialsCreateRT</label>
        <locationX>62</locationX>
        <locationY>1279</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AttachDocsCenterAccountCreate</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GMDM_Center_Account_Create</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>GMDM_Cat_1</name>
        <label>GMDM Cat 1</label>
        <locationX>37</locationX>
        <locationY>962</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError_0_0_1</targetReference>
        </connector>
        <fields>
            <name>GBS_GMDM_Header_2_Text</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_2}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_Breadcrumbs_Text</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!masterCaseType}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_GMDM_Sub_2_Text</name>
            <fieldText>{!GBS_Sub_2} &lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_Error_Text</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Primary_Cateogry</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>CaseCat1</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Label_Primary_Category}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>GMDM_Cat_2</name>
        <label>GMDM Cat 2</label>
        <locationX>526</locationX>
        <locationY>970</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckReq_0_0_1_1</targetReference>
        </connector>
        <fields>
            <name>GBS_Header_3_Text</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_3}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_Breadcrumbs_Text_2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs} &lt;B&gt; {!masterCaseType} &amp;gt; {!Primary_Cateogry}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_Sub_3_Text</name>
            <fieldText>{!GBS_Sub_3} &lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_Error_Text_2</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Secondary_Category</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>CaseCat2</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Label_Secondary_Category}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>GMDM_Center_Account_Create_Form</name>
        <label>GMDM - Center Account Create</label>
        <locationX>506</locationX>
        <locationY>1354</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError_0_0_1_1_1</targetReference>
        </connector>
        <fields>
            <name>GMDMFormHeader_0_0_0_0_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!GBS_Breadcrumb_Trail}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Sub_4}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessage3_0_1</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Multiple</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>MultiplePicker</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Multiple?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Region_Center_Account_Create</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>Americas</choiceReferences>
            <choiceReferences>APSA</choiceReferences>
            <choiceReferences>EMEA</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Region</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Request_Description_Center_Account_Create</name>
            <defaultValue>
                <elementReference>Request_Description_Center_Account_Create</elementReference>
            </defaultValue>
            <fieldText>Request Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Request_Description_Center_Account_Create}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>SuggestedDocsHeader_0_0_0_0_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Suggested Documents:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SuggestedDocuments_0_0_0_0_1</name>
            <fieldText>{!SuggestedDocs}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>GMDM_Cost_Center_Change</name>
        <label>GMDM - Cost Center Change</label>
        <locationX>1286</locationX>
        <locationY>1150</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError_0_0_0_0_1</targetReference>
        </connector>
        <fields>
            <name>GMDMFormHeader_0_0_0_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!GBS_Breadcrumb_Trail}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Sub_4}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessage3_1</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Request_Type</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>RequestTypePicker</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Multiple_Cost_Centers</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>MultipleCostCentersPicker</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Multiple Cost Centers?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>GL_Account_Cost_Center_Change_Form</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GL_Account_Cost_Center_Change_Form</elementReference>
            </defaultValue>
            <fieldText>GL Account / Cost Center</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN({!GL_Account_Cost_Center_Change_Form}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Request_Description_Form_Field_1</name>
            <defaultValue>
                <elementReference>Request_Description_Form_Field_1</elementReference>
            </defaultValue>
            <fieldText>Request Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Request_Description_Form_Field_1}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>SuggestedDocsHeader_0_0_0_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Suggested Documents:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SuggestedDocuments_0_0_0_1</name>
            <fieldText>{!SuggestedDocs}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>GMDM_Customer_Hierarchy_Maintenance_Form</name>
        <label>GMDM - Customer Hierarchy Maintenance</label>
        <locationX>1698</locationX>
        <locationY>490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GMDM_Material_Create_Create_0_2</targetReference>
        </connector>
        <fields>
            <name>GMDMFormHeader_0_0_2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!GBS_Breadcrumb_Trail}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;  &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Sub_4}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Number_Cust_Hiearchy</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Customer_Number_Cust_Hiearchy</elementReference>
            </defaultValue>
            <fieldText>Customer Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN({!Customer_Number_Cust_Hiearchy}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Request_Description_0_2</name>
            <defaultValue>
                <elementReference>Request_Description_0_2</elementReference>
            </defaultValue>
            <fieldText>Request Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Request_Description}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>GMDM_Customer_Master_Maintenance_Form</name>
        <label>GMDM - Customer Master Maintenance Form</label>
        <locationX>1691</locationX>
        <locationY>334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GMDM_Material_Create_Create_0_1</targetReference>
        </connector>
        <fields>
            <name>GMDMFormHeader_0_0_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!GBS_Breadcrumb_Trail}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Sub_4}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessage2_0_1</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Multiple_Customers</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>MultipleCustomersPicker</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Multiple Customers?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Customer_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Customer_Number</elementReference>
            </defaultValue>
            <fieldText>Customer Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN({!Customer_Number}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Company_Code_Customer_Main_Form</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>CompanyCodePicker</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Company Code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Sales_Org_Customer_Main_Form</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Sales_Org_Customer_Main_Form</elementReference>
            </defaultValue>
            <fieldText>Sales Org</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 4</errorMessage>
                <formulaExpression>LEN({!Sales_Org_Customer_Main_Form}) &lt;= 4</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Distribution_Channel2</name>
            <dataType>String</dataType>
            <fieldText>Distribution Channel</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN({!Distribution_Channel2}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Request_Description_0_1</name>
            <defaultValue>
                <elementReference>Request_Description_0_1</elementReference>
            </defaultValue>
            <fieldText>Request Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Request_Description_0_1}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>GMDM_EDW_Mapping</name>
        <label>GMDM - EDW Mapping</label>
        <locationX>2042</locationX>
        <locationY>991</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GMDM_Material_Create_Create_0_0_1</targetReference>
        </connector>
        <fields>
            <name>GMDMFormHeader_0_0_0_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!GBS_Breadcrumb_Trail}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;    &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Sub_4}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessage3_0</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GL_Account_Cost_Center</name>
            <dataType>String</dataType>
            <fieldText>GL Account/Cost Center</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN({!GL_Account_Cost_Center}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Region_EDW_Mapping</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>Americas</choiceReferences>
            <choiceReferences>APSA</choiceReferences>
            <choiceReferences>EMEA</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Region</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Effective_Start_Date_of_Change</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Effective_Start_Date_of_Change</elementReference>
            </defaultValue>
            <fieldText>Effective Start Date of Change</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Request_Description_EDW_Mapping</name>
            <defaultValue>
                <elementReference>Request_Description_EDW_Mapping</elementReference>
            </defaultValue>
            <fieldText>Request Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Request_Description_EDW_Mapping}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>SuggestedDocsHeader_0_0_0_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Suggested Documents:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SuggestedDocuments_0_0_0_0</name>
            <fieldText>{!SuggestedDocs}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>GMDM_GL_Account_Change_Extend_Form</name>
        <label>GMDM - GL Account Change Extend</label>
        <locationX>1069</locationX>
        <locationY>1666</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError_0_0_0_0_1_2</targetReference>
        </connector>
        <fields>
            <name>GMDMFormHeader_0_0_0_1_2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!GBS_Breadcrumb_Trail}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Sub_4}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessage3_1_2</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Multiple_GL_Accounts</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>MultipleGLAccountsPicker</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Multiple GL Accounts?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>GL_Account_Cost_Center_GLAcctChangeExt</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GL_Account_Cost_Center_GLAcctChangeExt</elementReference>
            </defaultValue>
            <fieldText>GL Account / Cost Center</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN({!GL_Account_Cost_Center_GLAcctChangeExt}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Company_Code_GLAcctChangeExt</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>CompanyCodePicker</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Company Code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Request_Description_GLAcctChangeExt</name>
            <defaultValue>
                <elementReference>Request_Description_GLAcctChangeExt</elementReference>
            </defaultValue>
            <fieldText>Request Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Request_Description_GLAcctChangeExt}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>SuggestedDocsHeader_0_0_0_1_2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Suggested Documents:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SuggestedDocuments_0_0_0_1_2</name>
            <fieldText>{!SuggestedDocs}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>GMDM_Material_Change_Form</name>
        <label>GMDM - Material Change Form</label>
        <locationX>498</locationX>
        <locationY>407</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GMDM_Material_Create_Create_0</targetReference>
        </connector>
        <fields>
            <name>GMDMFormHeader_0_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;FONT STYLE=&quot;font-size:16px&quot; KERNING=&quot;1&quot;&gt; &lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!GBS_Breadcrumb_Trail}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;   &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Sub_4}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessage2_0</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Multiple_SKUs_ChangeExt</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>MultipleSKUsPicker</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Multiple SKUs?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Request_Description_0</name>
            <defaultValue>
                <elementReference>Request_Description_0</elementReference>
            </defaultValue>
            <fieldText>Request Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Request_Description_0}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>SKU_Number_ChangeExt</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SKU_Number</elementReference>
            </defaultValue>
            <fieldText>SKU Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN( {!SKU_Number} ) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Company_Code</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>CompanyCodePicker</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Company Code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Sales_Org</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Sales_Org</elementReference>
            </defaultValue>
            <fieldText>Sales Org</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 4</errorMessage>
                <formulaExpression>LEN({!Sales_Org}) &lt;= 4</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Distribution_Channel</name>
            <dataType>String</dataType>
            <fieldText>Distribution Channel</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN({!Distribution_Channel}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>GMDM_Material_Create</name>
        <label>GMDM - Material Create</label>
        <locationX>282</locationX>
        <locationY>577</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GMDM_Material_Create_Create</targetReference>
        </connector>
        <fields>
            <name>GBS_Header_4_Text</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_Breadcrumbs_Text_3</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Breadcrumbs}  &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!GBS_Breadcrumb_Trail}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_Sub_4_Text</name>
            <fieldText>{!GBS_Sub_4} &lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessage2</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Multiple_SKUs</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>MultipleSKUsPicker</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Multiple SKUs?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Request_Description</name>
            <defaultValue>
                <elementReference>Request_Description</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Label_Request_Description}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Request_Description}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>SKU_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SKU_Number</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Label_SKU_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN( {!SKU_Number} ) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>GMDM_Material_Create_0</name>
        <label>GMDM - Material Create</label>
        <locationX>1112</locationX>
        <locationY>469</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GMDM_Material_Create_Create_1</targetReference>
        </connector>
        <fields>
            <name>GMDMFormHeader_0_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!GBS_Breadcrumb_Trail}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Sub_4}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Rebate_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Rebate_Number</elementReference>
            </defaultValue>
            <fieldText>Rebate Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN({!Rebate_Number}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Request_Description_1</name>
            <defaultValue>
                <elementReference>Request_Description_1</elementReference>
            </defaultValue>
            <fieldText>Request Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Request_Description}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>GMDM_Request_Description</name>
        <label>GMDM - Request Description</label>
        <locationX>862</locationX>
        <locationY>208</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>GBS_Header_4_Text_2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_Breadcrumbs_Text_4</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!GBS_Breadcrumb_Trail}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_Sub_4_Text_2</name>
            <fieldText>{!GBS_Sub_4}&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessage3</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Request_Description_Form_Field</name>
            <defaultValue>
                <elementReference>Request_Description_Form_Field</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Label_Request_Description}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Request_Description_Form_Field}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>SuggestedDocsHeader_0_0_0</name>
            <fieldText>&lt;br&gt; &lt;/br&gt;&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Suggested_Docs} &lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SuggestedDocuments_0_0_0</name>
            <fieldText>{!SuggestedDocs}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>GMDM_Vendor_Master_Maintenance_Form</name>
        <label>GMDM - Vendor Master Maintenance Form</label>
        <locationX>1906</locationX>
        <locationY>631</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GMDM_Material_Create_Create_0_1_2</targetReference>
        </connector>
        <fields>
            <name>GMDMFormHeader_0_0_1_2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!GBS_Breadcrumb_Trail}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Sub_4}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessage2_0_1_2</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Multiple_Vendors</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>MultipleVendorsPicker</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Multiple Vendors?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Vendor_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Vendor_Number</elementReference>
            </defaultValue>
            <fieldText>Vendor Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN({!Vendor_Number}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Company_Code_Vendor_Main_Form</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>CompanyCodePicker</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Company Code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Sales_Org_Vendor_Main_Form</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Sales_Org_Vendor_Main_Form</elementReference>
            </defaultValue>
            <fieldText>Sales Org</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 4</errorMessage>
                <formulaExpression>LEN({!Sales_Org_Vendor_Main_Form}) &lt;= 4</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Distribution_Channel3</name>
            <dataType>String</dataType>
            <fieldText>Distribution Channel</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN({!Distribution_Channel3}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Request_Description_Vendor_Main_Form</name>
            <defaultValue>
                <elementReference>Request_Description_Vendor_Main_Form</elementReference>
            </defaultValue>
            <fieldText>Request Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Request_Description_Vendor_Main_Form}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <startElementReference>GMDM_Cat_1</startElementReference>
    <textTemplates>
        <name>BuildDocs</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!DocLink}&lt;/FONT&gt;&lt;/SPAN&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ErrorMessage_Formatted</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Error}&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!RequiredFields}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RequiredFields_Formatted</name>
        <text>&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!RequiredField}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</text>
    </textTemplates>
    <variables>
        <name>Case_Record_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ChangeRecordCreate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactIdFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DisplayDocuments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DocLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DocLinks</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>GBSRecordTypeMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GMDM_Case_Record</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GMDM_Material_Create_Record</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>masterCaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrimaryCatMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiredField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiredFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SecondaryCatMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SecondChoiceSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SuggestedDocs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPrimaryCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSecondaryCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
