src/flows/GBS_RTR-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Case_Number</name>
        <label>Assign Case Number</label>
        <locationX>1839</locationX>
        <locationY>844</locationY>
        <assignmentItems>
            <assignToReference>CaseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPrimaryCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSecondaryCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Secondary_Category</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Empty_DocLink_to_N_A</name>
        <label>Assign Empty DocLink to N/A</label>
        <locationX>1086</locationX>
        <locationY>572</locationY>
        <assignmentItems>
            <assignToReference>SuggestedDocs</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_1_1_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0_0_1</name>
        <label>ClearError</label>
        <locationX>13</locationX>
        <locationY>721</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0_0_1_1</name>
        <label>ClearError</label>
        <locationX>320</locationX>
        <locationY>728</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GMDM_Cat_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0_0_1_1_0</name>
        <label>ClearError</label>
        <locationX>1039</locationX>
        <locationY>747</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fixed_Asset_User_Guide</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0_0_1_1_1</name>
        <label>ClearError</label>
        <locationX>779</locationX>
        <locationY>746</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GMDM_Cat_2_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Print_FAUG</name>
        <label>Print FAUG</label>
        <locationX>698</locationX>
        <locationY>21</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;https://bgsw1.sharepoint.com/sites/GBS/_layouts/15/guestaccess.aspx?guestaccesstoken=s0%2bRU1ezI5o%2f9VZ4nLeDjSHugOq%2bXfrfZs36HFRS3r4%3d&amp;docid=2_106cce5b3ca8b4a67a452e5192b5fb183&quot;&gt;Fixed Asset User Guide&lt;/a&gt;&lt;br&gt; &lt;/br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Disposal_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Print_PAUG</name>
        <label>Print PAUG</label>
        <locationX>1591</locationX>
        <locationY>28</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;https://bgsw1.sharepoint.com/sites/GBS/_layouts/15/guestaccess.aspx?guestaccesstoken=wBWSweju1fXZYKGvYVHqLgJP6GEAUYzCWlBhLi5kAfI%3d&amp;docid=2_188348f192f68494bafbfc7bfeb6e0370&quot;&gt;Payroll Accounting User Guide&lt;/a&gt;&lt;br&gt; &lt;/br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>JE_Accounting_User_Guide</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Print_PAUG_1</name>
        <label>Print PAUG</label>
        <locationX>1840</locationX>
        <locationY>32</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;https://bgsw1.sharepoint.com/sites/GBS/_layouts/15/guestaccess.aspx?guestaccesstoken=oehVg5U1%2fz9ITtcnY096FMcYSyDFiui5hsv82M6FSmw%3d&amp;docid=2_1ed7115b2a2d24c56aa5b8c8ec33ddca3&quot;&gt;JE Accounting User Guide&lt;/a&gt;&lt;br&gt; &lt;/br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manual_JE_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Print_PAUG_1_1</name>
        <label>Print PAUG</label>
        <locationX>705</locationX>
        <locationY>245</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;https://bgsw1.sharepoint.com/sites/GBS/_layouts/15/guestaccess.aspx?guestaccesstoken=NleX3TuEA8D%2f8cORX0%2bdIDwSjOo1yeuEpV7IO9PeZkM%3d&amp;docid=2_190976e6a615c4e70b945bd863f8da5df&quot;&gt;Manual JE Form&lt;/a&gt;&lt;br&gt; &lt;/br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upload_JE_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Print_UIT</name>
        <label>Print UIT</label>
        <locationX>1819</locationX>
        <locationY>235</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;https://bgsw1.sharepoint.com/sites/GBS/Shared Documents/GBS_NA_RTR/Journal Entries/RTR Invoice Posting Template &quot;&gt;Upload Invoice Template&lt;/a&gt;&lt;br&gt; &lt;/br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Print_UJET</name>
        <label>Print UJET</label>
        <locationX>1037</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;https://bgsw1.sharepoint.com/sites/GBS/_layouts/15/guestaccess.aspx?guestaccesstoken=qyZgtOhAfnWWy6O3mIrP4o9i%2fd%2bpbfPUvGxP0MsUOgw%3d&amp;docid=2_1287378ad9eaa459e8ab1e58b4fc9584f&quot;&gt;Upload JE Template&lt;/a&gt;&lt;br&gt; &lt;/br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manual_IC_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Print_UJET_1</name>
        <label>Print UJET</label>
        <locationX>1340</locationX>
        <locationY>241</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;https://bgsw1.sharepoint.com/sites/GBS/_layouts/15/guestaccess.aspx?guestaccesstoken=lu52awF9gD4cVJRjsTBgA%2bL7gD9fYud2g5SQx0M8jZU%3d&amp;docid=2_1e507e7fc8cad49d7a8160101571d1f20&quot;&gt;Manual IC Invoice&lt;/a&gt;&lt;br&gt; &lt;/br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manual_3rd_Party_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Print_UJET_1_1</name>
        <label>Print UJET</label>
        <locationX>1593</locationX>
        <locationY>231</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;https://bgsw1.sharepoint.com/sites/GBS/_layouts/15/guestaccess.aspx?guestaccesstoken=lu52awF9gD4cVJRjsTBgA%2bL7gD9fYud2g5SQx0M8jZU%3d&amp;docid=2_1e507e7fc8cad49d7a8160101571d1f20&quot;&gt;Manual 3rd Party Invoice&lt;/a&gt;&lt;br&gt; &lt;/br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Upload_Invoice_Template</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintDF</name>
        <label>Print DF</label>
        <locationX>886</locationX>
        <locationY>23</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;https://bgsw1.sharepoint.com/sites/GBS/_layouts/15/guestaccess.aspx?guestaccesstoken=LQOxDIA6oJj5s4sWx7%2fCD1otHNIZtTig%2b1%2bq6%2bDyKh0%3d&amp;docid=2_11c1514bc01db4e129e6350a2aff6bb49&quot;&gt;Disposal Form&lt;/a&gt;&lt;br&gt; &lt;/br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>US_Bailment_Accounting_User_Guide</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintDF_0</name>
        <label>Print DF</label>
        <locationX>1091</locationX>
        <locationY>21</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;https://bgsw1.sharepoint.com/sites/GBS/_layouts/15/guestaccess.aspx?guestaccesstoken=DHsPjqQwr9kKcRP8P%2fS7o05hes0eONnruSUfOBAHhjw%3d&amp;docid=2_1302b7719dea7457d8ca6d05b34dc8972&quot;&gt;US Bailment Accounting User Guide&lt;/a&gt;&lt;br&gt; &lt;/br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VAP_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintDF_1</name>
        <label>Print DF</label>
        <locationX>1329</locationX>
        <locationY>24</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;https://bgsw1.sharepoint.com/sites/GBS/_layouts/15/guestaccess.aspx?guestaccesstoken=6NqZ148TQh%2f7YZWb7uhljgMEz%2bGVkDSluly%2fH8e7xWs%3d&amp;docid=2_1b17b77f9a16049de99cdb6a4cf4a21e8&quot;&gt;VAP Request&lt;/a&gt;&lt;br&gt; &lt;/br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Payroll_Accounting_User_Guide</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintDocs</name>
        <label>PrintDocs</label>
        <locationX>1283</locationX>
        <locationY>559</locationY>
        <assignmentItems>
            <assignToReference>SuggestedDocs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuildDocs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_1_1_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0_0_1</name>
        <label>PrintError</label>
        <locationX>22</locationX>
        <locationY>572</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GMDM_Cat_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0_0_1_1</name>
        <label>PrintError</label>
        <locationX>322</locationX>
        <locationY>578</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GMDM_Cat_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0_0_1_1_1</name>
        <label>PrintError</label>
        <locationX>780</locationX>
        <locationY>583</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GMDM_Cat_2_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_1</name>
        <label>SetReqField</label>
        <locationX>162</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GBS_Label_Primary_Category</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_1_1</name>
        <label>SetReqField</label>
        <locationX>441</locationX>
        <locationY>654</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GBS_Label_Secondary_Category</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_1_1_1</name>
        <label>SetReqField</label>
        <locationX>899</locationX>
        <locationY>659</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GBS_Label_Secondary_Category</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_1_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_1</name>
        <label>SetReqFields</label>
        <locationX>165</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_1_1</name>
        <label>SetReqFields</label>
        <locationX>445</locationX>
        <locationY>583</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0_0_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_1_1_1</name>
        <label>SetReqFields</label>
        <locationX>903</locationX>
        <locationY>588</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0_0_1_1_1</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!None_Picklist}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>-- NONE --</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Any_Documents</name>
        <label>Any Documents?</label>
        <locationX>1084</locationX>
        <locationY>467</locationY>
        <defaultConnector>
            <targetReference>PrintDocs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Docs_Not_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocLink</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Empty_DocLink_to_N_A</targetReference>
            </connector>
            <label>Docs Not Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_1</name>
        <label>CheckReq</label>
        <locationX>159</locationX>
        <locationY>722</locationY>
        <defaultConnector>
            <targetReference>ClearError_0_0_1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_1_1</name>
        <label>CheckReq</label>
        <locationX>447</locationX>
        <locationY>729</locationY>
        <defaultConnector>
            <targetReference>Third_Category_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_1_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_1_1_0</name>
        <label>CheckReq</label>
        <locationX>910</locationX>
        <locationY>744</locationY>
        <defaultConnector>
            <targetReference>ClearError_0_0_1_1_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_1_1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tertiary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_1_1_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_1_1_0_0</name>
        <label>CheckReq</label>
        <locationX>1224</locationX>
        <locationY>848</locationY>
        <defaultConnector>
            <targetReference>RTR_Request_Pay_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Location_Plant_Eval</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bailment Inventory</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bailment Inventory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RTR_Request_Location_Plant</targetReference>
            </connector>
            <label>Location/Plant</label>
        </rules>
        <rules>
            <name>Company_Code_Eval</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed Assets</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Journal Entry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RTR Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed Assets</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Journal Entry Posting Audit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RTR_Request_Company_Code</targetReference>
            </connector>
            <label>Company Code</label>
        </rules>
        <rules>
            <name>Other_Eval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other Audit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RTR_Request_Pay_Group_0</targetReference>
            </connector>
            <label>Other Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Disposal_Form</name>
        <label>Disposal Form</label>
        <locationX>890</locationX>
        <locationY>122</locationY>
        <defaultConnector>
            <targetReference>US_Bailment_Accounting_User_Guide</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>DF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disposal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PrintDF</targetReference>
            </connector>
            <label>DF</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fixed_Asset_User_Guide</name>
        <label>Fixed Asset User Guide</label>
        <locationX>702</locationX>
        <locationY>120</locationY>
        <defaultConnector>
            <targetReference>Disposal_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>FAUG_Required</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Addition</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disposal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FA Reporting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Master Data</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Number/IO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asset Tagging</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FA Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed Assets</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Print_FAUG</targetReference>
            </connector>
            <label>FAUG Required?</label>
        </rules>
    </decisions>
    <decisions>
        <name>JE_Accounting_User_Guide</name>
        <label>JE Accounting User Guide</label>
        <locationX>1836</locationX>
        <locationY>115</locationY>
        <defaultConnector>
            <targetReference>Manual_JE_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>JEAUG</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Journal Entry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complex Invoice Posting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Journal Entry Posting Audit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other Audit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Print_PAUG_1</targetReference>
            </connector>
            <label>JEAUG</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manual_3rd_Party_Invoice</name>
        <label>Manual 3rd Party Invoice</label>
        <locationX>1592</locationX>
        <locationY>332</locationY>
        <defaultConnector>
            <targetReference>Upload_Invoice_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>M3PI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tertiary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3rd Party</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Print_UJET_1_1</targetReference>
            </connector>
            <label>M3PI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manual_IC_Invoice</name>
        <label>Manual IC Invoice</label>
        <locationX>1340</locationX>
        <locationY>337</locationY>
        <defaultConnector>
            <targetReference>Manual_3rd_Party_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>MICI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tertiary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intercompany</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Print_UJET_1</targetReference>
            </connector>
            <label>MICI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manual_JE_Form</name>
        <label>Manual JE Form</label>
        <locationX>708</locationX>
        <locationY>348</locationY>
        <defaultConnector>
            <targetReference>Upload_JE_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>MJEF</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Tertiary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cost Center / IO Reclassification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tertiary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>G/L Account Reclassification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tertiary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accrual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Print_PAUG_1_1</targetReference>
            </connector>
            <label>MJEF</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payroll_Accounting_User_Guide</name>
        <label>Payroll Accounting User Guide</label>
        <locationX>1588</locationX>
        <locationY>122</locationY>
        <defaultConnector>
            <targetReference>JE_Accounting_User_Guide</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PAUG</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payroll GL Accounting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payroll GL Accounting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Print_PAUG</targetReference>
            </connector>
            <label>PAUG</label>
        </rules>
    </decisions>
    <decisions>
        <name>Third_Category_Check</name>
        <label>Third Category Check</label>
        <locationX>599</locationX>
        <locationY>663</locationY>
        <defaultConnector>
            <targetReference>ClearError_0_0_1_1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>X3rd_Cat_Not_Present</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disposal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FA Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post Goods Issue (PGI)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Repack Requests</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PR GL Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RTR Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClearError_0_0_1_1_0</targetReference>
            </connector>
            <label>3rd Cat Not Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Upload_Invoice_Template</name>
        <label>Upload Invoice Template</label>
        <locationX>1819</locationX>
        <locationY>331</locationY>
        <defaultConnector>
            <targetReference>Any_Documents</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>UIT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tertiary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upload</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complex Invoice Posting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Print_UIT</targetReference>
            </connector>
            <label>UIT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Upload_JE_Template</name>
        <label>Upload JE Template</label>
        <locationX>1041</locationX>
        <locationY>342</locationY>
        <defaultConnector>
            <targetReference>Manual_IC_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>UJET</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tertiary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upload</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Journal Entry Posting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Print_UJET</targetReference>
            </connector>
            <label>UJET</label>
        </rules>
    </decisions>
    <decisions>
        <name>US_Bailment_Accounting_User_Guide</name>
        <label>US Bailment Accounting User Guide</label>
        <locationX>1095</locationX>
        <locationY>129</locationY>
        <defaultConnector>
            <targetReference>VAP_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>USBAUG</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bailment Inventory</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bailment Inventory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PrintDF_0</targetReference>
            </connector>
            <label>USBAUG</label>
        </rules>
    </decisions>
    <decisions>
        <name>VAP_Request</name>
        <label>VAP Request</label>
        <locationX>1332</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Payroll_Accounting_User_Guide</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>VAP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Repack Requests</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PrintDF_1</targetReference>
            </connector>
            <label>VAP</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AvailabilityDateKnown</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Availability_Date_Known__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseCat1</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Access_Groups__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varAccessGroup</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;{!masterCaseType}&quot;</stringValue>
            </value>
        </filters>
        <object>GBS_Case_2nd_Type__c</object>
        <sortField>Sort__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseCat2</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;{!Secondary_Category}&quot;</stringValue>
            </value>
        </filters>
        <object>GBS_Case_4th_Type__c</object>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseCat3</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Access_Groups__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varAccessGroup</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;{!Primary_Cateogry}&quot;</stringValue>
            </value>
        </filters>
        <object>GBS_Case_3rd_Type__c</object>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseType</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>GBS_Picklist_Option__c</object>
        <outputAssignments>
            <assignToReference>GBSRecordTypeMaster</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChangeType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Change_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CompanyCodePicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Company_Code__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CompanyCodeRTPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Company_Code_RTR__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DocumentAttachedPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Document_s_Attached__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DocumentType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Document_Types__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InquiryType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Inquiry_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InternalChange</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Internal_Change_Picklist__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LocationPlantPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Storage_Location__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleChangesPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_Changes__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleCostCentersPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_Cost_Centers__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleCustomersPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_Customers__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleGLAccountsPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_GL_Accounts__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleSKUsPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_SKUs__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleVendorsPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_Vendors__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PayGroupPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Pay_Groups__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReferencedWorkflowExistingTicket</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Referenced_Workflow_Existing_Ticket__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Region</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Region__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequestTarget</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Request_Target__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequestTypePicker</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;{!Secondary_Category}&quot;</stringValue>
            </value>
        </filters>
        <object>GBS_Picklist_Option__c</object>
        <outputAssignments>
            <assignToReference>RequestType</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TrafficRequestReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Traffic_Request_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Doc_PriceMasterMaintenance</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;www.beamsuntory.com&quot;,&quot;Price Master Maintenance Form&quot;)</expression>
    </formulas>
    <formulas>
        <name>DocumentAttached</name>
        <dataType>String</dataType>
        <expression>IF({!Tertiary_Category} = &quot;Other&quot; &amp;&amp; {!Secondary_Category} = &quot;Destruction Requests&quot;, &quot;Approval Attached?&quot;, 

IF({!Secondary_Category} = &quot;Disposal&quot;, &quot;Disposal Form Attached?&quot;,

IF({!Secondary_Category} = &quot;Repack Requests&quot;, &quot;VAP Form Attached?&quot;,

CASE( {!Tertiary_Category},
&quot;PAB Form - Attached&quot;, &quot;PAB Attached?&quot;,
&quot;VAP&quot;, &quot;VAP Form Attached?&quot;,
&quot;Expiration&quot;, &quot;Approval Attached?&quot;,
&quot;Obsolete&quot;, &quot;Approval Attached?&quot;,
&quot;Inventory Adjustment&quot;, &quot;Approval Attached?&quot;,
&quot;Cost Center / IO Reclassification&quot;, &quot;Manual JE form Attached?&quot;,
&quot;G/L Account Reclassification&quot;, &quot;Manual JE form Attached?&quot;,
&quot;Accrual&quot;, &quot;Manual JE form Attached?&quot;,
&quot;Upload&quot;, &quot;Upload Form Attached?&quot;,
&quot;Intercompany&quot;, &quot;Manual JE form Attached?&quot;,
&quot;3rd Party&quot;, &quot;Manual JE form Attached?&quot;,
&quot;Document(s) Attached?&quot;
)
)
)
)</expression>
    </formulas>
    <formulas>
        <name>Field_Length_Error_Message</name>
        <dataType>String</dataType>
        <expression>$Label.Field_Length_Error_Message</expression>
    </formulas>
    <formulas>
        <name>GBS_Breadcrumb_Trail</name>
        <dataType>String</dataType>
        <expression>{!masterCaseType}&amp;&quot; &quot;&amp;{!Primary_Cateogry}&amp;&quot; &quot;&amp;{!Secondary_Category}</expression>
    </formulas>
    <formulas>
        <name>GBS_Breadcrumbs</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Breadcrumbs</expression>
    </formulas>
    <formulas>
        <name>GBS_Breadcrumbs_Trail</name>
        <dataType>String</dataType>
        <expression>{!masterCaseType}&amp;IF(ISBLANK({!Primary_Cateogry}), &quot;&quot;, &quot; &gt; &quot;&amp;{!Primary_Cateogry})
&amp;IF(ISBLANK({!Secondary_Category}), &quot;&quot;, &quot; &gt; &quot;&amp;{!Secondary_Category})&amp;IF(ISBLANK({!Tertiary_Category}), &quot;&quot;, &quot; &gt; &quot;&amp;{!Tertiary_Category})</expression>
    </formulas>
    <formulas>
        <name>GBS_Error</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Error</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_1</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Header_1</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_2</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Header_2</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_3</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Header_3</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_4</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Header_4</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_6</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Header_6</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Primary_Category</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Primary_Category</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Request_Description</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Request_Description</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Secondary_Category</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Secondary_Category</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_SKU_Number</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_SKU_Number</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Tertiary_Category</name>
        <dataType>String</dataType>
        <expression>$label.GBS_Label_Tertiary_Category</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_1</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Sub_1</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_2</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Sub_2</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_3</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Sub_3</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_4</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Sub_4</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_6</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Sub_6</expression>
    </formulas>
    <formulas>
        <name>GBS_Suggested_Docs</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Suggested_Docs</expression>
    </formulas>
    <formulas>
        <name>Label_Other</name>
        <dataType>String</dataType>
        <expression>{!$Label.CS_Flow_Picklist_Option_Other}</expression>
    </formulas>
    <formulas>
        <name>None_Picklist</name>
        <dataType>String</dataType>
        <expression>$Label.None_Picklist</expression>
    </formulas>
    <interviewLabel>GBS - RTR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GBS - RTR</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateRTRCase_Location_Plant</name>
        <label>CreateRTRCase - Location/Plant</label>
        <locationX>1508</locationX>
        <locationY>684</locationY>
        <assignRecordIdToReference>CaseRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_2__c</field>
            <value>
                <elementReference>Secondary_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_3__c</field>
            <value>
                <elementReference>Tertiary_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document_s_Attached__c</field>
            <value>
                <elementReference>DocAttached</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012o0000000nbf6</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Number__c</field>
            <value>
                <elementReference>Reference_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referenced_Workflow_Existing_Ticket__c</field>
            <value>
                <elementReference>Referenced_Workflow_Existing_Ticket</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Location__c</field>
            <value>
                <elementReference>Location_Plant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>CreateRTRCase_Location_Plant_0</name>
        <label>CreateRTRCase - Location/Plant</label>
        <locationX>1509</locationX>
        <locationY>790</locationY>
        <assignRecordIdToReference>CaseRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_2__c</field>
            <value>
                <elementReference>Secondary_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_3__c</field>
            <value>
                <elementReference>Tertiary_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Code__c</field>
            <value>
                <elementReference>Company_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document_s_Attached__c</field>
            <value>
                <elementReference>DocAttached2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012o0000000nbf6</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Number__c</field>
            <value>
                <elementReference>Reference_Number2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referenced_Workflow_Existing_Ticket__c</field>
            <value>
                <elementReference>Referenced_Workflow_Existing_Ticket_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>CreateRTRCase_Location_Plant_0_0</name>
        <label>CreateRTRCase - Location/Plant</label>
        <locationX>1513</locationX>
        <locationY>898</locationY>
        <assignRecordIdToReference>CaseRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_2__c</field>
            <value>
                <elementReference>Secondary_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_3__c</field>
            <value>
                <elementReference>Tertiary_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description_0_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document_s_Attached__c</field>
            <value>
                <elementReference>DocumentAttached3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pay_Groups__c</field>
            <value>
                <elementReference>Pay_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012o0000000nbf6</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Number__c</field>
            <value>
                <elementReference>Reference_Number3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referenced_Workflow_Existing_Ticket__c</field>
            <value>
                <elementReference>Referenced_Workflow_Existing_Ticket_0_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>CreateRTRCase_Location_Plant_0_0_0</name>
        <label>CreateRTRCase - Location/Plant</label>
        <locationX>1509</locationX>
        <locationY>1015</locationY>
        <assignRecordIdToReference>CaseRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_2__c</field>
            <value>
                <elementReference>Secondary_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_3__c</field>
            <value>
                <elementReference>Tertiary_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description_0_0_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document_s_Attached__c</field>
            <value>
                <elementReference>DocumentsAttached4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012o0000000nbf6</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Number__c</field>
            <value>
                <elementReference>Reference_Number4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referenced_Workflow_Existing_Ticket__c</field>
            <value>
                <elementReference>Referenced_Workflow_Existing_Ticket_0_0_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Case_Number</name>
        <label>Find Case Number</label>
        <locationX>1714</locationX>
        <locationY>844</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Number</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseRecord</outputReference>
        <queriedFields>CaseNumber</queriedFields>
    </recordLookups>
    <screens>
        <name>GMDM_Cat_1</name>
        <label>GMDM Cat 1</label>
        <locationX>20</locationX>
        <locationY>648</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError_0_0_1</targetReference>
        </connector>
        <fields>
            <name>GBS_GMDM_Header_2_Text</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_2}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_Breadcrumbs_Text</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!masterCaseType}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_GMDM_Sub_2_Text</name>
            <fieldText>{!GBS_Sub_2} &lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_Error_Text</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Primary_Cateogry</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>CaseCat1</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Label_Primary_Category}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>GMDM_Cat_2</name>
        <label>GMDM Cat 2</label>
        <locationX>322</locationX>
        <locationY>653</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckReq_0_0_1_1</targetReference>
        </connector>
        <fields>
            <name>GBS_Header_3_Text</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_3}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_Breadcrumbs_Text_2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Breadcrumbs}  &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!masterCaseType}&lt;/B&gt;&lt;FONT KERNING=&quot;0&quot;&gt;&lt;B&gt; &amp;gt; {!Primary_Cateogry}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_Sub_3_Text</name>
            <fieldText>{!GBS_Sub_3} &lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_Error_Text_2</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Secondary_Category</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>CaseCat3</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Label_Secondary_Category}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>GMDM_Cat_2_0</name>
        <label>GMDM Cat 2</label>
        <locationX>779</locationX>
        <locationY>662</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckReq_0_0_1_1_0</targetReference>
        </connector>
        <fields>
            <name>GBS_Header_3_Text_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_6}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_Breadcrumbs_Text_2_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Breadcrumbs}  &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!masterCaseType}&lt;/B&gt;&lt;FONT KERNING=&quot;0&quot;&gt;&lt;B&gt; &amp;gt; {!Primary_Cateogry} &amp;gt; {!Secondary_Category}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_Sub_3_Text_0</name>
            <fieldText>{!GBS_Sub_6} &lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_Error_Text_2_0</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tertiary_Category</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>CaseCat2</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Label_Tertiary_Category}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>RTR_Request_Company_Code</name>
        <label>RTR_Request - Company Code</label>
        <locationX>1390</locationX>
        <locationY>793</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateRTRCase_Location_Plant_0</targetReference>
        </connector>
        <fields>
            <name>RTRHeaderText_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!GBS_Breadcrumbs_Trail}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Sub_4}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ErrorMessage}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Company_Code</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>CompanyCodeRTPicker</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Company Code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Referenced_Workflow_Existing_Ticket_0</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>ReferencedWorkflowExistingTicket</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Referenced Workflow / Existing Ticket?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reference_Number2</name>
            <dataType>String</dataType>
            <fieldText>Reference Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 30</errorMessage>
                <formulaExpression>LEN({!Reference_Number2}) &lt;= 30</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>DocAttached2</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>DocumentAttachedPicker</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!DocumentAttached}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description_0</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Description}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>GBS_Suggested_Docs_Text_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Suggested_Docs}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SuggestedDocsText_0</name>
            <fieldText>{!SuggestedDocs}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>RTR_Request_Location_Plant</name>
        <label>RTR_Request - Location/Plant</label>
        <locationX>1383</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateRTRCase_Location_Plant</targetReference>
        </connector>
        <fields>
            <name>RTRHeaderText</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!GBS_Breadcrumbs_Trail}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Sub_4}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ErrorMessage}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Location_Plant</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>LocationPlantPicker</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Location/Plant</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Referenced_Workflow_Existing_Ticket</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>ReferencedWorkflowExistingTicket</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Referenced Workflow / Existing Ticket?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reference_Number</name>
            <dataType>String</dataType>
            <fieldText>Reference Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 30</errorMessage>
                <formulaExpression>LEN({!Reference_Number}) &lt;= 30</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>DocAttached</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>DocumentAttachedPicker</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!DocumentAttached}&lt;FONT FACE=&quot;_sans&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Description}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>GBS_Suggested_Docs_Text</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Suggested_Docs}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SuggestedDocsText</name>
            <fieldText>{!SuggestedDocs}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>RTR_Request_Pay_Group</name>
        <label>RTR_Request - Pay Group</label>
        <locationX>1382</locationX>
        <locationY>902</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateRTRCase_Location_Plant_0_0</targetReference>
        </connector>
        <fields>
            <name>RTRHeaderText_0_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!GBS_Breadcrumbs_Trail}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Sub_4}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ErrorMessage}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pay_Group</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>PayGroupPicker</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Pay Group</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Referenced_Workflow_Existing_Ticket_0_0</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>ReferencedWorkflowExistingTicket</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Referenced Workflow / Existing Ticket?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reference_Number3</name>
            <dataType>String</dataType>
            <fieldText>Reference Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 30</errorMessage>
                <formulaExpression>LEN({!Reference_Number3}) &lt;= 30</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>DocumentAttached3</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>DocumentAttachedPicker</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!DocumentAttached}&lt;FONT FACE=&quot;_sans&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description_0_0</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Description}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>GBS_Suggested_Docs_Text_0_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Suggested_Docs}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SuggestedDocsText_0_0</name>
            <fieldText>{!SuggestedDocs}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>RTR_Request_Pay_Group_0</name>
        <label>RTR_Request - Pay Group</label>
        <locationX>1382</locationX>
        <locationY>1015</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateRTRCase_Location_Plant_0_0_0</targetReference>
        </connector>
        <fields>
            <name>RTRHeaderText_0_0_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!GBS_Breadcrumbs_Trail}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Sub_4}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ErrorMessage}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Referenced_Workflow_Existing_Ticket_0_0_0</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>ReferencedWorkflowExistingTicket</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Referenced Workflow / Existing Ticket?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reference_Number4</name>
            <dataType>String</dataType>
            <fieldText>Reference Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 30</errorMessage>
                <formulaExpression>LEN({!Reference_Number4}) &lt;= 30</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>DocumentsAttached4</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>DocumentAttachedPicker</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:11px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!DocumentAttached}&lt;FONT FACE=&quot;_sans&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description_0_0_0</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Description}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>GBS_Suggested_Docs_Text_0_0_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Suggested_Docs}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SuggestedDocsText_0_0_0</name>
            <fieldText>{!SuggestedDocs}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>GMDM_Cat_1</startElementReference>
    <textTemplates>
        <name>BuildDocs</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!DocLink}&lt;/FONT&gt;&lt;/SPAN&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ErrorMessage_Formatted</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Error}&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!RequiredFields}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RequiredFields_Formatted</name>
        <text>&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!RequiredField}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</text>
    </textTemplates>
    <variables>
        <name>Case_Record_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ChangeRecordCreate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactIdFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DisplayDocuments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DocLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DocLinks</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>GBSRecordTypeMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GMDM_Case_Record</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GMDM_Material_Create_Record</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>masterCaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrimaryCatMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiredField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiredFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SecondaryCatMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SecondChoiceSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SuggestedDocs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccessGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPrimaryCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSecondaryCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
