src/flows/GBS_Case_Submission_Start-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>ClearError</name>
        <label>ClearError</label>
        <locationX>23</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_Master</name>
        <label>ClearError</label>
        <locationX>266</locationX>
        <locationY>424</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Form_Decision_Point</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError</name>
        <label>PrintError</label>
        <locationX>22</locationX>
        <locationY>346</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Form_Intro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField</name>
        <label>SetReqField</label>
        <locationX>144</locationX>
        <locationY>421</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Step1FormType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields</name>
        <label>SetReqFields</label>
        <locationX>141</locationX>
        <locationY>346</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Inquiry_Distributor</name>
        <choiceText>Inquiry (Distributor)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inquiry</stringValue>
        </value>
    </choices>
    <choices>
        <name>InquiryInternal</name>
        <choiceText>Inquiry (Internal)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inquiry (Internal)</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!NonePicklistLabel}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Orders</name>
        <choiceText>Orders</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Orders</stringValue>
        </value>
    </choices>
    <choices>
        <name>QualityClaim</name>
        <choiceText>QualityClaim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quality Claim</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CheckReq</name>
        <label>CheckReq</label>
        <locationX>142</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>ClearError_Master</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FormTypePicker</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Form_Decision_Point</name>
        <label>Form Decision Point</label>
        <locationX>394</locationX>
        <locationY>422</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PTP_AP_Pick</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Procure to Pay / Accounts Payable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PTP_AP</targetReference>
            </connector>
            <label>PTP/AP</label>
        </rules>
        <rules>
            <name>GMDM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Global Master Data Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GBS_GMDM</targetReference>
            </connector>
            <label>GMDM</label>
        </rules>
        <rules>
            <name>RTR_Pick</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Record to Report</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RTR</targetReference>
            </connector>
            <label>RTR</label>
        </rules>
        <rules>
            <name>HR_Pick</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Human Resources</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HR</targetReference>
            </connector>
            <label>HR</label>
        </rules>
        <rules>
            <name>Payroll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payroll</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GBS_Payroll</targetReference>
            </connector>
            <label>Payroll</label>
        </rules>
        <rules>
            <name>T_E_Pick</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Travel &amp; Entertainment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>T_E</targetReference>
            </connector>
            <label>T&amp;E</label>
        </rules>
        <rules>
            <name>OTC_Billing_Pick</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order to Cash / Billing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OTC_Billing</targetReference>
            </connector>
            <label>OTC Billing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Back_to_Start</name>
        <label>Send Back to Start?</label>
        <locationX>813</locationX>
        <locationY>796</locationY>
        <defaultConnector>
            <targetReference>Attach_Documentation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Back_to_Start</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>masterSendHome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TRUE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Form_Intro</targetReference>
            </connector>
            <label>Back to Start</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CaseType</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Access_Groups__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varAccessGroupMaster</elementReference>
            </value>
        </filters>
        <object>GBS_Case_1st_Type__c</object>
        <outputAssignments>
            <assignToReference>GBSRecordTypeMaster</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>AttachmentHeader</name>
        <dataType>String</dataType>
        <expression>$Label.Attachment_Header</expression>
    </formulas>
    <formulas>
        <name>ErrorMessageFormattedLabel</name>
        <dataType>String</dataType>
        <expression>$Label.Error_Message_Formatted_Label</expression>
    </formulas>
    <formulas>
        <name>FlowLanguageMaster</name>
        <dataType>String</dataType>
        <expression>IF({!UserLanguageMaster} = &quot;es&quot;, &quot;Español&quot;, &quot;English&quot;)</expression>
    </formulas>
    <formulas>
        <name>GBS_Breadcrumbs</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Breadcrumbs</expression>
    </formulas>
    <formulas>
        <name>GBS_Breadcrumbs_Trail</name>
        <dataType>String</dataType>
        <expression>{!CaseType}&amp;IF(ISBLANK({!varPrimaryCategoryMaster}), &quot;&quot;, &quot; &gt; &quot;&amp;{!varPrimaryCategoryMaster})&amp;IF(ISBLANK({!varSecondaryCategoryMaster}), &quot;&quot;, &quot; &gt; &quot;&amp;{!varSecondaryCategoryMaster})</expression>
    </formulas>
    <formulas>
        <name>GBS_Error</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Error</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_1</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Header_1</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_5</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Header_5</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_Finish</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Header_Finish</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_Finish_2</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Header_Finish_2</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_1</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Sub_1</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_5</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Sub_5</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_Exit_1</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Sub_Exit_1</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_Exit_2</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Sub_Exit_2</expression>
    </formulas>
    <formulas>
        <name>GBS_Suggested_Docs</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Suggested_Docs</expression>
    </formulas>
    <formulas>
        <name>None_Picklist</name>
        <dataType>String</dataType>
        <expression>$Label.None_Picklist</expression>
    </formulas>
    <formulas>
        <name>NonePicklistLabel</name>
        <dataType>String</dataType>
        <expression>$Label.None_Picklist</expression>
    </formulas>
    <formulas>
        <name>Step1FormType</name>
        <dataType>String</dataType>
        <expression>$Label.Step_1_GBS_Label</expression>
    </formulas>
    <formulas>
        <name>Step1SubHeader</name>
        <dataType>String</dataType>
        <expression>$Label.CS_Flow_Case_Submission_Step_1_Sub_Header</expression>
    </formulas>
    <formulas>
        <name>SubmissionCompleteHeader</name>
        <dataType>String</dataType>
        <expression>$Label.Submission_Complete_Header</expression>
    </formulas>
    <formulas>
        <name>SubmissionCompleteLine1</name>
        <dataType>String</dataType>
        <expression>$Label.Submission_Complete_Line_1</expression>
    </formulas>
    <formulas>
        <name>SubmissionCompleteLine2</name>
        <dataType>String</dataType>
        <expression>$Label.Submission_Complete_Line_2</expression>
    </formulas>
    <interviewLabel>GBS - Case Submission Start {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GBS - Case Submission Start</label>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Flow_Chckbox_Update</name>
        <label>Flow Chckbox Update</label>
        <locationX>995</locationX>
        <locationY>421</locationY>
        <connector>
            <targetReference>Submission_Complete</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordIDMaster</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Attach_Documentation</name>
        <label>Attach Documentation</label>
        <locationX>931</locationX>
        <locationY>520</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Flow_Chckbox_Update</targetReference>
        </connector>
        <fields>
            <name>GBS_Header_5_Text</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!GBS_Header_5}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!GBS_Breadcrumbs_Trail}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Sub_5}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!GBS_Suggested_Docs}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!varSuggestedDocs}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Form_Intro</name>
        <label>Form Intro</label>
        <locationX>24</locationX>
        <locationY>419</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError</targetReference>
        </connector>
        <fields>
            <name>GBS_Header_1_Text</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!GBS_Header_1}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_Sub_1_Text</name>
            <fieldText>{!GBS_Sub_1} &lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_Error_Text</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FormTypePicker</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>CaseType</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!Step1FormType}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Submission_Complete</name>
        <label>Submission Complete</label>
        <locationX>1061</locationX>
        <locationY>519</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SubmissionCompleteText</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!GBS_Header_Finish} &lt;/B&gt;&lt;FONT COLOR=&quot;#CC3300&quot;&gt;&lt;B&gt;#{!CaseNumberMaster} &lt;/B&gt;&lt;/FONT&gt;&lt;B&gt;{!GBS_Header_Finish_2}&lt;/B&gt;&lt;/FONT&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Sub_Exit_1} &lt;B&gt;{!CaseNumberMaster}&lt;/B&gt;{!GBS_Sub_Exit_2}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Form_Intro</startElementReference>
    <subflows>
        <name>GBS_GMDM</name>
        <label>GBS_GMDM</label>
        <locationX>656</locationX>
        <locationY>426</locationY>
        <connector>
            <targetReference>Attach_Documentation</targetReference>
        </connector>
        <flowName>GBS_GMDM</flowName>
        <inputAssignments>
            <name>RecordTypeID</name>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeName</name>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactIdFlow</name>
            <value>
                <elementReference>ContactIdFlowMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserProfile</name>
            <value>
                <elementReference>UserProfileMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>masterCaseType</name>
            <value>
                <elementReference>CaseType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>GBSRecordTypeMaster</name>
            <value>
                <elementReference>GBSRecordTypeMaster</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RecordIDMaster</assignToReference>
            <name>ChangeRecordCreate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseNumberMaster</assignToReference>
            <name>CaseNumber</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPrimaryCategoryMaster</assignToReference>
            <name>varPrimaryCategory</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSecondaryCategoryMaster</assignToReference>
            <name>varSecondaryCategory</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSuggestedDocs</assignToReference>
            <name>SuggestedDocs</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MasterCaseRecord</assignToReference>
            <name>GMDM_Case_Record</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RequestType</assignToReference>
            <name>RequestType</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>GBS_Payroll</name>
        <label>GBS - Payroll</label>
        <locationX>656</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Attach_Documentation</targetReference>
        </connector>
        <flowName>GBS_Payroll</flowName>
        <inputAssignments>
            <name>RecordTypeID</name>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeName</name>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactIdFlow</name>
            <value>
                <elementReference>ContactIdFlowMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserProfile</name>
            <value>
                <elementReference>UserProfileMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>masterCaseType</name>
            <value>
                <elementReference>CaseType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>GBSRecordTypeMaster</name>
            <value>
                <elementReference>GBSRecordTypeMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAccessGroup</name>
            <value>
                <elementReference>varAccessGroupMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SpecialCircumstance</name>
            <value>
                <elementReference>SpecialCircumstanceMaster</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RecordIDMaster</assignToReference>
            <name>ChangeRecordCreate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseNumberMaster</assignToReference>
            <name>CaseNumber</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPrimaryCategoryMaster</assignToReference>
            <name>varPrimaryCategory</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSecondaryCategoryMaster</assignToReference>
            <name>varSecondaryCategory</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSuggestedDocs</assignToReference>
            <name>SuggestedDocs</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MasterCaseRecord</assignToReference>
            <name>Payroll_Case_Record</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>HR</name>
        <label>HR</label>
        <locationX>661</locationX>
        <locationY>336</locationY>
        <connector>
            <targetReference>Attach_Documentation</targetReference>
        </connector>
        <flowName>GBS_HR</flowName>
        <inputAssignments>
            <name>RecordTypeID</name>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeName</name>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactIdFlow</name>
            <value>
                <elementReference>ContactIdFlowMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserProfile</name>
            <value>
                <elementReference>UserProfileMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>masterCaseType</name>
            <value>
                <elementReference>CaseType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>GBSRecordTypeMaster</name>
            <value>
                <elementReference>GBSRecordTypeMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SpecialCircumstance</name>
            <value>
                <elementReference>SpecialCircumstanceMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAccessGroup</name>
            <value>
                <elementReference>varAccessGroupMaster</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RecordIDMaster</assignToReference>
            <name>ChangeRecordCreate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseNumberMaster</assignToReference>
            <name>CaseNumber</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPrimaryCategoryMaster</assignToReference>
            <name>varPrimaryCategory</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSecondaryCategoryMaster</assignToReference>
            <name>varSecondaryCategory</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSuggestedDocs</assignToReference>
            <name>SuggestedDocs</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MasterCaseRecord</assignToReference>
            <name>GMDM_Case_Record</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>OTC_Billing</name>
        <label>OTC Billing</label>
        <locationX>663</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>Send_Back_to_Start</targetReference>
        </connector>
        <flowName>GBS_OTC_Billing</flowName>
        <inputAssignments>
            <name>RecordTypeID</name>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeName</name>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactIdFlow</name>
            <value>
                <elementReference>ContactIdFlowMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserProfile</name>
            <value>
                <elementReference>UserProfileMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>masterCaseType</name>
            <value>
                <elementReference>CaseType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>GBSRecordTypeMaster</name>
            <value>
                <elementReference>GBSRecordTypeMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAccessGroup</name>
            <value>
                <elementReference>varAccessGroupMaster</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RecordIDMaster</assignToReference>
            <name>ChangeRecordCreate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseNumberMaster</assignToReference>
            <name>CaseNumber</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPrimaryCategoryMaster</assignToReference>
            <name>varPrimaryCategory</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSecondaryCategoryMaster</assignToReference>
            <name>varSecondaryCategory</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSuggestedDocs</assignToReference>
            <name>SuggestedDocs</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MasterCaseRecord</assignToReference>
            <name>CaseRecordId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>masterSendHome</assignToReference>
            <name>varSendHome</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PTP_AP</name>
        <label>PTP/AP</label>
        <locationX>657</locationX>
        <locationY>515</locationY>
        <connector>
            <targetReference>Attach_Documentation</targetReference>
        </connector>
        <flowName>GBS_PTP_AP</flowName>
        <inputAssignments>
            <name>RecordTypeID</name>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeName</name>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactIdFlow</name>
            <value>
                <elementReference>ContactIdFlowMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserProfile</name>
            <value>
                <elementReference>UserProfileMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>masterCaseType</name>
            <value>
                <elementReference>CaseType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>GBSRecordTypeMaster</name>
            <value>
                <elementReference>GBSRecordTypeMaster</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RecordIDMaster</assignToReference>
            <name>ChangeRecordCreate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseNumberMaster</assignToReference>
            <name>CaseNumber</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPrimaryCategoryMaster</assignToReference>
            <name>varPrimaryCategory</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSecondaryCategoryMaster</assignToReference>
            <name>varSecondaryCategory</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSuggestedDocs</assignToReference>
            <name>SuggestedDocs</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MasterCaseRecord</assignToReference>
            <name>SubCaseRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MasterInvoiceNumber</assignToReference>
            <name>numOfInvoices</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MasterPaymentNumber</assignToReference>
            <name>numOfPayments</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>RTR</name>
        <label>RTR</label>
        <locationX>659</locationX>
        <locationY>615</locationY>
        <connector>
            <targetReference>Attach_Documentation</targetReference>
        </connector>
        <flowName>GBS_RTR</flowName>
        <inputAssignments>
            <name>RecordTypeID</name>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeName</name>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactIdFlow</name>
            <value>
                <elementReference>ContactIdFlowMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserProfile</name>
            <value>
                <elementReference>UserProfileMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>masterCaseType</name>
            <value>
                <elementReference>CaseType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>GBSRecordTypeMaster</name>
            <value>
                <elementReference>GBSRecordTypeMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAccessGroup</name>
            <value>
                <elementReference>varAccessGroupMaster</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RecordIDMaster</assignToReference>
            <name>ChangeRecordCreate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseNumberMaster</assignToReference>
            <name>CaseNumber</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPrimaryCategoryMaster</assignToReference>
            <name>varPrimaryCategory</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSecondaryCategoryMaster</assignToReference>
            <name>varSecondaryCategory</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSuggestedDocs</assignToReference>
            <name>SuggestedDocs</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MasterCaseRecord</assignToReference>
            <name>CaseRecordId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>T_E</name>
        <label>T&amp;E</label>
        <locationX>662</locationX>
        <locationY>704</locationY>
        <connector>
            <targetReference>Attach_Documentation</targetReference>
        </connector>
        <flowName>GBS_T_E</flowName>
        <inputAssignments>
            <name>RecordTypeID</name>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeName</name>
            <value>
                <elementReference>RecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactIdFlow</name>
            <value>
                <elementReference>ContactIdFlowMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserProfile</name>
            <value>
                <elementReference>UserProfileMaster</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>masterCaseType</name>
            <value>
                <elementReference>CaseType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>GBSRecordTypeMaster</name>
            <value>
                <elementReference>GBSRecordTypeMaster</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>RecordIDMaster</assignToReference>
            <name>ChangeRecordCreate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CaseNumberMaster</assignToReference>
            <name>CaseNumber</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPrimaryCategoryMaster</assignToReference>
            <name>varPrimaryCategory</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSecondaryCategoryMaster</assignToReference>
            <name>varSecondaryCategory</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSuggestedDocs</assignToReference>
            <name>SuggestedDocs</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MasterCaseRecord</assignToReference>
            <name>SubCaseRecord</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>ErrorMessage_Formatted</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Error}&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!RequiredFields}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RequiredFields_Formatted</name>
        <text>&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!RequiredField}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</text>
    </textTemplates>
    <variables>
        <name>CaseNumberMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactIdFlowMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FormTypeValueMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GBSRecordTypeMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InvoiceNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>MasterCaseRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MasterInvoiceNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>MasterPaymentNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>masterSendHome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OrderClaimTypeValueMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>None</elementReference>
        </value>
    </variables>
    <variables>
        <name>OrderTypeMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrimaryCatOTC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordIDMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiredField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiredFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SpecialCircumstanceMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserLanguageMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserProfileMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccessGroupMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPrimaryCategoryMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSecondaryCategoryMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSuggestedDocs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
