src/flows/GBS_OTC_Billing-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Case_Number</name>
        <label>Assign Case Number</label>
        <locationX>2009</locationX>
        <locationY>277</locationY>
        <assignmentItems>
            <assignToReference>CaseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPrimaryCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSecondaryCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Secondary_Category</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ClearError_0_0_1</name>
        <label>ClearError</label>
        <locationX>64</locationX>
        <locationY>214</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0_0_1_1_0</name>
        <label>ClearError</label>
        <locationX>1029</locationX>
        <locationY>289</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bailment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0_0_1_1_0_0_3</name>
        <label>ClearError</label>
        <locationX>1242</locationX>
        <locationY>637</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_1_1_0_0_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0_0_1_1_0_0_3_0</name>
        <label>ClearError</label>
        <locationX>1874</locationX>
        <locationY>1047</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_1_1_0_0_3_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0_0_1_1_0_0_3_0_3</name>
        <label>ClearError</label>
        <locationX>558</locationX>
        <locationY>1104</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_1_1_0_0_3_0_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0_0_1_1_0_0_3_0_3_3</name>
        <label>ClearError</label>
        <locationX>160</locationX>
        <locationY>588</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_1_1_0_0_3_0_3_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0_0_1_1_0_1</name>
        <label>ClearError</label>
        <locationX>910</locationX>
        <locationY>404</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Credit_Approval_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0_0_1_1_0_1_0</name>
        <label>ClearError</label>
        <locationX>671</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Route_OTC_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0_0_1_1_1</name>
        <label>ClearError</label>
        <locationX>389</locationX>
        <locationY>225</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GMDM_Cat_2_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintDoc</name>
        <label>PrintDoc</label>
        <locationX>1644</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>SuggestedDocs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuildDocs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FI_Request_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0_0_1</name>
        <label>PrintError</label>
        <locationX>69</locationX>
        <locationY>72</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OTC_Cat_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0_0_1_1_1</name>
        <label>PrintError</label>
        <locationX>395</locationX>
        <locationY>86</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GMDM_Cat_2_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0_0_1_1_1_0_4</name>
        <label>PrintError</label>
        <locationX>1114</locationX>
        <locationY>557</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Correct_Invoice_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0_0_1_1_1_0_4_0</name>
        <label>PrintError</label>
        <locationX>1748</locationX>
        <locationY>963</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invoice_Request_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0_0_1_1_1_0_4_0_3</name>
        <label>PrintError</label>
        <locationX>432</locationX>
        <locationY>1020</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manual_Invoice_Request_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0_0_1_1_1_0_4_0_3_3</name>
        <label>PrintError</label>
        <locationX>34</locationX>
        <locationY>504</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invoice_Number_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SendHome</name>
        <label>SendHome</label>
        <locationX>2165</locationX>
        <locationY>645</locationY>
        <assignmentItems>
            <assignToReference>varSendHome</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TRUE</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SetDoc</name>
        <label>SetDoc</label>
        <locationX>1512</locationX>
        <locationY>1263</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;https://bgsw1.sharepoint.com/GBS-support/_layouts/15/WopiFrame.aspx?sourcedoc={8A9707A2-2ABB-4DE6-8EA1-40165D1E4326}&amp;file=FI%20Request%20Form.xlsx&amp;action=default&quot;&gt;FI Request Form&lt;/a&gt;&lt;br&gt; &lt;/br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;https://bgsw1.sharepoint.com/GBS-support/_layouts/15/WopiFrame.aspx?sourcedoc={981CC95F-D99F-4E16-96F7-86D3E8425051}&amp;file=Guide%20to%20Financial%20Invoice%20Request%20Form.docx&amp;action=default&quot;&gt;FI Request Guide&lt;/a&gt;&lt;br&gt; &lt;/br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintDoc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_1</name>
        <label>SetReqField</label>
        <locationX>184</locationX>
        <locationY>143</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GBS_Label_Primary_Category</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_1_1_1</name>
        <label>SetReqField</label>
        <locationX>513</locationX>
        <locationY>156</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GBS_Label_Secondary_Category</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_1_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_1_1_1_0_4</name>
        <label>SetReqField</label>
        <locationX>1375</locationX>
        <locationY>559</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Number, PO Number, OR Invoice Number</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_1_1_1_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_1_1_1_0_4_0</name>
        <label>SetReqField</label>
        <locationX>2001</locationX>
        <locationY>964</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Number, PO Number, Delivery Number OR Invoice Number</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_1_1_1_0_1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_1_1_1_0_4_0_3</name>
        <label>SetReqField</label>
        <locationX>685</locationX>
        <locationY>1021</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoice Number OR Delivery Number</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_1_1_1_0_1_0_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_1_1_1_0_4_0_3_3</name>
        <label>SetReqField</label>
        <locationX>287</locationX>
        <locationY>505</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoice Number</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_1_1_1_0_1_0_3_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_1_1_1_0_4_1</name>
        <label>SetReqField</label>
        <locationX>1510</locationX>
        <locationY>560</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Correct Invoice Reason</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_1_1_1_0_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_1</name>
        <label>SetReqFields</label>
        <locationX>187</locationX>
        <locationY>74</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_1_1_1</name>
        <label>SetReqFields</label>
        <locationX>513</locationX>
        <locationY>85</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0_0_1_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_1_1_1_0_1</name>
        <label>SetReqFields</label>
        <locationX>1378</locationX>
        <locationY>486</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_1_1_0_0_3_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_1_1_1_0_1_0</name>
        <label>SetReqFields</label>
        <locationX>1875</locationX>
        <locationY>965</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0_0_1_1_1_0_4_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_1_1_1_0_1_0_3</name>
        <label>SetReqFields</label>
        <locationX>559</locationX>
        <locationY>1022</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0_0_1_1_1_0_4_0_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_1_1_1_0_1_0_3_3</name>
        <label>SetReqFields</label>
        <locationX>161</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0_0_1_1_1_0_4_0_3_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_1_1_1_0_1_1</name>
        <label>SetReqFields</label>
        <locationX>1511</locationX>
        <locationY>485</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0_0_1_1_1_0_4</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!None_Picklist}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>-- NONE --</stringValue>
        </value>
    </choices>
    <choices>
        <name>Region_Americas</name>
        <choiceText>Americas</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Americas</stringValue>
        </value>
    </choices>
    <choices>
        <name>Region_APAC</name>
        <choiceText>APAC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>APAC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Region_EMEA</name>
        <choiceText>EMEA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EMEA</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Bailment</name>
        <label>Bailment?</label>
        <locationX>1163</locationX>
        <locationY>291</locationY>
        <defaultConnector>
            <targetReference>ClearError_0_0_1_1_0_1_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>This_is_Bailment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bailment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bailment_Screen_0</targetReference>
            </connector>
            <label>This is Bailment</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_1</name>
        <label>CheckReq</label>
        <locationX>182</locationX>
        <locationY>215</locationY>
        <defaultConnector>
            <targetReference>Third_Category_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_1_1_0</name>
        <label>CheckReq</label>
        <locationX>511</locationX>
        <locationY>226</locationY>
        <defaultConnector>
            <targetReference>ClearError_0_0_1_1_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_1_1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_1_1_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_1_1_0_0_3</name>
        <label>CheckReq</label>
        <locationX>1379</locationX>
        <locationY>634</locationY>
        <defaultConnector>
            <targetReference>CheckReq_0_0_1_1_0_0_3_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Correct_Invoice_Reqs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order_Number</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PO_Number_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Invoice_Number_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_1_1_1_0_4</targetReference>
            </connector>
            <label>Correct Invoice</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_1_1_0_0_3_0</name>
        <label>CheckReq</label>
        <locationX>2003</locationX>
        <locationY>1044</locationY>
        <defaultConnector>
            <targetReference>Create_Credit_Approval_Case_0_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Correct_Invoice_Reqs_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order_Number_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PO_Number_2_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Invoice_Number_2_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Delivery_Number_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_1_1_1_0_4_0</targetReference>
            </connector>
            <label>Correct Invoice</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_1_1_0_0_3_0_3</name>
        <label>CheckReq</label>
        <locationX>687</locationX>
        <locationY>1101</locationY>
        <defaultConnector>
            <targetReference>Create_Credit_Approval_Case_0_1_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Correct_Invoice_Reqs_0_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Invoice_Number_2_1_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Delivery_Number_1_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_1_1_1_0_4_0_3</targetReference>
            </connector>
            <label>Correct Invoice</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_1_1_0_0_3_0_3_3</name>
        <label>CheckReq</label>
        <locationX>289</locationX>
        <locationY>585</locationY>
        <defaultConnector>
            <targetReference>Create_Credit_Approval_Case_0_1_3_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Correct_Invoice_Reqs_0_3_3</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EDI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Print Invoice</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Invoice_Number_2_1_1_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_1_1_1_0_4_0_3_3</targetReference>
            </connector>
            <label>Correct Invoice</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_1_1_0_0_3_1</name>
        <label>CheckReq</label>
        <locationX>1509</locationX>
        <locationY>636</locationY>
        <defaultConnector>
            <targetReference>CheckReq_0_0_1_1_0_0_3_1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Correct_Invoice_Reqs_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Correct_Invoice_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_1_1_1_0_4_1</targetReference>
            </connector>
            <label>Correct Invoice</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_1_1_0_0_3_1_1</name>
        <label>CheckReq</label>
        <locationX>1637</locationX>
        <locationY>636</locationY>
        <defaultConnector>
            <targetReference>Quantity_Issue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Correct_Invoice_Reqs_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorNum</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PrintError_0_0_1_1_1_0_4</targetReference>
            </connector>
            <label>Correct Invoice</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quantity_Issue</name>
        <label>Quantity Issue?</label>
        <locationX>1889</locationX>
        <locationY>641</locationY>
        <defaultConnector>
            <targetReference>Create_Credit_Approval_Case_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Invoice_Correction_Due_to_Quantity_Issue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Approval_Screen_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Route_OTC_Case</name>
        <label>Route OTC Case</label>
        <locationX>671</locationX>
        <locationY>637</locationY>
        <defaultConnector>
            <targetReference>LookupRT_1_3_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Correct_Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Correct Invoice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupRT</targetReference>
            </connector>
            <label>Correct Invoice</label>
        </rules>
        <rules>
            <name>D2D_Xfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D2D Transfer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupRT_1_3_3_3</targetReference>
            </connector>
            <label>D2D Xfer</label>
        </rules>
        <rules>
            <name>Invoice_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoice Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupRT_1</targetReference>
            </connector>
            <label>Invoice Request</label>
        </rules>
        <rules>
            <name>FI_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Financial Invoice Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupRT_1_3_3_3_0</targetReference>
            </connector>
            <label>FI Request</label>
        </rules>
        <rules>
            <name>TPM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada TPM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupRT_1_3_3_3_0_0</targetReference>
            </connector>
            <label>TPM</label>
        </rules>
        <rules>
            <name>Commissions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada Commissions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupRT_1_3_3_3_0_0_0</targetReference>
            </connector>
            <label>Commissions</label>
        </rules>
        <rules>
            <name>Resend_Auto_Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resend Automatic Invoice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupRT_1_3_3_3_0_0_0_0</targetReference>
            </connector>
            <label>Resend Auto Invoice</label>
        </rules>
        <rules>
            <name>Manual_Invoice_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual Invoice Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupRT_1_3</targetReference>
            </connector>
            <label>Manual Invoice Request</label>
        </rules>
        <rules>
            <name>Cancellation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancellation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupRT_1_3_3_3_0_0_1</targetReference>
            </connector>
            <label>Cancellation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Third_Category_Check</name>
        <label>Third Category Check</label>
        <locationX>298</locationX>
        <locationY>340</locationY>
        <defaultConnector>
            <targetReference>ClearError_0_0_1_1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Credit_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClearError_0_0_1_1_0_1</targetReference>
            </connector>
            <label>Credit Approval</label>
        </rules>
        <rules>
            <name>D2D_Transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D2D Transfer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClearError_0_0_1_1_0_1_0</targetReference>
            </connector>
            <label>D2D Transfer</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AvailabilityDateKnown</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Availability_Date_Known__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BusinessUnitPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Business_Unit__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseCat1</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Access_Groups__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varAccessGroup</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;{!masterCaseType}&quot;</stringValue>
            </value>
        </filters>
        <object>GBS_Case_2nd_Type__c</object>
        <outputAssignments>
            <assignToReference>varPrimaryCategory</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
        <sortField>Sort__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseCat2</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;{!Primary_Cateogry}&quot;</stringValue>
            </value>
        </filters>
        <object>GBS_Case_3rd_Type__c</object>
        <outputAssignments>
            <assignToReference>varSecondaryCategory</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseCat3</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Access_Groups__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varAccessGroup</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;{!Primary_Cateogry}&quot;</stringValue>
            </value>
        </filters>
        <object>GBS_Case_3rd_Type__c</object>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseType</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>GBS_Picklist_Option__c</object>
        <outputAssignments>
            <assignToReference>GBSRecordTypeMaster</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChangeType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Change_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CompanyCodePicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Company_Code__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CorrectInvoicePicker</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;{!Primary_Cateogry}&quot;</stringValue>
            </value>
        </filters>
        <object>GBS_Case_4th_Type__c</object>
        <sortField>Sort__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CorrectInvoiceReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Correct_Invoice_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CurrentOrdersPendingPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Current_Orders_Pending__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CurrentRiskRatingPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Current_Risk_Rating__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DocumentType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Document_Types__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ExtendedTermsRequestedPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Extended_Terms_Requested__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InquiryType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Inquiry_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InternalChange</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Internal_Change_Picklist__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InvoiceCorrectionAffectInventory_Picker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Invoice_Correction_Due_to_Quantity_Issue__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InvoiceCorrectionPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Invoice_Correction_Due_to_Quantity_Issue__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MonthRequestPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Related_Month__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleChangesPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_Changes__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleCostCentersPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_Cost_Centers__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleCustomersPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_Customers__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleGLAccountsPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_GL_Accounts__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleSKUsPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_SKUs__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleVendorsPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_Vendors__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProposedRiskRatingPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Proposed_Risk_Rating__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>QuantityTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Quantity_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReferencedWorkflowExistingTicket</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Referenced_Workflow_Existing_Ticket__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Region</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Region__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequestTarget</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Request_Target__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequestTypePicker</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;&quot;</stringValue>
            </value>
        </filters>
        <object>GBS_Picklist_Option__c</object>
        <outputAssignments>
            <assignToReference>RequestType</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReviewTypePicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Review_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StatePicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>State__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StorageLocationPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OTC_Storage_Location__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TrafficRequestReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Traffic_Request_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Doc_PriceMasterMaintenance</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;www.beamsuntory.com&quot;,&quot;Price Master Maintenance Form&quot;)</expression>
    </formulas>
    <formulas>
        <name>Field_Length_Error_Message</name>
        <dataType>String</dataType>
        <expression>$Label.Field_Length_Error_Message</expression>
    </formulas>
    <formulas>
        <name>GBS_Breadcrumbs</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Breadcrumbs</expression>
    </formulas>
    <formulas>
        <name>GBS_Breadcrumbs_Trail</name>
        <dataType>String</dataType>
        <expression>{!masterCaseType}&amp;IF(ISBLANK({!Primary_Cateogry}), &quot;&quot;, &quot; &gt; &quot;&amp;{!Primary_Cateogry})
&amp;IF(ISBLANK({!Secondary_Category}), &quot;&quot;, &quot; &gt; &quot;&amp;{!Secondary_Category})</expression>
    </formulas>
    <formulas>
        <name>GBS_Error</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Error</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_1</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Header_1</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_2</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Header_2</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_3</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Header_3</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_4</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Header_4</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_6</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Header_6</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Comments</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Comments</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Invoice_Correction_Affect_Inventory</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Invoice_Correction_Affect_Inventory</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Invoice_Number</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Invoice_Number</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Number_of_Items_Requested</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Number_of_Items_Requested</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_PO_Number</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_PO_Number</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Primary_Category</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Primary_Category</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Request_Description</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Request_Description</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_SAP_Number</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_SAP_Number</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Secondary_Category</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Secondary_Category</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_SKU_Number</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_SKU_Number</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Tertiary_Category</name>
        <dataType>String</dataType>
        <expression>$label.GBS_Label_Tertiary_Category</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_1</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Sub_1</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_2</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Sub_2</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_3</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Sub_3</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_4</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Sub_4</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_6</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Sub_6</expression>
    </formulas>
    <formulas>
        <name>GBS_Suggested_Docs</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Suggested_Docs</expression>
    </formulas>
    <formulas>
        <name>Label_Other</name>
        <dataType>String</dataType>
        <expression>{!$Label.CS_Flow_Picklist_Option_Other}</expression>
    </formulas>
    <formulas>
        <name>None_Picklist</name>
        <dataType>String</dataType>
        <expression>$Label.None_Picklist</expression>
    </formulas>
    <interviewLabel>GBS - OTC Billing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GBS - OTC Billing</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Credit_Approval_Case</name>
        <label>Create_Credit_Approval_Case</label>
        <locationX>1170</locationX>
        <locationY>409</locationY>
        <assignRecordIdToReference>CaseRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <elementReference>Business_Unit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Limit__c</field>
            <value>
                <elementReference>Current_Limit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Orders_Amount__c</field>
            <value>
                <elementReference>Current_Orders_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Orders_Pending__c</field>
            <value>
                <elementReference>Current_Orders_Pending</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Risk_Rating__c</field>
            <value>
                <elementReference>Current_Risk_Rating</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <elementReference>Customer_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Financials_Received__c</field>
            <value>
                <elementReference>Date_Financials_Received</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Financials_Requested__c</field>
            <value>
                <elementReference>Date_Financials_Requested</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Forecast_Received__c</field>
            <value>
                <elementReference>Date_Forecast_Received</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Forecast_Requested__c</field>
            <value>
                <elementReference>Date_Forecast_Requested</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Extended_Terms_Requested__c</field>
            <value>
                <elementReference>Extended_Terms_Requested</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Proposed_Review__c</field>
            <value>
                <elementReference>Next_Proposed_Review</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_Limit__c</field>
            <value>
                <elementReference>Proposed_Limit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_Risk_Rating__c</field>
            <value>
                <elementReference>Proposed_Risk_Rating</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012o0000000nbev</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>RegionChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Review_Type__c</field>
            <value>
                <elementReference>Review_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SAP_Number__c</field>
            <value>
                <elementReference>SAP_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Credit_Approval_Case_0</name>
        <label>Create_Credit_Approval_Case</label>
        <locationX>1895</locationX>
        <locationY>546</locationY>
        <assignRecordIdToReference>CaseRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Beam_Suntory_Order_Number__c</field>
            <value>
                <elementReference>Order_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_2__c</field>
            <value>
                <elementReference>Secondary_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Correct_Invoice_Reason__c</field>
            <value>
                <elementReference>Correct_Invoice_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <elementReference>Customer_Name_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Reason_for_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Correction_Due_to_Quantity_Issue__c</field>
            <value>
                <elementReference>Invoice_Correction_Due_to_Quantity_Issue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Number__c</field>
            <value>
                <elementReference>Invoice_Number_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Invoices__c</field>
            <value>
                <elementReference>Number_of_Invoices</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Order_Number__c</field>
            <value>
                <elementReference>PO_Number_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCaseRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Credit_Approval_Case_0_0</name>
        <label>Create_Credit_Approval_Case</label>
        <locationX>1164</locationX>
        <locationY>55</locationY>
        <assignRecordIdToReference>CaseRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_2__c</field>
            <value>
                <elementReference>Secondary_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Number__c</field>
            <value>
                <elementReference>Customer_Number_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description_0_0_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PO_Date__c</field>
            <value>
                <elementReference>PO_Date_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PO_Received_Date__c</field>
            <value>
                <elementReference>Date_of_Receipt_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Order_Number__c</field>
            <value>
                <elementReference>PO_Number2_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity_Type__c</field>
            <value>
                <elementReference>QuantityTypeRB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012o0000000nbep</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>State_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Location__c</field>
            <value>
                <elementReference>Storage_Location_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Credit_Approval_Case_0_1</name>
        <label>Create_Credit_Approval_Case</label>
        <locationX>2125</locationX>
        <locationY>1044</locationY>
        <assignRecordIdToReference>CaseRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Beam_Suntory_Order_Number__c</field>
            <value>
                <elementReference>Order_Number_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_2__c</field>
            <value>
                <elementReference>Secondary_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <elementReference>Customer_Name_2_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Number__c</field>
            <value>
                <elementReference>Delivery_Number_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Additional_Comments_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Number__c</field>
            <value>
                <elementReference>Invoice_Number_2_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Items_Requested__c</field>
            <value>
                <elementReference>Number_of_Items_Requested_2_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Order_Number__c</field>
            <value>
                <elementReference>PO_Number_2_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCaseRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Credit_Approval_Case_0_1_3</name>
        <label>Create_Credit_Approval_Case</label>
        <locationX>812</locationX>
        <locationY>1104</locationY>
        <assignRecordIdToReference>CaseRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_2__c</field>
            <value>
                <elementReference>Secondary_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Number__c</field>
            <value>
                <elementReference>Delivery_Number_1_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Reason_for_Request_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Number__c</field>
            <value>
                <elementReference>Invoice_Number_2_1_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCaseRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Credit_Approval_Case_0_1_3_3</name>
        <label>Create_Credit_Approval_Case</label>
        <locationX>414</locationX>
        <locationY>588</locationY>
        <assignRecordIdToReference>CaseRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_2__c</field>
            <value>
                <elementReference>Secondary_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Additional_Comments_6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Number__c</field>
            <value>
                <elementReference>Invoice_Number_2_1_1_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCaseRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Credit_Approval_Case_0_1_3_3_3</name>
        <label>Create_Credit_Approval_Case</label>
        <locationX>1723</locationX>
        <locationY>834</locationY>
        <assignRecordIdToReference>CaseRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_2__c</field>
            <value>
                <elementReference>Secondary_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <elementReference>Customer_Name_2_2_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Additional_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Number__c</field>
            <value>
                <elementReference>Invoice_Number_2_2_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Items_Requested__c</field>
            <value>
                <elementReference>Number_of_Items_Requested_2_2_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Order_Number__c</field>
            <value>
                <elementReference>PO_Number_2_2_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCaseRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Credit_Approval_Case_0_1_3_3_3_0</name>
        <label>Create_Credit_Approval_Case</label>
        <locationX>1828</locationX>
        <locationY>1182</locationY>
        <assignRecordIdToReference>CaseRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_2__c</field>
            <value>
                <elementReference>Secondary_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Additional_Comments_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Invoices__c</field>
            <value>
                <elementReference>Number_of_Invoices2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCaseRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Credit_Approval_Case_0_1_3_3_3_0_0</name>
        <label>Create_Credit_Approval_Case</label>
        <locationX>1293</locationX>
        <locationY>1090</locationY>
        <assignRecordIdToReference>CaseRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_2__c</field>
            <value>
                <elementReference>Secondary_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <elementReference>Customer_Name_2_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Number__c</field>
            <value>
                <elementReference>Customer_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Additional_Comments_7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Number__c</field>
            <value>
                <elementReference>Invoice_Number_2_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCaseRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Credit_Approval_Case_0_1_3_3_3_0_0_0</name>
        <label>Create_Credit_Approval_Case</label>
        <locationX>1368</locationX>
        <locationY>1189</locationY>
        <assignRecordIdToReference>CaseRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_2__c</field>
            <value>
                <elementReference>Secondary_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Additional_Comments_4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCaseRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Month__c</field>
            <value>
                <elementReference>Month_Request_Is_For_1_2_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Credit_Approval_Case_0_1_3_3_3_0_0_1</name>
        <label>Create_Credit_Approval_Case</label>
        <locationX>1048</locationX>
        <locationY>1287</locationY>
        <assignRecordIdToReference>CaseRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_2__c</field>
            <value>
                <elementReference>Secondary_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Additional_Comments_5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Number__c</field>
            <value>
                <elementReference>Invoice_Number_2_1_1_1_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Invoices__c</field>
            <value>
                <elementReference>Number_of_Invoices_1_1_1_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCaseRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Credit_Approval_Case_0_1_3_3_3_0_0_2</name>
        <label>Create_Credit_Approval_Case</label>
        <locationX>102</locationX>
        <locationY>957</locationY>
        <assignRecordIdToReference>CaseRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_2__c</field>
            <value>
                <elementReference>Secondary_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Reason_for_Request_5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Number__c</field>
            <value>
                <elementReference>Invoice_Number_2_1_1_1_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varCaseRT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Month__c</field>
            <value>
                <elementReference>Month_Invoiced_1_1_1_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Case_Number</name>
        <label>Find Case Number</label>
        <locationX>1874</locationX>
        <locationY>273</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Number</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseRecord</outputReference>
        <queriedFields>CaseNumber</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupRT</name>
        <label>LookupRT</label>
        <locationX>986</locationX>
        <locationY>641</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Correct_Invoice_Screen</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OTC - Correct Invoice</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupRT_1</name>
        <label>LookupRT</label>
        <locationX>1621</locationX>
        <locationY>1046</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoice_Request_Screen</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OTC - Invoice Request</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupRT_1_3</name>
        <label>LookupRT</label>
        <locationX>312</locationX>
        <locationY>1103</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Manual_Invoice_Request_Screen</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OTC - Manual Invoice Request</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupRT_1_3_3</name>
        <label>LookupRT</label>
        <locationX>34</locationX>
        <locationY>693</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoice_Number_Screen</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OTC - Invoice Number</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupRT_1_3_3_3</name>
        <label>LookupRT</label>
        <locationX>1473</locationX>
        <locationY>831</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>D2D_Transfer_Screen</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OTC - D2D Xfer</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupRT_1_3_3_3_0</name>
        <label>LookupRT</label>
        <locationX>1551</locationX>
        <locationY>1180</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetDoc</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OTC - FI Request</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupRT_1_3_3_3_0_0</name>
        <label>LookupRT</label>
        <locationX>1124</locationX>
        <locationY>1005</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TPM_Screen</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OTC - TPM</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupRT_1_3_3_3_0_0_0</name>
        <label>LookupRT</label>
        <locationX>1115</locationX>
        <locationY>1185</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Commissions_Screen</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OTC - Commissions</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupRT_1_3_3_3_0_0_0_0</name>
        <label>LookupRT</label>
        <locationX>782</locationX>
        <locationY>1285</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Resend_Auto_Invoice_Screen</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OTC - Resend Auto Invoice</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupRT_1_3_3_3_0_0_1</name>
        <label>LookupRT</label>
        <locationX>104</locationX>
        <locationY>790</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cancellation_Screen</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OTC - Cancellation</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Bailment_Screen_0</name>
        <label>Bailment Screen</label>
        <locationX>1166</locationX>
        <locationY>159</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Credit_Approval_Case_0_0</targetReference>
        </connector>
        <fields>
            <name>RTRHeaderText_0_0_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!GBS_Breadcrumbs_Trail}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Sub_4}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_0_0_0</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Number_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Customer_Number_0</elementReference>
            </defaultValue>
            <fieldText>Customer Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN({!Customer_Number_0}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>State_0</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>StatePicker</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Storage_Location_0</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>StorageLocationPicker</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Storage Location</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>QuantityTypeRB</name>
            <choiceReferences>QuantityTypePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Quantity Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>CaseRecord.Quantity__c</elementReference>
            </defaultValue>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>PO_Number2_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PO_Number2_0</elementReference>
            </defaultValue>
            <fieldText>PO Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 100</errorMessage>
                <formulaExpression>LEN({!PO_Number2_0}) &lt;= 100</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>PO_Date_0</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>PO_Date_0</elementReference>
            </defaultValue>
            <fieldText>PO Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_of_Receipt_0</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Date_of_Receipt_0</elementReference>
            </defaultValue>
            <fieldText>Date of Receipt</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description_0_0_0</name>
            <defaultValue>
                <elementReference>Description_0_0_0</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Label_Comments}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Description_0_0_0}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Cancellation_Screen</name>
        <label>Cancellation</label>
        <locationX>104</locationX>
        <locationY>872</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Credit_Approval_Case_0_1_3_3_3_0_0_2</targetReference>
        </connector>
        <fields>
            <name>RTRHeaderText_0_1_1_1_1_3</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!GBS_Breadcrumbs_Trail}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Sub_4}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_0_1_1_1_1_3</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Invoice_Number_2_1_1_1_3</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Invoice_Number_2_1_1_1_3</elementReference>
            </defaultValue>
            <fieldText>Invoice Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 10</errorMessage>
                <formulaExpression>LEN({!Invoice_Number_2_1_1_1_3}) &lt;= 10</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Month_Invoiced_1_1_1_3</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>MonthRequestPicker</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Month Invoiced</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reason_for_Request_5</name>
            <defaultValue>
                <elementReference>Reason_for_Request_5</elementReference>
            </defaultValue>
            <fieldText>Reason for Request</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Reason_for_Request_5}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Commissions_Screen</name>
        <label>Commissions</label>
        <locationX>1241</locationX>
        <locationY>1187</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Credit_Approval_Case_0_1_3_3_3_0_0_0</targetReference>
        </connector>
        <fields>
            <name>RTRHeaderText_0_1_1_2_2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!GBS_Breadcrumbs_Trail}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Sub_4}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_0_1_1_2_2</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Month_Request_Is_For_1_2_2</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>MonthRequestPicker</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Month Request Is For</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Additional_Comments_4</name>
            <defaultValue>
                <elementReference>Additional_Comments_4</elementReference>
            </defaultValue>
            <fieldText>Additional Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Additional_Comments_4}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Correct_Invoice_Screen</name>
        <label>Correct Invoice</label>
        <locationX>1116</locationX>
        <locationY>637</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError_0_0_1_1_0_0_3</targetReference>
        </connector>
        <fields>
            <name>RTRHeaderText_0_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!GBS_Breadcrumbs_Trail}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Sub_4}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_0_1</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Name_2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Customer_Name_2</elementReference>
            </defaultValue>
            <fieldText>Customer Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN({!Customer_Name_2}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Order_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Order_Number</elementReference>
            </defaultValue>
            <fieldText>Order Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN({!Order_Number}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>PO_Number_2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PO_Number_2</elementReference>
            </defaultValue>
            <fieldText>PO Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 100</errorMessage>
                <formulaExpression>LEN({!PO_Number_2}) &lt;= 100</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Invoice_Number_2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Invoice_Number_2</elementReference>
            </defaultValue>
            <fieldText>Invoice Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 10</errorMessage>
                <formulaExpression>LEN({!Invoice_Number_2}) &lt;= 10</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Number_of_Invoices</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Number_of_Invoices</elementReference>
            </defaultValue>
            <fieldText>Number of Invoices</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 3</errorMessage>
                <formulaExpression>LEN(TEXT({!Number_of_Invoices})) &lt;= 3</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Invoice_Correction_Due_to_Quantity_Issue</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>InvoiceCorrectionPicker</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Invoice Correction Due to Quantity Issue?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Correct_Invoice_Reason</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>CorrectInvoicePicker</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Correct Invoice Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reason_for_Request</name>
            <defaultValue>
                <elementReference>Reason_for_Request</elementReference>
            </defaultValue>
            <fieldText>Reason for Request</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Reason_for_Request}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Credit_Approval_Screen</name>
        <label>Credit Approval Screen</label>
        <locationX>1040</locationX>
        <locationY>409</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Credit_Approval_Case</targetReference>
        </connector>
        <fields>
            <name>RTRHeaderText_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!GBS_Breadcrumbs_Trail}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Sub_4}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_0</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Review_Type</name>
            <choiceReferences>ReviewTypePicker</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Review Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Customer_Name</name>
            <dataType>String</dataType>
            <fieldText>Customer Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN({!Customer_Name}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>SAP_Number</name>
            <dataType>String</dataType>
            <fieldText>SAP Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 10</errorMessage>
                <formulaExpression>LEN({!SAP_Number}) &lt;= 10</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>RegionChoice</name>
            <choiceReferences>Region_Americas</choiceReferences>
            <choiceReferences>Region_EMEA</choiceReferences>
            <choiceReferences>Region_APAC</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Region</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Business_Unit</name>
            <choiceReferences>BusinessUnitPicker</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Business Unit</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Date_Financials_Requested</name>
            <dataType>Date</dataType>
            <fieldText>Date Financials Requested</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Date_Financials_Received</name>
            <dataType>Date</dataType>
            <fieldText>Date Financials Received</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Date_Forecast_Requested</name>
            <dataType>Date</dataType>
            <fieldText>Date Forecast Requested</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Date_Forecast_Received</name>
            <dataType>Date</dataType>
            <fieldText>Date Forecast Received</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Current_Limit</name>
            <dataType>Currency</dataType>
            <fieldText>Current Limit (USD)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 18</errorMessage>
                <formulaExpression>LEN(TEXT({!Current_Limit})) &lt;= 18</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Proposed_Limit</name>
            <dataType>Currency</dataType>
            <fieldText>Proposed Limit (USD)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 18</errorMessage>
                <formulaExpression>LEN(TEXT({!Proposed_Limit})) &lt;= 18</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Extended_Terms_Requested</name>
            <choiceReferences>ExtendedTermsRequestedPicker</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Extended Terms Requested</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Current_Risk_Rating</name>
            <choiceReferences>CurrentRiskRatingPicker</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Current Risk Rating</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Proposed_Risk_Rating</name>
            <choiceReferences>ProposedRiskRatingPicker</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Proposed Risk Rating</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Current_Orders_Pending</name>
            <choiceReferences>CurrentOrdersPendingPicker</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Current Orders Pending</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Current_Orders_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Current Orders Amount (USD)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 18</errorMessage>
                <formulaExpression>LEN(TEXT({!Current_Orders_Amount})) &lt;= 18</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Next_Proposed_Review</name>
            <dataType>Date</dataType>
            <fieldText>Next Proposed Review</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description_0</name>
            <defaultValue>
                <elementReference>Description_0</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Label_Comments}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Description_0}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Credit_Approval_Screen_1</name>
        <label>Credit Approval Screen</label>
        <locationX>2021</locationX>
        <locationY>640</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SendHome</targetReference>
        </connector>
        <fields>
            <name>RTRHeaderText_0_2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Quantity Issue&lt;/B&gt;&lt;BR&gt; &lt;/BR&gt;&lt;BR&gt; &lt;/BR&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;FONT KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!GBS_Breadcrumbs_Trail}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;BR&gt; &lt;/BR&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;For all quantity issues, please reach out to your Customer Service Coordinator for resolution.  Clicking the &amp;quot;Next&amp;quot; button will route you to the start of the Global Business Services Case Management process.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>D2D_Transfer_Screen</name>
        <label>D2D Transfer</label>
        <locationX>1598</locationX>
        <locationY>831</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Credit_Approval_Case_0_1_3_3_3</targetReference>
        </connector>
        <fields>
            <name>RTRHeaderText_0_1_2_2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!GBS_Breadcrumbs_Trail}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Sub_4}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_0_1_2_2</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Name_2_2_2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Customer_Name_2_2_2</elementReference>
            </defaultValue>
            <fieldText>Customer Names</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN({!Customer_Name_2_2_2}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>PO_Number_2_2_2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PO_Number_2_2_2</elementReference>
            </defaultValue>
            <fieldText>Customer PO Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 100</errorMessage>
                <formulaExpression>LEN({!PO_Number_2_2_2}) &lt;= 100</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Invoice_Number_2_2_2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Invoice_Number_2_2_2</elementReference>
            </defaultValue>
            <fieldText>Customer Invoice Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 10</errorMessage>
                <formulaExpression>LEN({!Invoice_Number_2_2_2}) &lt;= 10</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Number_of_Items_Requested_2_2_2</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Number_of_Items_Requested_2_2_2</elementReference>
            </defaultValue>
            <fieldText>Number of Items Requested</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 10</errorMessage>
                <formulaExpression>LEN(TEXT(Number_of_Items_Requested_2_2_2)) &lt;= 10</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Additional_Comments</name>
            <defaultValue>
                <elementReference>Additional_Comments</elementReference>
            </defaultValue>
            <fieldText>Additional Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Additional_Comments}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>FI_Request_Screen</name>
        <label>FI Request</label>
        <locationX>1693</locationX>
        <locationY>1181</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Credit_Approval_Case_0_1_3_3_3_0</targetReference>
        </connector>
        <fields>
            <name>RTRHeaderText_0_1_1_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!GBS_Breadcrumbs_Trail}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Sub_4}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_0_1_1_1</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Number_of_Invoices2</name>
            <dataType>Number</dataType>
            <fieldText>Number of Invoices</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 3</errorMessage>
                <formulaExpression>LEN(TEXT({!Number_of_Invoices2})) &lt;= 3</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Additional_Comments_3</name>
            <defaultValue>
                <elementReference>Additional_Comments_3</elementReference>
            </defaultValue>
            <fieldText>Additional Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Additional_Comments_3}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>SuggestedDocs_Display</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!GBS_Suggested_Docs}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!SuggestedDocs}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>GMDM_Cat_2_0</name>
        <label>GMDM Cat 2</label>
        <locationX>393</locationX>
        <locationY>156</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckReq_0_0_1_1_0</targetReference>
        </connector>
        <fields>
            <name>GBS_Header_3_Text_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_3}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_Breadcrumbs_Text_2_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Breadcrumbs}  &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!masterCaseType}&lt;/B&gt;&lt;FONT KERNING=&quot;0&quot;&gt;&lt;B&gt; &amp;gt; {!Primary_Cateogry}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_Sub_3_Text_0</name>
            <fieldText>{!GBS_Sub_3} &lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_Error_Text_2_0</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Secondary_Category</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>CaseCat2</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Label_Secondary_Category}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Invoice_Number_Screen</name>
        <label>Invoice Number</label>
        <locationX>25</locationX>
        <locationY>597</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError_0_0_1_1_0_0_3_0_3_3</targetReference>
        </connector>
        <fields>
            <name>RTRHeaderText_0_1_1_1_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!GBS_Breadcrumbs_Trail}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Sub_4}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_0_1_1_1_1</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Invoice_Number_2_1_1_1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Invoice_Number_2_1_1_1</elementReference>
            </defaultValue>
            <fieldText>Invoice Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 10</errorMessage>
                <formulaExpression>LEN({!Invoice_Number_2_1_1_1}) &lt;= 10</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Additional_Comments_6</name>
            <defaultValue>
                <elementReference>Additional_Comments_6</elementReference>
            </defaultValue>
            <fieldText>Additional Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Additional_Comments_6}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Invoice_Request_Screen</name>
        <label>Invoice Request</label>
        <locationX>1747</locationX>
        <locationY>1043</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError_0_0_1_1_0_0_3_0</targetReference>
        </connector>
        <fields>
            <name>RTRHeaderText_0_1_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!GBS_Breadcrumbs_Trail}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Sub_4}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_0_1_1</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Name_2_1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Customer_Name_2_1</elementReference>
            </defaultValue>
            <fieldText>Customer Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN({!Customer_Name_2_1}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Order_Number_1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Order_Number_1</elementReference>
            </defaultValue>
            <fieldText>Order Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN({!Order_Number_1}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>PO_Number_2_1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PO_Number_2_1</elementReference>
            </defaultValue>
            <fieldText>PO Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 100</errorMessage>
                <formulaExpression>LEN({!PO_Number_2_1}) &lt;= 100</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Delivery_Number_1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Delivery_Number_1</elementReference>
            </defaultValue>
            <fieldText>Delivery Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN({!Delivery_Number_1}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Invoice_Number_2_1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Invoice_Number_2_1</elementReference>
            </defaultValue>
            <fieldText>Invoice Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 10</errorMessage>
                <formulaExpression>LEN({!Invoice_Number_2_1}) &lt;= 10</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Number_of_Items_Requested_2_1</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Number_of_Items_Requested_2_1</elementReference>
            </defaultValue>
            <fieldText>Number of Items Requested</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 10</errorMessage>
                <formulaExpression>LEN(TEXT({!Number_of_Items_Requested_2_1})) &lt;= 10</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Additional_Comments_2</name>
            <defaultValue>
                <elementReference>Additional_Comments_2</elementReference>
            </defaultValue>
            <fieldText>Additional Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Additional_Comments_2}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Manual_Invoice_Request_Screen</name>
        <label>Manual Invoice Request</label>
        <locationX>433</locationX>
        <locationY>1105</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError_0_0_1_1_0_0_3_0_3</targetReference>
        </connector>
        <fields>
            <name>RTRHeaderText_0_1_1_2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!GBS_Breadcrumbs_Trail}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Sub_4}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_0_1_1_2</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Invoice_Number_2_1_2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Invoice_Number_2_1_2</elementReference>
            </defaultValue>
            <fieldText>Order Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 10</errorMessage>
                <formulaExpression>LEN({!Invoice_Number_2_1_2}) &lt;= 10</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Delivery_Number_1_2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Delivery_Number_1_2</elementReference>
            </defaultValue>
            <fieldText>Delivery Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN({!Delivery_Number_1_2}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Reason_for_Request_2</name>
            <defaultValue>
                <elementReference>Reason_for_Request_2</elementReference>
            </defaultValue>
            <fieldText>Reason for Request</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Reason_for_Request_2}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>OTC_Cat_1</name>
        <label>OTC Cat 1</label>
        <locationX>67</locationX>
        <locationY>143</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError_0_0_1</targetReference>
        </connector>
        <fields>
            <name>GBS_GMDM_Header_2_Text</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_2}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_Breadcrumbs_Text</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!masterCaseType}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_GMDM_Sub_2_Text</name>
            <fieldText>{!GBS_Sub_2} &lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_Error_Text</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Primary_Cateogry</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>CaseCat1</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Label_Primary_Category}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Resend_Auto_Invoice_Screen</name>
        <label>Resend Auto Invoice</label>
        <locationX>917</locationX>
        <locationY>1285</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Credit_Approval_Case_0_1_3_3_3_0_0_1</targetReference>
        </connector>
        <fields>
            <name>RTRHeaderText_0_1_1_1_1_2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!GBS_Breadcrumbs_Trail}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Sub_4}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_0_1_1_1_1_2</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Invoice_Number_2_1_1_1_2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Invoice_Number_2_1_1_1_2</elementReference>
            </defaultValue>
            <fieldText>Invoice Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 10</errorMessage>
                <formulaExpression>LEN({!Invoice_Number_2_1_1_1_2}) &lt;= 10</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Number_of_Invoices_1_1_1_2</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Number_of_Invoices_1_1_1_2</elementReference>
            </defaultValue>
            <fieldText>Number of Invoices</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 3</errorMessage>
                <formulaExpression>LEN(TEXT({!Number_of_Invoices_1_1_1_2})) &lt;= 3</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Additional_Comments_5</name>
            <defaultValue>
                <elementReference>Additional_Comments_5</elementReference>
            </defaultValue>
            <fieldText>Additional Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Additional_Comments_5}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>TPM_Screen</name>
        <label>TPM</label>
        <locationX>1166</locationX>
        <locationY>1088</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Credit_Approval_Case_0_1_3_3_3_0_0</targetReference>
        </connector>
        <fields>
            <name>RTRHeaderText_0_1_2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!GBS_Breadcrumbs_Trail}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Sub_4}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_0_1_2</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Customer_Number</elementReference>
            </defaultValue>
            <fieldText>Customer Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN({!Customer_Number}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Customer_Name_2_2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Customer_Name_2_2</elementReference>
            </defaultValue>
            <fieldText>Customer Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN({!Customer_Name_2_2}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Invoice_Number_2_2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Invoice_Number_2_2</elementReference>
            </defaultValue>
            <fieldText>Invoice Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 10</errorMessage>
                <formulaExpression>LEN({!Invoice_Number_2_2}) &lt;= 10</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Additional_Comments_7</name>
            <defaultValue>
                <elementReference>Additional_Comments_7</elementReference>
            </defaultValue>
            <fieldText>Additional Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Additional_Comments_7}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <startElementReference>OTC_Cat_1</startElementReference>
    <textTemplates>
        <name>BuildDocs</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!DocLink}&lt;/FONT&gt;&lt;/SPAN&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ErrorMessage_Formatted</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Error}&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!RequiredFields}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RequiredFields_Formatted</name>
        <text>&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!RequiredField}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</text>
    </textTemplates>
    <variables>
        <name>Case_Record_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ChangeRecordCreate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactIdFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DisplayDocuments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DocLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DocLinks</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>GBSRecordTypeMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GMDM_Case_Record</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GMDM_Material_Create_Record</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>masterCaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrimaryCatMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiredField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiredFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SecondaryCatMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SecondChoiceSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SuggestedDocs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccessGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPrimaryCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSecondaryCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSendHome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>FALSE</stringValue>
        </value>
    </variables>
</Flow>
