src/flows/GBS_T_E-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Case_Number_0_0</name>
        <label>Assign Case Number</label>
        <locationX>1116</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CaseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecordCreated.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPrimaryCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ClearError_0_0_1</name>
        <label>ClearError</label>
        <locationX>35</locationX>
        <locationY>418</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0_0_1_1_0</name>
        <label>ClearError</label>
        <locationX>275</locationX>
        <locationY>419</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Choose_Sub_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0_0_1</name>
        <label>PrintError</label>
        <locationX>34</locationX>
        <locationY>274</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TE_Cat_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_1</name>
        <label>SetReqField</label>
        <locationX>155</locationX>
        <locationY>344</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GBS_Label_Primary_Category</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_1</name>
        <label>SetReqFields</label>
        <locationX>158</locationX>
        <locationY>271</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0_0_1</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!None_Picklist}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>-- NONE --</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CheckReq_0_0_1</name>
        <label>CheckReq</label>
        <locationX>152</locationX>
        <locationY>418</locationY>
        <defaultConnector>
            <targetReference>ClearError_0_0_1_1_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Choose_Sub_Form</name>
        <label>Choose Sub-Form</label>
        <locationX>343</locationX>
        <locationY>319</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>TE_Corp_Card_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporate Card Status</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TE_Corp_Card_Status_Screen</targetReference>
            </connector>
            <label>TE - Corp Card Status</label>
        </rules>
        <rules>
            <name>TE_Request_Corp_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request Corporate Card</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TE_Corp_Card_Status_Screen_1</targetReference>
            </connector>
            <label>TE - Request Corp Card</label>
        </rules>
        <rules>
            <name>TE_Brand_Ambassador</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reimbursement Status</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TE_Brand_Ambassador_Screen</targetReference>
            </connector>
            <label>TE - Brand Ambassador</label>
        </rules>
        <rules>
            <name>TE_Concur_Profile_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Concur Profile Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TE_Concur_Profile_Request_Screen</targetReference>
            </connector>
            <label>TE - Concur Profile Request</label>
        </rules>
        <rules>
            <name>TE_Upload_IOs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Uploading IOs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TE_Uploading_IOs_Screen</targetReference>
            </connector>
            <label>TE - Upload IOs</label>
        </rules>
        <rules>
            <name>TE_Uploading_Campaign_Codes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Uploading Campaign Codes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TE_Upload_Campaign_Codes_Screen</targetReference>
            </connector>
            <label>TE - Uploading Campaign Codes</label>
        </rules>
        <rules>
            <name>TE_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TE_Other_Screen</targetReference>
            </connector>
            <label>TE - Other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_Urgent</name>
        <label>Is this Urgent?</label>
        <locationX>343</locationX>
        <locationY>125</locationY>
        <defaultConnector>
            <targetReference>TE_Request_Corp_Card_Not_Urgent_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Urgent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TE_Request_Corp_Card_Urgent_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AvailabilityDateKnown</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Availability_Date_Known__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseCat1</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;{!masterCaseType}&quot;</stringValue>
            </value>
        </filters>
        <object>GBS_Case_2nd_Type__c</object>
        <sortField>Sort__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseCat2</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </filters>
        <object>GBS_Picklist_Option__c</object>
        <outputAssignments>
            <assignToReference>SecondaryCatMaster</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseType</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>GBS_Picklist_Option__c</object>
        <outputAssignments>
            <assignToReference>GBSRecordTypeMaster</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChangeType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Change_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CompanyCodePicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Company_Code__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DocumentType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Document_Types__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InquiryType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Inquiry_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InternalChange</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Internal_Change_Picklist__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleChangesPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_Changes__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleCostCentersPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_Cost_Centers__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleCustomersPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_Customers__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleGLAccountsPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_GL_Accounts__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleSKUsPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_SKUs__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleVendorsPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_Vendors__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentMethod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Method__c</picklistField>
        <picklistObject>Case_Detail__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>POChange_Picker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PO_Change_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Region</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Region__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequestTypePicker</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;&quot;</stringValue>
            </value>
        </filters>
        <object>GBS_Picklist_Option__c</object>
        <outputAssignments>
            <assignToReference>RequestType</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TrafficRequestReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Traffic_Request_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UrgentPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Urgent__c</picklistField>
        <picklistObject>Case</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <name>Doc_PriceMasterMaintenance</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;www.beamsuntory.com&quot;,&quot;Price Master Maintenance Form&quot;)</expression>
    </formulas>
    <formulas>
        <name>Field_Length_Error_Message</name>
        <dataType>String</dataType>
        <expression>$Label.Field_Length_Error_Message</expression>
    </formulas>
    <formulas>
        <name>GBS_Breadcrumb_Trail</name>
        <dataType>String</dataType>
        <expression>{!masterCaseType}&amp;&quot; &quot;&amp;{!Primary_Cateogry}</expression>
    </formulas>
    <formulas>
        <name>GBS_Breadcrumbs</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Breadcrumbs</expression>
    </formulas>
    <formulas>
        <name>GBS_Error</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Error</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_1</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Header_1</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_2</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Header_2</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_3</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Header_3</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_4</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Header_4</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_Number_of_Entries</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Header_Number_of_Entries</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Amount</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Amount</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Balance_Due</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Balance_Due</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Business_Phone</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Business_Phone</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Check_Number</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Check_Number</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Comments</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Comments</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Corporate_Card_Application_Date</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Corporate_Card_Application_Date</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Corporate_Card_Urgency_Header</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Corporate_Card_Urgency_Header</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Corporate_Card_Urgency_Sub</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Corporate_Card_Urgency_Sub</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Cost_Center</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Cost_Center</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Invoice_Date</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Invoice_Date</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Invoice_Number</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Invoice_Number</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Invoice_Submission_Header</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Invoice_Submission_Header</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Invoice_Submission_Instructions</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Invoice_Submission_Instructions</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Last_4_SSN</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Last_4_SSN</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Number_of_Invoices</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Number_of_Invoices</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Number_of_Payments</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Number_of_Payments</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Payment_Date</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Payment_Date</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Payment_Method</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Payment_Method</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Payment_Reference</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Payment_Reference</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_PO_Change</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_PO_Change</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_PO_Number</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_PO_Number</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Primary_Category</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Primary_Category</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_PRPO_Number</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_PRPO_Number</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Request_Description</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Request_Description</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Required_Characters</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Required_Characters</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Secondary_Category</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Secondary_Category</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_SKU_Number</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_SKU_Number</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Urgent</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Urgent</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Vendor_Number</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Vendor_Number</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Work_Address</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Work_Address</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_1</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Sub_1</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_2</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Sub_2</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_3</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Sub_3</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_4</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Sub_4</expression>
    </formulas>
    <formulas>
        <name>GBS_Suggested_Docs</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Suggested_Docs</expression>
    </formulas>
    <formulas>
        <name>InvoiceNumCountDown</name>
        <dataType>Number</dataType>
        <expression>{!InvoiceNum} - 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Label_Other</name>
        <dataType>String</dataType>
        <expression>{!$Label.CS_Flow_Picklist_Option_Other}</expression>
    </formulas>
    <formulas>
        <name>None_Picklist</name>
        <dataType>String</dataType>
        <expression>$Label.None_Picklist</expression>
    </formulas>
    <interviewLabel>GBS - T&amp;E {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GBS - T&amp;E</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>779</locationX>
        <locationY>61</locationY>
        <assignRecordIdToReference>SubCaseRecord</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Corporate_Card_Application_Date__c</field>
            <value>
                <elementReference>Date_Applied_for_Card</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Request_Desc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012o0000000nbf7</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_0</name>
        <label>Create Case</label>
        <locationX>784</locationX>
        <locationY>137</locationY>
        <assignRecordIdToReference>SubCaseRecord</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Business_Phone__c</field>
            <value>
                <elementReference>Business_Phone_Req_Card_Not_Urgent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comments_Req_Card_Not_Urgent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GL_Account_Cost_Center__c</field>
            <value>
                <elementReference>Cost_Center</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_4_SSN__c</field>
            <value>
                <elementReference>SSN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012o0000000nbf7</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Urgent__c</field>
            <value>
                <elementReference>Urgent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Address__c</field>
            <value>
                <elementReference>Work_Address_Req_Card_Not_Urgent</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_0_0</name>
        <label>Create Case</label>
        <locationX>782</locationX>
        <locationY>296</locationY>
        <assignRecordIdToReference>SubCaseRecord</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Request_Desc_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012o0000000nbf7</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_0_0_0</name>
        <label>Create Case</label>
        <locationX>782</locationX>
        <locationY>371</locationY>
        <assignRecordIdToReference>SubCaseRecord</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GL_Account_Cost_Center__c</field>
            <value>
                <elementReference>Cost_Center_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012o0000000nbf7</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_0_0_0_1</name>
        <label>Create Case</label>
        <locationX>793</locationX>
        <locationY>529</locationY>
        <assignRecordIdToReference>SubCaseRecord</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comments_Stop_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012o0000000nbf7</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_0_0_1</name>
        <label>Create Case</label>
        <locationX>791</locationX>
        <locationY>451</locationY>
        <assignRecordIdToReference>SubCaseRecord</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Request_Desc_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012o0000000nbf7</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_0_1</name>
        <label>Create Case</label>
        <locationX>784</locationX>
        <locationY>216</locationY>
        <assignRecordIdToReference>SubCaseRecord</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comments_Req_Card_Urgent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012o0000000nbf7</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Urgent__c</field>
            <value>
                <elementReference>Urgent</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_1</name>
        <label>Create Case</label>
        <locationX>793</locationX>
        <locationY>612</locationY>
        <assignRecordIdToReference>SubCaseRecord</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comments_0_0_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012o0000000nbf7</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Case_Number_0_0</name>
        <label>Find Case Number</label>
        <locationX>994</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Number_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SubCaseRecord</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseRecordCreated</outputReference>
        <queriedFields>CaseNumber</queriedFields>
    </recordLookups>
    <screens>
        <name>TE_Brand_Ambassador_Screen</name>
        <label>TE - Brand Ambassador</label>
        <locationX>660</locationX>
        <locationY>296</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case_0_0</targetReference>
        </connector>
        <fields>
            <name>GBS_Header_4_Text_0_0_0_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!masterCaseType}&lt;/B&gt; &lt;B&gt;&amp;gt; {!Primary_Cateogry}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Sub_4}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ErrorMessage}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Request_Desc_2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Label_Request_Description}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Request_Desc_2}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>TE_Cat_1</name>
        <label>TE_Cat_1</label>
        <locationX>34</locationX>
        <locationY>345</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError_0_0_1</targetReference>
        </connector>
        <fields>
            <name>GBS_GMDM_Header_2_Text</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_2}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;FONT KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!masterCaseType}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Sub_2}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!ErrorMessage}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Primary_Cateogry</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>CaseCat1</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Label_Primary_Category}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>TE_Concur_Profile_Request_Screen</name>
        <label>TE - Concur Profile Request</label>
        <locationX>661</locationX>
        <locationY>375</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case_0_0_0</targetReference>
        </connector>
        <fields>
            <name>GBS_Header_4_Text_0_0_0_0_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!masterCaseType}&lt;/B&gt; &lt;B&gt;&amp;gt; {!Primary_Cateogry}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Sub_4}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ErrorMessage}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cost_Center_2</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Label_Cost_Center}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN({!Cost_Center_2}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>TE_Corp_Card_Status_Screen</name>
        <label>TE - Corp Card Status</label>
        <locationX>656</locationX>
        <locationY>61</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <fields>
            <name>GBS_Header_4_Text_0_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!masterCaseType}&lt;/B&gt; &lt;B&gt;&amp;gt; {!Primary_Cateogry}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Sub_4}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ErrorMessage}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date_Applied_for_Card</name>
            <dataType>Date</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Label_Corporate_Card_Application_Date}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Request_Desc</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Label_Request_Description}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Request_Desc}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>TE_Corp_Card_Status_Screen_1</name>
        <label>TE - Corp Card Status</label>
        <locationX>347</locationX>
        <locationY>213</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_this_Urgent</targetReference>
        </connector>
        <fields>
            <name>GBS_Header_4_Text_0_0_2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!GBS_Label_Corporate_Card_Urgency_Header}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!masterCaseType}&lt;/B&gt; &lt;B&gt;&amp;gt; {!Primary_Cateogry}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Label_Corporate_Card_Urgency_Sub}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Urgent</name>
            <choiceReferences>UrgentPicker</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Label_Urgent}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>TE_Other_Screen</name>
        <label>TE - Other</label>
        <locationX>667</locationX>
        <locationY>612</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case_1</targetReference>
        </connector>
        <fields>
            <name>GBS_Header_4_Text_0_0_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!masterCaseType}&lt;/B&gt; &lt;B&gt;&amp;gt; {!Primary_Cateogry}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Sub_4}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ErrorMessage}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comments_0_0_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Label_Request_Description}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Comments_0_0_1}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>TE_Request_Corp_Card_Not_Urgent_Screen</name>
        <label>TE - Request Corp Card_Not_Urgent</label>
        <locationX>665</locationX>
        <locationY>133</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case_0</targetReference>
        </connector>
        <fields>
            <name>GBS_Header_4_Text_0_0_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!masterCaseType}&lt;/B&gt; &lt;B&gt;&amp;gt; {!Primary_Cateogry}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Sub_4}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ErrorMessage}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Work_Address_Req_Card_Not_Urgent</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Label_Work_Address}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN({!Work_Address_Req_Card_Not_Urgent}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>SSN</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Label_Last_4_SSN}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>This field requires the following number of characters: 4</errorMessage>
                <formulaExpression>LEN({!SSN}) = 4</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Business_Phone_Req_Card_Not_Urgent</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Label_Business_Phone}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 40</errorMessage>
                <formulaExpression>LEN({!Business_Phone_Req_Card_Not_Urgent}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Cost_Center</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Label_Cost_Center}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN({!Cost_Center}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Comments_Req_Card_Not_Urgent</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Label_Request_Description}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Comments_Req_Card_Not_Urgent}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>TE_Request_Corp_Card_Urgent_Screen</name>
        <label>TE - Request Corp Card_Urgent</label>
        <locationX>659</locationX>
        <locationY>215</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case_0_1</targetReference>
        </connector>
        <fields>
            <name>GBS_Header_4_Text_0_0_0_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!masterCaseType}&lt;/B&gt; &lt;B&gt;&amp;gt; {!Primary_Cateogry}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Sub_4}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ErrorMessage}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comments_Req_Card_Urgent</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Label_Request_Description}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Comments_Req_Card_Urgent}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>TE_Upload_Campaign_Codes_Screen</name>
        <label>TE - Upload Campaign Codes</label>
        <locationX>666</locationX>
        <locationY>530</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case_0_0_0_1</targetReference>
        </connector>
        <fields>
            <name>GBS_Header_4_Text_0_0_0_0_0_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!masterCaseType}&lt;/B&gt; &lt;B&gt;&amp;gt; {!Primary_Cateogry}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Sub_4}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ErrorMessage}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comments_Stop_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Label_Request_Description}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Comments_Stop_1}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>TE_Uploading_IOs_Screen</name>
        <label>TE - Uploading IOs</label>
        <locationX>661</locationX>
        <locationY>451</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Case_0_0_1</targetReference>
        </connector>
        <fields>
            <name>GBS_Header_4_Text_0_0_0_0_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!masterCaseType}&lt;/B&gt; &lt;B&gt;&amp;gt; {!Primary_Cateogry}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Sub_4}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ErrorMessage}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Request_Desc_3</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Label_Request_Description}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Request_Desc_3}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <startElementReference>TE_Cat_1</startElementReference>
    <textTemplates>
        <name>BuildDocs</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!DocLink}&lt;/FONT&gt;&lt;/SPAN&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ErrorMessage_Formatted</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Error}&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!RequiredFields}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RequiredFields_Formatted</name>
        <text>&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!RequiredField}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</text>
    </textTemplates>
    <variables>
        <name>Case_Record_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseDetailRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>CaseDetailRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case_Detail__c</objectType>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseRecordCreated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ChangeRecordCreate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactIdFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DisplayDocuments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DocLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DocLinks</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>GBSRecordTypeMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GMDM_Case_Record</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GMDM_Material_Create_Record</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InvoiceNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>masterCaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>numOfInvoices</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PrimaryCatMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiredField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiredFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SecondaryCatMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SecondChoiceSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SubCaseRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SuggestedDocs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </variables>
    <variables>
        <name>TotalInvoices</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>UserProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseDetailId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPrimaryCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSecondaryCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
