src/flows/GBS_Payroll-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Case_Number</name>
        <label>Assign Case Number</label>
        <locationX>1748</locationX>
        <locationY>512</locationY>
        <assignmentItems>
            <assignToReference>CaseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPrimaryCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSecondaryCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Secondary_Category</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ClearError_0_0_1</name>
        <label>ClearError</label>
        <locationX>11</locationX>
        <locationY>483</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0_0_1_1</name>
        <label>ClearError</label>
        <locationX>289</locationX>
        <locationY>489</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Payroll_Cat_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0_0_1_1_0</name>
        <label>ClearError</label>
        <locationX>547</locationX>
        <locationY>495</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Suggested_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintDocs_0_1</name>
        <label>PrintDocs</label>
        <locationX>903</locationX>
        <locationY>294</locationY>
        <assignmentItems>
            <assignToReference>SuggestedDocs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuildDocs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Payroll_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintDocs_0_1_1_1</name>
        <label>PrintDocs</label>
        <locationX>815</locationX>
        <locationY>112</locationY>
        <assignmentItems>
            <assignToReference>SuggestedDocs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuildDocs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Payroll_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintDocs_0_1_1_1_1</name>
        <label>PrintDocs</label>
        <locationX>784</locationX>
        <locationY>11</locationY>
        <assignmentItems>
            <assignToReference>SuggestedDocs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuildDocs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Payroll_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintDocs_0_1_1_1_1_0</name>
        <label>PrintDocs</label>
        <locationX>914</locationX>
        <locationY>804</locationY>
        <assignmentItems>
            <assignToReference>SuggestedDocs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuildDocs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Payroll_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintDocs_0_1_1_1_1_0_0</name>
        <label>PrintDocs</label>
        <locationX>896</locationX>
        <locationY>886</locationY>
        <assignmentItems>
            <assignToReference>SuggestedDocs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuildDocs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Payroll_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintDocs_0_1_2_1</name>
        <label>PrintDocs</label>
        <locationX>982</locationX>
        <locationY>597</locationY>
        <assignmentItems>
            <assignToReference>SuggestedDocs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuildDocs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Payroll_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintDocs_0_1_2_1_1</name>
        <label>PrintDocs</label>
        <locationX>926</locationX>
        <locationY>712</locationY>
        <assignmentItems>
            <assignToReference>SuggestedDocs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuildDocs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Payroll_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0_0_1</name>
        <label>PrintError</label>
        <locationX>16</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Payroll_Cat_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0_0_1_1</name>
        <label>PrintError</label>
        <locationX>291</locationX>
        <locationY>339</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Payroll_Cat_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDoc1_1</name>
        <label>SetDoc1</label>
        <locationX>781</locationX>
        <locationY>297</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;https://bgsw1.sharepoint.com/Pages/Resources/FormsPolicies.aspx&quot;&gt;Gift Card Request Form&lt;/a&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintDocs_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDoc1_1_1_1</name>
        <label>SetDoc1</label>
        <locationX>675</locationX>
        <locationY>106</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;https://bgsw1.sharepoint.com/Pages/Resources/FormsPolicies.aspx&quot;&gt;Cruzan Ambassador Form&lt;/a&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintDocs_0_1_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDoc1_1_1_1_1</name>
        <label>SetDoc1</label>
        <locationX>603</locationX>
        <locationY>11</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;https://bgsw1.sharepoint.com/Pages/Resources/FormsPolicies.aspx&quot;&gt;Safety Shoes Form&lt;/a&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintDocs_0_1_1_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDoc1_1_1_1_1_0</name>
        <label>SetDoc1</label>
        <locationX>775</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;https://bgsw1.sharepoint.com/Pages/Resources/FormsPolicies.aspx&quot;&gt;Tuition Reimbursement Form&lt;/a&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintDocs_0_1_1_1_1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDoc1_1_1_1_1_0_0</name>
        <label>SetDoc1</label>
        <locationX>770</locationX>
        <locationY>891</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;https://bgsw1.sharepoint.com/Pages/Resources/FormsPolicies.aspx&quot;&gt;Taste Panel Question Form&lt;/a&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintDocs_0_1_1_1_1_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDoc1_1_2_1</name>
        <label>SetDoc1</label>
        <locationX>858</locationX>
        <locationY>596</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;https://bgsw1.sharepoint.com/Pages/Resources/FormsPolicies.aspx&quot;&gt;Executive Reimbursement Form&lt;/a&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintDocs_0_1_2_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetDoc1_1_2_1_1</name>
        <label>SetDoc1</label>
        <locationX>801</locationX>
        <locationY>711</locationY>
        <assignmentItems>
            <assignToReference>DocLink</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;a HREF=&quot;https://bgsw1.sharepoint.com/Pages/Resources/FormsPolicies.aspx&quot;&gt;Taxi Reimbursement Form&lt;/a&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintDocs_0_1_2_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_1</name>
        <label>SetReqField</label>
        <locationX>131</locationX>
        <locationY>409</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GBS_Label_Primary_Category</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_1_1</name>
        <label>SetReqField</label>
        <locationX>410</locationX>
        <locationY>415</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GBS_Label_Secondary_Category</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_1</name>
        <label>SetReqFields</label>
        <locationX>134</locationX>
        <locationY>336</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_1_1</name>
        <label>SetReqFields</label>
        <locationX>411</locationX>
        <locationY>339</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0_0_1_1</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!None_Picklist}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>-- NONE --</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CheckReq_0_0_1</name>
        <label>CheckReq</label>
        <locationX>128</locationX>
        <locationY>483</locationY>
        <defaultConnector>
            <targetReference>ClearError_0_0_1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Primary_Cateogry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_1_1</name>
        <label>CheckReq</label>
        <locationX>416</locationX>
        <locationY>490</locationY>
        <defaultConnector>
            <targetReference>ClearError_0_0_1_1_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_1_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Suggested_Documents</name>
        <label>Suggested Documents</label>
        <locationX>710</locationX>
        <locationY>495</locationY>
        <defaultConnector>
            <targetReference>Payroll_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Payroll_Safety_Shoes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Safety Shoes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDoc1_1_1_1_1</targetReference>
            </connector>
            <label>Payroll - Safety Shoes</label>
        </rules>
        <rules>
            <name>Payroll_Cruzan_Ambassador</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cruzan Ambassador</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDoc1_1_1_1</targetReference>
            </connector>
            <label>Payroll - Cruzan Ambassador</label>
        </rules>
        <rules>
            <name>Payroll_Gift_Cards</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gift Cards</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDoc1_1</targetReference>
            </connector>
            <label>Payroll - Gift Cards</label>
        </rules>
        <rules>
            <name>Payroll_Taste_Panel</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Taste Panel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDoc1_1_1_1_1_0_0</targetReference>
            </connector>
            <label>Payroll - Taste Panel</label>
        </rules>
        <rules>
            <name>Payroll_Executive_Reimbursement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Executive Reimbursement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDoc1_1_2_1</targetReference>
            </connector>
            <label>Payroll - Executive Reimbursement</label>
        </rules>
        <rules>
            <name>Payroll_Taxi_Reimbursement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Taxi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDoc1_1_2_1_1</targetReference>
            </connector>
            <label>Payroll - Taxi Reimbursement</label>
        </rules>
        <rules>
            <name>Payroll_Tuition_Reimbursement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Secondary_Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tuition Reimbursement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDoc1_1_1_1_1_0</targetReference>
            </connector>
            <label>Payroll - Tuition Reimbursement</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AvailabilityDateKnown</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Availability_Date_Known__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseCat1</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Access_Groups__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varAccessGroup</elementReference>
            </value>
        </filters>
        <filters>
            <field>Customer_Priority__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;{!SpecialCircumstance}&quot;</stringValue>
            </value>
        </filters>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;{!masterCaseType}&quot;</stringValue>
            </value>
        </filters>
        <object>GBS_Case_2nd_Type__c</object>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseCat2</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Access_Groups__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>varAccessGroup</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;{!Primary_Cateogry}&quot;</stringValue>
            </value>
        </filters>
        <object>GBS_Case_3rd_Type__c</object>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseType</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>GBS_Picklist_Option__c</object>
        <outputAssignments>
            <assignToReference>GBSRecordTypeMaster</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChangeType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Change_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CompanyCodePicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Company_Code__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DocumentType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Document_Types__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InquiryType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Inquiry_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InternalChange</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Internal_Change_Picklist__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleChangesPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_Changes__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleCostCentersPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_Cost_Centers__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleCustomersPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_Customers__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleGLAccountsPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_GL_Accounts__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleSKUsPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_SKUs__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultipleVendorsPicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_Vendors__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Region</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Region__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequestTypePicker</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;{!Secondary_Category}&quot;</stringValue>
            </value>
        </filters>
        <object>GBS_Picklist_Option__c</object>
        <outputAssignments>
            <assignToReference>RequestType</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TrafficRequestReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Traffic_Request_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Doc_PriceMasterMaintenance</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;www.beamsuntory.com&quot;,&quot;Price Master Maintenance Form&quot;)</expression>
    </formulas>
    <formulas>
        <name>Field_Length_Error_Message</name>
        <dataType>String</dataType>
        <expression>$Label.Field_Length_Error_Message</expression>
    </formulas>
    <formulas>
        <name>GBS_Breadcrumb_Trail</name>
        <dataType>String</dataType>
        <expression>{!masterCaseType}&amp;&quot; &quot;&amp;{!Primary_Cateogry}&amp;&quot; &quot;&amp;{!Secondary_Category}</expression>
    </formulas>
    <formulas>
        <name>GBS_Breadcrumbs</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Breadcrumbs</expression>
    </formulas>
    <formulas>
        <name>GBS_Error</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Error</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_1</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Header_1</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_2</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Header_2</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_3</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Header_3</expression>
    </formulas>
    <formulas>
        <name>GBS_Header_4</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Header_4</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Primary_Category</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Primary_Category</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Request_Description</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Request_Description</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_Secondary_Category</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_Secondary_Category</expression>
    </formulas>
    <formulas>
        <name>GBS_Label_SKU_Number</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Label_SKU_Number</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_1</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Sub_1</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_2</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Sub_2</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_3</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Sub_3</expression>
    </formulas>
    <formulas>
        <name>GBS_Sub_4</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Sub_4</expression>
    </formulas>
    <formulas>
        <name>GBS_Suggested_Docs</name>
        <dataType>String</dataType>
        <expression>$Label.GBS_Suggested_Docs</expression>
    </formulas>
    <formulas>
        <name>Label_Other</name>
        <dataType>String</dataType>
        <expression>{!$Label.CS_Flow_Picklist_Option_Other}</expression>
    </formulas>
    <formulas>
        <name>None_Picklist</name>
        <dataType>String</dataType>
        <expression>$Label.None_Picklist</expression>
    </formulas>
    <interviewLabel>GBS - Payroll {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GBS - Payroll</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Payroll_Record_Create</name>
        <label>Payroll- Record Create</label>
        <locationX>1488</locationX>
        <locationY>512</locationY>
        <assignRecordIdToReference>Payroll_Case_Record</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Category_1__c</field>
            <value>
                <elementReference>Primary_Cateogry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_2__c</field>
            <value>
                <elementReference>Secondary_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Request_Description_Form_Field_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Company Community</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012o0000000nbf5</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>masterCaseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Case_Number</name>
        <label>Find Case Number</label>
        <locationX>1620</locationX>
        <locationY>513</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Number</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Payroll_Case_Record</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseRecord</outputReference>
        <queriedFields>CaseNumber</queriedFields>
    </recordLookups>
    <screens>
        <name>Payroll_Cat_1</name>
        <label>Payroll Cat 1</label>
        <locationX>10</locationX>
        <locationY>410</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError_0_0_1</targetReference>
        </connector>
        <fields>
            <name>GBS_GMDM_Header_2_Text</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_2}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_Breadcrumbs_Text</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!masterCaseType}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_GMDM_Sub_2_Text</name>
            <fieldText>{!GBS_Sub_2} &lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_Error_Text</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Primary_Cateogry</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>CaseCat1</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Label_Primary_Category}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Payroll_Cat_2</name>
        <label>Payroll Cat 2</label>
        <locationX>291</locationX>
        <locationY>414</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckReq_0_0_1_1</targetReference>
        </connector>
        <fields>
            <name>GBS_Header_3_Text</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_3}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_Breadcrumbs_Text_2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Breadcrumbs}  &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!masterCaseType}&lt;/B&gt;&lt;FONT KERNING=&quot;0&quot;&gt;&lt;B&gt; &amp;gt; {!Primary_Cateogry}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_Sub_3_Text</name>
            <fieldText>{!GBS_Sub_3} &lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GBS_Error_Text_2</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Secondary_Category</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>CaseCat2</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!GBS_Label_Secondary_Category}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Payroll_Form</name>
        <label>Payroll - Form</label>
        <locationX>1356</locationX>
        <locationY>509</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Payroll_Record_Create</targetReference>
        </connector>
        <fields>
            <name>GMDMFormHeader_0_0_0_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!GBS_Header_4}&lt;/B&gt;&lt;/SPAN&gt;&lt;br&gt; &lt;/br&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Breadcrumbs}  &lt;B&gt;{!masterCaseType}&lt;/B&gt; &lt;B&gt;&amp;gt; {!Primary_Cateogry} &amp;gt; {!Secondary_Category}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Sub_4}&lt;/FONT&gt;&lt;/DIV&gt;&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Request_Description_Form_Field_1</name>
            <defaultValue>
                <elementReference>Request_Description_Form_Field_1</elementReference>
            </defaultValue>
            <fieldText>Request Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 32,000</errorMessage>
                <formulaExpression>LEN({!Request_Description_Form_Field_1}) &lt;= 32000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>SuggestedDocsHeader_0_0_0_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Suggested Documents:&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SuggestedDocuments_0_0_0_1</name>
            <fieldText>{!SuggestedDocs}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Payroll_Cat_1</startElementReference>
    <textTemplates>
        <name>BuildDocs</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!DocLink}&lt;/FONT&gt;&lt;/SPAN&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ErrorMessage_Formatted</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!GBS_Error}&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!RequiredFields}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RequiredFields_Formatted</name>
        <text>&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!RequiredField}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</text>
    </textTemplates>
    <variables>
        <name>Case_Record_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ChangeRecordCreate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactIdFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DisplayDocuments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DocLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DocLinks</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>GBSRecordTypeMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>masterCaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Payroll_Case_Record</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Payroll_Create_Record</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrimaryCatMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiredField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiredFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SecondaryCatMaster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SecondChoiceSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SpecialCircumstance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SuggestedDocs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccessGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPrimaryCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSecondaryCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
