src/flows/Inquiry_Distributor_Subflow-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Case_Number</name>
        <label>Assign Case Number</label>
        <locationX>1128</locationX>
        <locationY>61</locationY>
        <assignmentItems>
            <assignToReference>CaseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.CaseNumber</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Clear_Error</name>
        <label>Clear Error</label>
        <locationX>139</locationX>
        <locationY>339</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Error_0</name>
        <label>Clear Error</label>
        <locationX>637</locationX>
        <locationY>188</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Error_0_0</name>
        <label>Clear Error</label>
        <locationX>648</locationX>
        <locationY>456</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Error_0_0_0</name>
        <label>Clear Error</label>
        <locationX>658</locationX>
        <locationY>735</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError</name>
        <label>ClearError</label>
        <locationX>261</locationX>
        <locationY>422</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inquiry_Type_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError</name>
        <label>PrintError</label>
        <locationX>134</locationX>
        <locationY>182</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inquiry_Type_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0</name>
        <label>PrintError</label>
        <locationX>632</locationX>
        <locationY>31</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Availability_Specification_Details_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0_0</name>
        <label>PrintError</label>
        <locationX>643</locationX>
        <locationY>299</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Availability_Specification_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0_0_0</name>
        <label>PrintError</label>
        <locationX>653</locationX>
        <locationY>578</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Order_Inquiry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField</name>
        <label>SetReqField</label>
        <locationX>254</locationX>
        <locationY>259</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_Type_of_Inquiry_Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0</name>
        <label>SetReqField</label>
        <locationX>752</locationX>
        <locationY>108</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Size_Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0</name>
        <label>SetReqField</label>
        <locationX>763</locationX>
        <locationY>376</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Size_Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_0</name>
        <label>SetReqField</label>
        <locationX>773</locationX>
        <locationY>655</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inquiry_Type_Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_0_0</name>
        <label>SetReqField</label>
        <locationX>898</locationX>
        <locationY>657</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inquiry_Type_Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields</name>
        <label>SetReqFields</label>
        <locationX>254</locationX>
        <locationY>183</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0</name>
        <label>SetReqFields</label>
        <locationX>752</locationX>
        <locationY>32</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0</name>
        <label>SetReqFields</label>
        <locationX>763</locationX>
        <locationY>300</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_0</name>
        <label>SetReqFields</label>
        <locationX>773</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_0_0</name>
        <label>SetReqFields</label>
        <locationX>898</locationX>
        <locationY>581</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0_0_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Customer_Service_Process_Communication</name>
        <choiceText>Customer Service (Process Communication)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Service (Process Communication)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Discontinue</name>
        <choiceText>Discontinue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Discontinue</stringValue>
        </value>
    </choices>
    <choices>
        <name>Innovation</name>
        <choiceText>Innovation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Innovation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inquiry</name>
        <choiceText>Inquiry</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inquiry</stringValue>
        </value>
    </choices>
    <choices>
        <name>Introduction</name>
        <choiceText>Introduction</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Introduction</stringValue>
        </value>
    </choices>
    <choices>
        <name>Market_Alert</name>
        <choiceText>Market Alert</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Market Alert</stringValue>
        </value>
    </choices>
    <choices>
        <name>Miscellaneous</name>
        <choiceText>Miscellaneous</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Miscellaneous</stringValue>
        </value>
    </choices>
    <choices>
        <name>Newsletter</name>
        <choiceText>Newsletter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Newsletter</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!None_Picklist}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Other_Inquiry</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>OtherNewsletter</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Plant_Calendar_Closure</name>
        <choiceText>Plant Calendar / Closure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Plant Calendar / Closure</stringValue>
        </value>
    </choices>
    <choices>
        <name>Product_Availability</name>
        <choiceText>Product Availability</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product Availability</stringValue>
        </value>
    </choices>
    <choices>
        <name>Product_Availability_Outage</name>
        <choiceText>Product Availability (Outage)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product Availability (Outage)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Product_Package_Changes</name>
        <choiceText>Product (Package Changes)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product (Package Changes)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Product_Specification</name>
        <choiceText>Product Specification</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product Specification</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shipping_Location</name>
        <choiceText>Shipping Location</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shipping Location</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shipping_Point</name>
        <choiceText>Shipping Point</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shipping Point</stringValue>
        </value>
    </choices>
    <choices>
        <name>Spec_Sheet</name>
        <choiceText>Spec Sheet</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spec Sheet</stringValue>
        </value>
    </choices>
    <choices>
        <name>VAP</name>
        <choiceText>VAP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VAP</stringValue>
        </value>
    </choices>
    <choices>
        <name>VAP_Discontinue</name>
        <choiceText>VAP Discontinue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VAP Discontinue</stringValue>
        </value>
    </choices>
    <choices>
        <name>X100ml</name>
        <choiceText>100ml</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>100ml</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1140ml</name>
        <choiceText>1140ml</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1140ml</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_5L</name>
        <choiceText>1.5L</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1.5L</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_75L</name>
        <choiceText>1.75L</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1.75L</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1L</name>
        <choiceText>1L</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1L</stringValue>
        </value>
    </choices>
    <choices>
        <name>X200ml</name>
        <choiceText>200ml</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>200ml</stringValue>
        </value>
    </choices>
    <choices>
        <name>X375ml</name>
        <choiceText>375ml</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>375ml</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3L</name>
        <choiceText>3L</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3L</stringValue>
        </value>
    </choices>
    <choices>
        <name>X50ml</name>
        <choiceText>50ml</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>50ml</stringValue>
        </value>
    </choices>
    <choices>
        <name>X700ml</name>
        <choiceText>700ml</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>700ml</stringValue>
        </value>
    </choices>
    <choices>
        <name>X750ml</name>
        <choiceText>750ml</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>750ml</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CheckReq</name>
        <label>CheckReq</label>
        <locationX>261</locationX>
        <locationY>339</locationY>
        <defaultConnector>
            <targetReference>ClearError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_Inquiry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0</name>
        <label>CheckReq</label>
        <locationX>759</locationX>
        <locationY>188</locationY>
        <defaultConnector>
            <targetReference>Inuiry_Record_Create_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Size_ProductAvail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0</name>
        <label>CheckReq</label>
        <locationX>770</locationX>
        <locationY>456</locationY>
        <defaultConnector>
            <targetReference>Inuiry_Record_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Size</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_0</name>
        <label>CheckReq</label>
        <locationX>780</locationX>
        <locationY>735</locationY>
        <defaultConnector>
            <targetReference>CheckReq_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inquiry_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_0</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_0_0</name>
        <label>CheckReq</label>
        <locationX>907</locationX>
        <locationY>737</locationY>
        <defaultConnector>
            <targetReference>Inuiry_Record_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inquiry_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Label_Other</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Other_Inquiry_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_0_0</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
        <rules>
            <name>Errors_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorNum</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PrintError_0_0_0</targetReference>
            </connector>
            <label>Errors Present?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inquiry_Type_Decision</name>
        <label>Inquiry Type Decision</label>
        <locationX>467</locationX>
        <locationY>262</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Product_Specification_Shipping_Location</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_Inquiry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Specification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>What_type_of_Inquiry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipping Location</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Availability_Specification_Details</targetReference>
            </connector>
            <label>Product  Specification, Shipping Location</label>
        </rules>
        <rules>
            <name>Other_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_Inquiry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Inquiry_Details</targetReference>
            </connector>
            <label>Other</label>
        </rules>
        <rules>
            <name>NewsletterDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_Inquiry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Newsletter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Newsletter_Details</targetReference>
            </connector>
            <label>Newsletter</label>
        </rules>
        <rules>
            <name>Existing_Order_Inquiry_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_Inquiry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Order Inquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Order_Inquiry</targetReference>
            </connector>
            <label>Existing Order Inquiry</label>
        </rules>
        <rules>
            <name>Product_Availability_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_Inquiry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Product_Availability_Label</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Availability_Specification_Details_0</targetReference>
            </connector>
            <label>Product Availability</label>
        </rules>
        <rules>
            <name>New_User_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_Inquiry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New User Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_User_Access_Request</targetReference>
            </connector>
            <label>New User Request</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ExistingOrderInquiryType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Inquiry_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InquiryType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InquiryTypeChoice</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Access_Group__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>AccessGroup</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;{!RecordTypeName}&quot;</stringValue>
            </value>
        </filters>
        <filters>
            <field>Language__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>FlowLanguage</elementReference>
            </value>
        </filters>
        <object>Choice_Case_2nd_Type__c</object>
        <sortField>Sort_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InquiryTypeExistingOrder</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Access_Group__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>AccessGroup</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;{!What_type_of_Inquiry}&quot;</stringValue>
            </value>
        </filters>
        <filters>
            <field>Language__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>FlowLanguage</elementReference>
            </value>
        </filters>
        <object>Choice_Case_3rd_Type__c</object>
        <sortField>Sort_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductSizePicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product_Size__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CS_Label_Description</name>
        <dataType>String</dataType>
        <expression>$Label.CS_Label_Description</expression>
    </formulas>
    <formulas>
        <name>CS_Label_Email_Address</name>
        <dataType>String</dataType>
        <expression>$Label.CS_Label_Email_Address</expression>
    </formulas>
    <formulas>
        <name>CS_Label_Name</name>
        <dataType>String</dataType>
        <expression>$Label.CS_Label_Name</expression>
    </formulas>
    <formulas>
        <name>CS_Label_Request_Justification</name>
        <dataType>String</dataType>
        <expression>$Label.CS_Label_Request_Justification</expression>
    </formulas>
    <formulas>
        <name>Error_Message_Formatted_Label</name>
        <dataType>String</dataType>
        <expression>$Label.Error_Message_Formatted_Label</expression>
    </formulas>
    <formulas>
        <name>Field_Length_Error_Message</name>
        <dataType>String</dataType>
        <expression>$Label.Field_Length_Error_Message</expression>
    </formulas>
    <formulas>
        <name>Inquiry_Definition_Label</name>
        <dataType>String</dataType>
        <expression>$Label.Inquiry_Definition</expression>
    </formulas>
    <formulas>
        <name>Inquiry_Type_Label</name>
        <dataType>String</dataType>
        <expression>$Label.Inquiry_Type</expression>
    </formulas>
    <formulas>
        <name>Label_Other</name>
        <dataType>String</dataType>
        <expression>$Label.Other_Picklist</expression>
    </formulas>
    <formulas>
        <name>None_Picklist</name>
        <dataType>String</dataType>
        <expression>$Label.None_Picklist</expression>
    </formulas>
    <formulas>
        <name>Other_Inquiry_Type_Label</name>
        <dataType>String</dataType>
        <expression>$Label.Other_Inquiry_Type</expression>
    </formulas>
    <formulas>
        <name>Product_Availability_Label</name>
        <dataType>String</dataType>
        <expression>$Label.Product_Availability_Label</expression>
    </formulas>
    <formulas>
        <name>Product_Description_Label</name>
        <dataType>String</dataType>
        <expression>$Label.Product_Description_Label</expression>
    </formulas>
    <formulas>
        <name>Product_Flavor_Label</name>
        <dataType>String</dataType>
        <expression>$Label.Product_Flavor_Label</expression>
    </formulas>
    <formulas>
        <name>Product_Size_Label</name>
        <dataType>String</dataType>
        <expression>$Label.Product_Size_Label</expression>
    </formulas>
    <formulas>
        <name>Step_2_Inquiry_Sub_Header</name>
        <dataType>String</dataType>
        <expression>$Label.Step_2_Inquiry_Sub_Header</expression>
    </formulas>
    <formulas>
        <name>Step_2_Inquiry_Type</name>
        <dataType>String</dataType>
        <expression>$Label.Step_2_Inquiry_Type</expression>
    </formulas>
    <formulas>
        <name>Step_3_and_4_Newsletter_Sub_Header</name>
        <dataType>String</dataType>
        <expression>$Label.Step_3_and_4_Newsletter_Sub_Header</expression>
    </formulas>
    <formulas>
        <name>Step_3_Enter_User_Details_Header</name>
        <dataType>String</dataType>
        <expression>$Label.Step_3_Enter_User_Details_Header</expression>
    </formulas>
    <formulas>
        <name>Step_3_Enter_User_Details_Sub_Header</name>
        <dataType>String</dataType>
        <expression>$Label.Step_3_Enter_User_Details_Sub_Header</expression>
    </formulas>
    <formulas>
        <name>Step_3_Existing_Order_Header</name>
        <dataType>String</dataType>
        <expression>$Label.Step_3_Existing_Order_Header</expression>
    </formulas>
    <formulas>
        <name>Step_3_Existing_Order_Sub_Header</name>
        <dataType>String</dataType>
        <expression>$Label.Step_3_Existing_Order_Sub_Header</expression>
    </formulas>
    <formulas>
        <name>Step_3_Newsletter</name>
        <dataType>String</dataType>
        <expression>$Label.Step_3_Newsletter</expression>
    </formulas>
    <formulas>
        <name>Step_3_Product_Details_Header</name>
        <dataType>String</dataType>
        <expression>$Label.Step_3_Product_Details_Header</expression>
    </formulas>
    <formulas>
        <name>Step_3_Product_Details_Sub_Header_1</name>
        <dataType>String</dataType>
        <expression>$Label.Step_3_Product_Details_Sub_Header_1</expression>
    </formulas>
    <formulas>
        <name>Step_3_Product_Details_Sub_Header_2</name>
        <dataType>String</dataType>
        <expression>$Label.Step_3_Product_Details_Sub_Header_2</expression>
    </formulas>
    <formulas>
        <name>Step_3_Specify_Inquiry_Header</name>
        <dataType>String</dataType>
        <expression>$Label.Step_3_Specify_Inquiry_Header</expression>
    </formulas>
    <formulas>
        <name>Step_3_Specify_Inquiry_SubHeader</name>
        <dataType>String</dataType>
        <expression>$Label.Step_3_Specify_Inquiry_SubHeader</expression>
    </formulas>
    <formulas>
        <name>What_Type_of_Inquiry_Label</name>
        <dataType>String</dataType>
        <expression>$Label.What_Type_of_Inquiry</expression>
    </formulas>
    <interviewLabel>Inquiry (Distributor) Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inquiry (Distributor) Subflow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Inuiry_Record_Create</name>
        <label>Inuiry Record Create</label>
        <locationX>1134</locationX>
        <locationY>286</locationY>
        <assignRecordIdToReference>InquiryRecordCreate</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactIdFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Address__c</field>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inquiry_Definition__c</field>
            <value>
                <elementReference>Inquiry_Definition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inquiry_Type__c</field>
            <value>
                <elementReference>Inquiry_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Justification_for_Request__c</field>
            <value>
                <elementReference>Request_Justification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Newsletter_Comments__c</field>
            <value>
                <elementReference>Newsletter_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Customer Portal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Inquiry_Type__c</field>
            <value>
                <elementReference>Other_Inquiry_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Description__c</field>
            <value>
                <elementReference>Product_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Flavor__c</field>
            <value>
                <elementReference>Product_Flavor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Size__c</field>
            <value>
                <elementReference>Product_Size</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>What_type_of_Inquiry</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Inuiry_Record_Create_0</name>
        <label>Inuiry Record Create</label>
        <locationX>888</locationX>
        <locationY>189</locationY>
        <assignRecordIdToReference>InquiryRecordCreate</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactIdFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Customer Portal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Description__c</field>
            <value>
                <elementReference>Product_Description_ProductAvail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Flavor__c</field>
            <value>
                <elementReference>Product_Flavor_ProductAvail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Size__c</field>
            <value>
                <elementReference>Product_Size_ProductAvail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>What_type_of_Inquiry</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Case_Number</name>
        <label>Find Case Number</label>
        <locationX>1129</locationX>
        <locationY>186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Number</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InquiryRecordCreate</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseRecord</outputReference>
        <queriedFields>CaseNumber</queriedFields>
    </recordLookups>
    <screens>
        <name>Existing_Order_Inquiry</name>
        <label>Existing Order Inquiry</label>
        <locationX>650</locationX>
        <locationY>656</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Clear_Error_0_0_0</targetReference>
        </connector>
        <fields>
            <name>HeaderMessage_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Step_3_Existing_Order_Header}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!Step_3_Existing_Order_Sub_Header}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessageDispaly3</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Inquiry_Type</name>
            <choiceReferences>InquiryTypeExistingOrder</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Inquiry_Type_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_Inquiry_Type</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Other_Inquiry_Type_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 50</errorMessage>
                <formulaExpression>LEN({!Other_Inquiry_Type}) &lt;= 50</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Inquiry_Type_Selection</name>
        <label>Inquiry Type Selection</label>
        <locationX>137</locationX>
        <locationY>262</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Clear_Error</targetReference>
        </connector>
        <fields>
            <name>HeaderMessage</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Step_2_Inquiry_Type}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Step_2_Inquiry_Sub_Header}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessageDisplay</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_type_of_Inquiry</name>
            <choiceReferences>InquiryTypeChoice</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!What_Type_of_Inquiry_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>New_User_Access_Request</name>
        <label>New User Access Request</label>
        <locationX>671</locationX>
        <locationY>968</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Inuiry_Record_Create</targetReference>
        </connector>
        <fields>
            <name>NewUserHeader</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Step_3_Enter_User_Details_Header}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!Step_3_Enter_User_Details_Sub_Header}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Name}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 50</errorMessage>
                <formulaExpression>LEN({!Name}) &lt;= 50</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Email_Address</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Email_Address}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 50</errorMessage>
                <formulaExpression>LEN({!Email_Address}) &lt;= 50</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Request_Justification</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Request_Justification}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN({!Request_Justification}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Newsletter_Details</name>
        <label>Newsletter Details</label>
        <locationX>671</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Inuiry_Record_Create</targetReference>
        </connector>
        <fields>
            <name>NewsletterHeader</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Step_3_Newsletter}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!Step_3_and_4_Newsletter_Sub_Header}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Newsletter_Description</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Description}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 50</errorMessage>
                <formulaExpression>LEN({!Newsletter_Description}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Other_Inquiry_Details</name>
        <label>Other Inquiry Details</label>
        <locationX>661</locationX>
        <locationY>1273</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Inuiry_Record_Create</targetReference>
        </connector>
        <fields>
            <name>OtherInquiryDescription</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Step_3_Specify_Inquiry_Header}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Step_3_Specify_Inquiry_SubHeader}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Inquiry_Definition</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Inquiry_Definition_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN({!Inquiry_Definition}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Product_Availability_Specification_Details</name>
        <label>Product Availability/Specification/Shipping Location Details</label>
        <locationX>641</locationX>
        <locationY>377</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Clear_Error_0_0</targetReference>
        </connector>
        <fields>
            <name>CheckStir</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Step_3_Product_Details_Header}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!Step_3_Product_Details_Sub_Header_1} &lt;A HREF=&quot;https://beam.force.com/customer/s/article/Product-Specification-Worksheet&quot; TARGET=&quot;_blank&quot;&gt;ZP80&lt;/A&gt; {!Step_3_Product_Details_Sub_Header_2}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessageDisplay2</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Product_Description</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Product_Description_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 50</errorMessage>
                <formulaExpression>LEN({!Product_Description}) &lt;= 50</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Product_Size</name>
            <choiceReferences>ProductSizePicker</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Product_Size_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Product_Flavor</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Product_Flavor_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 50</errorMessage>
                <formulaExpression>LEN({!Product_Flavor}) &lt;= 50</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Product_Availability_Specification_Details_0</name>
        <label>Product AvailabilitycDetails</label>
        <locationX>631</locationX>
        <locationY>110</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Clear_Error_0</targetReference>
        </connector>
        <fields>
            <name>CheckStir_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!Step_3_Product_Details_Header}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessageDisplay1</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Product_Description_ProductAvail</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Product_Description_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 50</errorMessage>
                <formulaExpression>LEN({!Product_Description}) &lt;= 50</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Product_Size_ProductAvail</name>
            <choiceReferences>ProductSizePicker</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Product_Size_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Product_Flavor_ProductAvail</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Product_Flavor_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 50</errorMessage>
                <formulaExpression>LEN({!Product_Flavor_ProductAvail}) &lt;= 50</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <startElementReference>Inquiry_Type_Selection</startElementReference>
    <textTemplates>
        <name>ErrorMessage_Formatted</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!Error_Message_Formatted_Label}&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!RequiredFields}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RequiredFields_Formatted</name>
        <text>&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!RequiredField}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</text>
    </textTemplates>
    <variables>
        <name>AccessGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ContactIdFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FlowLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InquiryRecordCreate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiredField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiredFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
