src/flows/Inquiry_Form-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Case_Number</name>
        <label>Assign Case Number</label>
        <locationX>1578</locationX>
        <locationY>131</locationY>
        <assignmentItems>
            <assignToReference>CaseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.CaseNumber</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ClearError</name>
        <label>ClearError</label>
        <locationX>101</locationX>
        <locationY>415</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0</name>
        <label>ClearError</label>
        <locationX>721</locationX>
        <locationY>228</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0_1</name>
        <label>ClearError</label>
        <locationX>804</locationX>
        <locationY>479</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0_1_1</name>
        <label>ClearError</label>
        <locationX>785</locationX>
        <locationY>732</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0_1_1_2</name>
        <label>ClearError</label>
        <locationX>806</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_1_1_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearErrorDecision</name>
        <label>ClearError</label>
        <locationX>245</locationX>
        <locationY>526</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inquiry_Type_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearErrorDecision_0</name>
        <label>ClearError</label>
        <locationX>1109</locationX>
        <locationY>227</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewsletterTypeDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError</name>
        <label>PrintError</label>
        <locationX>100</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inquiry_Type_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0</name>
        <label>PrintError</label>
        <locationX>720</locationX>
        <locationY>67</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Newsletter_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0_0</name>
        <label>PrintError</label>
        <locationX>803</locationX>
        <locationY>318</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Specification_Shipping_Location_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0_0_1</name>
        <label>PrintError</label>
        <locationX>784</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exisiting_Order_Inquiry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0_0_1_1</name>
        <label>PrintError</label>
        <locationX>811</locationX>
        <locationY>1046</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Availability_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField</name>
        <label>SetReqField</label>
        <locationX>240</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>What Type of Inquiry</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0</name>
        <label>SetReqField</label>
        <locationX>860</locationX>
        <locationY>148</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Type of Newsletter</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0</name>
        <label>SetReqField</label>
        <locationX>989</locationX>
        <locationY>148</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other Newsletter</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_1</name>
        <label>SetReqField</label>
        <locationX>943</locationX>
        <locationY>393</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product Size</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_1_1</name>
        <label>SetReqField</label>
        <locationX>924</locationX>
        <locationY>641</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inquiry Type</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_1_1_1</name>
        <label>SetReqField</label>
        <locationX>1060</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other Inquiry Type</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_1_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_1_1_2</name>
        <label>SetReqField</label>
        <locationX>945</locationX>
        <locationY>1133</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product Size</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_1_1_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields</name>
        <label>SetReqFields</label>
        <locationX>237</locationX>
        <locationY>251</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0</name>
        <label>SetReqFields</label>
        <locationX>857</locationX>
        <locationY>64</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0</name>
        <label>SetReqFields</label>
        <locationX>986</locationX>
        <locationY>64</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_1</name>
        <label>SetReqFields</label>
        <locationX>940</locationX>
        <locationY>315</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_1_1</name>
        <label>SetReqFields</label>
        <locationX>921</locationX>
        <locationY>563</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_1_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_1_1_1</name>
        <label>SetReqFields</label>
        <locationX>1057</locationX>
        <locationY>560</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_1_1_2</name>
        <label>SetReqFields</label>
        <locationX>942</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0_0_1_1</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Blank</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;  &lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Customer_Service_Process_Communication</name>
        <choiceText>Customer Service (Process Communication)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer Service (Process Communication)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Discontinue</name>
        <choiceText>Discontinue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Discontinue</stringValue>
        </value>
    </choices>
    <choices>
        <name>Innovation</name>
        <choiceText>Innovation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Innovation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Inquiry</name>
        <choiceText>Inquiry</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inquiry</stringValue>
        </value>
    </choices>
    <choices>
        <name>Introduction</name>
        <choiceText>Introduction</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Introduction</stringValue>
        </value>
    </choices>
    <choices>
        <name>Market_Alert</name>
        <choiceText>Market Alert</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Market Alert</stringValue>
        </value>
    </choices>
    <choices>
        <name>Miscellaneous</name>
        <choiceText>Miscellaneous</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Miscellaneous</stringValue>
        </value>
    </choices>
    <choices>
        <name>Newsletter</name>
        <choiceText>Newsletter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Newsletter</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>--None--</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Other_Inquiry</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>OtherNewsletter</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Plant_Calendar_Closure</name>
        <choiceText>Plant Calendar / Closure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Plant Calendar / Closure</stringValue>
        </value>
    </choices>
    <choices>
        <name>Product_Availability</name>
        <choiceText>Product Availability</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product Availability</stringValue>
        </value>
    </choices>
    <choices>
        <name>Product_Availability_Outage</name>
        <choiceText>Product Availability (Outage)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product Availability (Outage)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Product_Package_Changes</name>
        <choiceText>Product (Package Changes)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product (Package Changes)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Product_Specification</name>
        <choiceText>Product Specification</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product Specification</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shipping_Location</name>
        <choiceText>Shipping Location</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shipping Location</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shipping_Point</name>
        <choiceText>Shipping Point</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shipping Point</stringValue>
        </value>
    </choices>
    <choices>
        <name>Spec_Sheet</name>
        <choiceText>Spec Sheet</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spec Sheet</stringValue>
        </value>
    </choices>
    <choices>
        <name>VAP</name>
        <choiceText>VAP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VAP</stringValue>
        </value>
    </choices>
    <choices>
        <name>VAP_Discontinue</name>
        <choiceText>VAP Discontinue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VAP Discontinue</stringValue>
        </value>
    </choices>
    <choices>
        <name>X100ml</name>
        <choiceText>100ml</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>100ml</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1140ml</name>
        <choiceText>1140ml</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1140ml</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_5L</name>
        <choiceText>1.5L</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1.5L</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_75L</name>
        <choiceText>1.75L</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1.75L</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1L</name>
        <choiceText>1L</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1L</stringValue>
        </value>
    </choices>
    <choices>
        <name>X200ml</name>
        <choiceText>200ml</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>200ml</stringValue>
        </value>
    </choices>
    <choices>
        <name>X375ml</name>
        <choiceText>375ml</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>375ml</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3L</name>
        <choiceText>3L</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3L</stringValue>
        </value>
    </choices>
    <choices>
        <name>X50ml</name>
        <choiceText>50ml</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>50ml</stringValue>
        </value>
    </choices>
    <choices>
        <name>X700ml</name>
        <choiceText>700ml</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>700ml</stringValue>
        </value>
    </choices>
    <choices>
        <name>X750ml</name>
        <choiceText>750ml</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>750ml</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CheckReq</name>
        <label>CheckReq</label>
        <locationX>243</locationX>
        <locationY>422</locationY>
        <defaultConnector>
            <targetReference>ClearErrorDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_Inquiry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Blank</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0</name>
        <label>CheckReq</label>
        <locationX>861</locationX>
        <locationY>230</locationY>
        <defaultConnector>
            <targetReference>CheckReq_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Newsletter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Blank</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0</name>
        <label>CheckReq</label>
        <locationX>988</locationX>
        <locationY>227</locationY>
        <defaultConnector>
            <targetReference>ClearErrorDecision_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Newsletter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Label_Other</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Other_Newsletter_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
        <rules>
            <name>Error_s_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorNum</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PrintError_0</targetReference>
            </connector>
            <label>Error&apos;s Present?</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_1</name>
        <label>CheckReq</label>
        <locationX>944</locationX>
        <locationY>481</locationY>
        <defaultConnector>
            <targetReference>Inuiry_Record_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Size</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Blank</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_1_1</name>
        <label>CheckReq</label>
        <locationX>928</locationX>
        <locationY>724</locationY>
        <defaultConnector>
            <targetReference>CheckReq_0_1_1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inquiry_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Blank</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_1_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_1_1_1</name>
        <label>CheckReq</label>
        <locationX>1064</locationX>
        <locationY>721</locationY>
        <defaultConnector>
            <targetReference>Inuiry_Record_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_1_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inquiry_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Label_Other</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Other_Inquiry_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_1_1_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
        <rules>
            <name>Errors_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorNum</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PrintError_0_0_1</targetReference>
            </connector>
            <label>Errors Present?</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_1_1_2</name>
        <label>CheckReq</label>
        <locationX>949</locationX>
        <locationY>1216</locationY>
        <defaultConnector>
            <targetReference>Inuiry_Record_Create_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_1_1_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Size_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Blank</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_1_1_2</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inquiry_Type_Decision</name>
        <label>Inquiry Type Decision</label>
        <locationX>422</locationX>
        <locationY>299</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Product_Specification_Shipping_Location</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_Inquiry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Availability</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>What_type_of_Inquiry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Specification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>What_type_of_Inquiry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipping Location</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Specification_Shipping_Location_Details</targetReference>
            </connector>
            <label>Product Specification, Shipping Location</label>
        </rules>
        <rules>
            <name>Newsletter_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_Inquiry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Newsletter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Newsletter_Details</targetReference>
            </connector>
            <label>Newsletter</label>
        </rules>
        <rules>
            <name>Other_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_Inquiry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Inquiry_Details</targetReference>
            </connector>
            <label>Other</label>
        </rules>
        <rules>
            <name>Market_Alert_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_Inquiry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Market Alert</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Market_Alert_Screen</targetReference>
            </connector>
            <label>Market Alert</label>
        </rules>
        <rules>
            <name>Existing_Order_Inquiry_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_Inquiry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Order Inquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exisiting_Order_Inquiry</targetReference>
            </connector>
            <label>Existing Order Inquiry</label>
        </rules>
        <rules>
            <name>Product_Availability_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_Inquiry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Availability</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Availability_Details</targetReference>
            </connector>
            <label>Product Availability Outcome</label>
        </rules>
        <rules>
            <name>New_User_Request_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_Inquiry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New User Request</stringValue>
                </rightValue>
            </conditions>
            <label>New User Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>NewsletterTypeDecision</name>
        <label>NewsletterTypeDecision</label>
        <locationX>1123</locationX>
        <locationY>70</locationY>
        <defaultConnector>
            <targetReference>Inuiry_Record_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Product_Availability_Selection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Newsletter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Availability (outage)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Newsletter_Details_0_0</targetReference>
            </connector>
            <label>Product Availability Selection</label>
        </rules>
        <rules>
            <name>VAP_Discontinue_Selection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Newsletter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VAP Discontinue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Newsletter_Details_0</targetReference>
            </connector>
            <label>VAP Discontinue Selection</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>InquiryType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InquiryType_ExisitingOrderInquiry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Inquiry_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InquiryTypeExistingOrder</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Access_Group__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>AccessGroup</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;{!What_type_of_Inquiry}&quot;</stringValue>
            </value>
        </filters>
        <filters>
            <field>Language__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>FlowLanguage</elementReference>
            </value>
        </filters>
        <object>Choice_Case_3rd_Type__c</object>
        <sortField>Sort_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InternalInquiryType</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Access_Group__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>AccessGroup</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;{!RecordTypeName}&quot;</stringValue>
            </value>
        </filters>
        <filters>
            <field>Language__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>FlowLanguage</elementReference>
            </value>
        </filters>
        <object>Choice_Case_2nd_Type__c</object>
        <sortField>Sort_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NewsletterTypePicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_Newsletter__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductSizePicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product_Size__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Field_Length_Error_Message</name>
        <dataType>String</dataType>
        <expression>$Label.Field_Length_Error_Message</expression>
    </formulas>
    <formulas>
        <name>Label_Other</name>
        <dataType>String</dataType>
        <expression>{!$Label.CS_Flow_Picklist_Option_Other}</expression>
    </formulas>
    <interviewLabel>Inquiry Form Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inquiry Form Subflow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Inuiry_Record_Create</name>
        <label>Inuiry Record Create</label>
        <locationX>1349</locationX>
        <locationY>369</locationY>
        <assignRecordIdToReference>InquiryRecordCreate</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactIdFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inquiry_Definition__c</field>
            <value>
                <elementReference>Inquiry_Definition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inquiry_Type__c</field>
            <value>
                <elementReference>Inquiry_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market_Alert_Description__c</field>
            <value>
                <elementReference>Market_Alert_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Newsletter_Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Customer Portal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Inquiry_Type__c</field>
            <value>
                <elementReference>Other_Inquiry_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Newsletter__c</field>
            <value>
                <elementReference>Other_Newsletter_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Description__c</field>
            <value>
                <elementReference>Product_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Flavor__c</field>
            <value>
                <elementReference>Product_Flavor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Size__c</field>
            <value>
                <elementReference>Product_Size</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SKU_Description__c</field>
            <value>
                <elementReference>SKU_Description_0_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SKU__c</field>
            <value>
                <elementReference>SKU_0_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>What_type_of_Inquiry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Newsletter__c</field>
            <value>
                <elementReference>Type_of_Newsletter</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Inuiry_Record_Create_0</name>
        <label>Inuiry Record Create</label>
        <locationX>1355</locationX>
        <locationY>1012</locationY>
        <assignRecordIdToReference>InquiryRecordCreate</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactIdFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Customer Portal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Description__c</field>
            <value>
                <elementReference>Product_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Flavor__c</field>
            <value>
                <elementReference>Product_Flavor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Size__c</field>
            <value>
                <elementReference>Product_Size</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>What_type_of_Inquiry</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Case_Number</name>
        <label>Find Case Number</label>
        <locationX>1581</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Number</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InquiryRecordCreate</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseRecord</outputReference>
        <queriedFields>CaseNumber</queriedFields>
    </recordLookups>
    <screens>
        <name>Exisiting_Order_Inquiry</name>
        <label>Exisiting Order Inquiry</label>
        <locationX>780</locationX>
        <locationY>653</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError_0_1_1</targetReference>
        </connector>
        <fields>
            <name>HeaderMessage_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Step 3: Specify Your Exisiting Order Inquiry&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Please indicate what information you would like to obtain about an existing order.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessageDisplaye</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Inquiry_Type</name>
            <choiceReferences>InquiryTypeExistingOrder</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Inquiry Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_Inquiry_Type</name>
            <fieldText>Other Inquiry Type</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 50</errorMessage>
                <formulaExpression>LEN({!Other_Inquiry_Type}) &lt;= 50</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Inquiry_Type_Selection</name>
        <label>Inquiry Type Selection</label>
        <locationX>102</locationX>
        <locationY>336</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError</targetReference>
        </connector>
        <fields>
            <name>HeaderMessage</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Step 2: Choose Inquiry Type&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please indicate the type of inquiry you wish to submit today.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessageDisplay</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_type_of_Inquiry</name>
            <choiceReferences>InternalInquiryType</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>What type of Inquiry?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Market_Alert_Screen</name>
        <label>Market Alert</label>
        <locationX>1117</locationX>
        <locationY>342</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Inuiry_Record_Create</targetReference>
        </connector>
        <fields>
            <name>HeaderMessage_0_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Step 3: Description&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Market_Alert_Description</name>
            <fieldText>Market Alert Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 50</errorMessage>
                <formulaExpression>LEN({!Other_Inquiry_Type}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Newsletter_Details</name>
        <label>Newsletter Details</label>
        <locationX>718</locationX>
        <locationY>145</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError_0</targetReference>
        </connector>
        <fields>
            <name>NewsletterHeader</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Step 3: Enter Newsletter Details&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please indicate the type of newsletter you are inquiring about today.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessageDisplay1</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Type_of_Newsletter</name>
            <choiceReferences>NewsletterTypePicker</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Type of Newsletter</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_Newsletter_2</name>
            <fieldText>Other Newsletter</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 50</errorMessage>
                <formulaExpression>LEN({!Other_Newsletter_2}) &lt;= 100</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Newsletter_Details_0</name>
        <label>Newsletter Details</label>
        <locationX>1373</locationX>
        <locationY>41</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Inuiry_Record_Create</targetReference>
        </connector>
        <fields>
            <name>NewsletterHeader_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Step 4: Enter Newsletter Details&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please indicate the type of newsletter you are inquiring about today.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 50</errorMessage>
                <formulaExpression>LEN ({!Comments}) &lt;= 50</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Newsletter_Details_0_0</name>
        <label>Newsletter Details</label>
        <locationX>1396</locationX>
        <locationY>130</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Inuiry_Record_Create</targetReference>
        </connector>
        <fields>
            <name>NewsletterHeader_0_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Step 4: Enter Newsletter Details&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please indicate the type of newsletter you are inquiring about today.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SKU_0_0</name>
            <dataType>String</dataType>
            <fieldText>SKU</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 8</errorMessage>
                <formulaExpression>LEN({!SKU_0_0}) &lt;= 8</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>SKU_Description_0_0</name>
            <fieldText>SKU Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>SKU Description is required for the Newsletter Type selected.</errorMessage>
                <formulaExpression>NOT (({!Type_of_Newsletter} = &quot;Other&quot;))</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Other_Inquiry_Details</name>
        <label>Other Inquiry Details</label>
        <locationX>779</locationX>
        <locationY>856</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Inuiry_Record_Create</targetReference>
        </connector>
        <fields>
            <name>OtherInquiryDescription</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Step 3: Specify Your Inquiry&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If you have an inquiry to submit that was not reflected on the previous page, please provide a brief description below.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Inquiry_Definition</name>
            <fieldText>Inquiry Definition</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN({!Inquiry_Definition}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Product_Availability_Details</name>
        <label>Product Availability Details</label>
        <locationX>819</locationX>
        <locationY>1139</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError_0_1_1_2</targetReference>
        </connector>
        <fields>
            <name>HeaderMessageProductAvail</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Step 3: Enter Product Details&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessageDisplay3</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Product_Description_0</name>
            <fieldText>Product Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 50</errorMessage>
                <formulaExpression>LEN({!Product_Description_0}) &lt;= 50</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Product_Size_0</name>
            <choiceReferences>ProductSizePicker</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Product Size</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Product_Flavor_0</name>
            <dataType>String</dataType>
            <fieldText>Product Flavor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 50</errorMessage>
                <formulaExpression>LEN({!Product_Flavor_0}) &lt;= 50</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Product_Specification_Shipping_Location_Details</name>
        <label>Product Specification/Shipping Location Details</label>
        <locationX>795</locationX>
        <locationY>400</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError_0_1</targetReference>
        </connector>
        <fields>
            <name>CheckStir</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Step 3: Enter Product Details&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If you have already checked the &lt;A HREF=&quot;https://beam.force.com/customer/s/article/Product-Specification-Worksheet&quot; TARGET=&quot;_blank&quot;&gt;ZP80&lt;/A&gt; for details regarding the Product Specification or Shipping Location, fill out the following information.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessageDisplay2</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Product_Description</name>
            <defaultValue>
                <elementReference>Product_Description</elementReference>
            </defaultValue>
            <fieldText>Product Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 50</errorMessage>
                <formulaExpression>LEN({!Product_Description}) &lt;= 50</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Product_Size</name>
            <choiceReferences>ProductSizePicker</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Product Size</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Product_Flavor</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Product_Flavor</elementReference>
            </defaultValue>
            <fieldText>Product Flavor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 50</errorMessage>
                <formulaExpression>LEN({!Product_Flavor}) &lt;= 50</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <startElementReference>Inquiry_Type_Selection</startElementReference>
    <textTemplates>
        <name>ErrorMessage_Formatted</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;You are required to fill out the following required fields:&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!RequiredFields}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RequiredFields_Formatted</name>
        <text>&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!RequiredField}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</text>
    </textTemplates>
    <variables>
        <name>AccessGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ContactIdFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FlowLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InquiryRecordCreate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiredField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiredFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
