src/flows/Order_Claim_Subflow-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Case_Number</name>
        <label>Assign Case Number</label>
        <locationX>1653</locationX>
        <locationY>168</locationY>
        <assignmentItems>
            <assignToReference>CaseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SubFlowIDAvailable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ClearError</name>
        <label>ClearError</label>
        <locationX>7</locationX>
        <locationY>372</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError0001</name>
        <label>ClearError</label>
        <locationX>135</locationX>
        <locationY>517</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Claim_Type_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0</name>
        <label>ClearError</label>
        <locationX>597</locationX>
        <locationY>171</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0_1</name>
        <label>ClearError</label>
        <locationX>600</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0_1_1</name>
        <label>ClearError</label>
        <locationX>686</locationX>
        <locationY>745</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0_1_1_2</name>
        <label>ClearError</label>
        <locationX>629</locationX>
        <locationY>1021</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_1_1_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0_1_1_2_2</name>
        <label>ClearError</label>
        <locationX>640</locationX>
        <locationY>1335</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_1_1_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError</name>
        <label>PrintError</label>
        <locationX>6</locationX>
        <locationY>208</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Claim_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0</name>
        <label>PrintError</label>
        <locationX>590</locationX>
        <locationY>4</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Damage_Overage_Claim_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0_0</name>
        <label>PrintError</label>
        <locationX>593</locationX>
        <locationY>264</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Damage_Overage_Claim_Information_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0_0_1</name>
        <label>PrintError</label>
        <locationX>679</locationX>
        <locationY>578</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Shortage_Claim_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0_0_1_2</name>
        <label>PrintError</label>
        <locationX>627</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mis_Shipment_Claim_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0_0_1_2_2</name>
        <label>PrintError</label>
        <locationX>638</locationX>
        <locationY>1168</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Freight_Claim_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField</name>
        <label>SetReqField</label>
        <locationX>139</locationX>
        <locationY>283</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>What Type of Order Claim?</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0</name>
        <label>SetReqField</label>
        <locationX>729</locationX>
        <locationY>82</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Size_Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0</name>
        <label>SetReqField</label>
        <locationX>862</locationX>
        <locationY>82</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Seal_Intact_Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_0</name>
        <label>SetReqField</label>
        <locationX>994</locationX>
        <locationY>85</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipping_Plant_Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_0_0</name>
        <label>SetReqField</label>
        <locationX>1128</locationX>
        <locationY>85</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Distributor_Currency_Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_0_0_1</name>
        <label>SetReqField</label>
        <locationX>1257</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Distributor_Currency_Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_0_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_0_1</name>
        <label>SetReqField</label>
        <locationX>997</locationX>
        <locationY>345</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipping_Plant_Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_0_1_1</name>
        <label>SetReqField</label>
        <locationX>1135</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Overage_Disposition_Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_0_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_0_1_2</name>
        <label>SetReqField</label>
        <locationX>1079</locationX>
        <locationY>665</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Size_Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_0_1_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_0_1_2_2</name>
        <label>SetReqField</label>
        <locationX>1020</locationX>
        <locationY>940</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipping_Plant_Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_0_1_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_1</name>
        <label>SetReqField</label>
        <locationX>867</locationX>
        <locationY>345</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Seal_Intact_Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_1_1</name>
        <label>SetReqField</label>
        <locationX>951</locationX>
        <locationY>656</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shipping_Plant_Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_1_1_2</name>
        <label>SetReqField</label>
        <locationX>892</locationX>
        <locationY>931</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Seal_Intact_Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_1_1_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_1_1_2_2</name>
        <label>SetReqField</label>
        <locationX>903</locationX>
        <locationY>1245</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Freight_Claim_Type_Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_1_1_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_1</name>
        <label>SetReqField</label>
        <locationX>732</locationX>
        <locationY>342</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Size_Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_1_1</name>
        <label>SetReqField</label>
        <locationX>818</locationX>
        <locationY>656</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Seal_Intact_Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_1_1_2</name>
        <label>SetReqField</label>
        <locationX>759</locationX>
        <locationY>931</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Size_Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_1_1_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_1_1_2_2</name>
        <label>SetReqField</label>
        <locationX>770</locationX>
        <locationY>1245</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Distributor_Currency_Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_1_1_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields</name>
        <label>SetReqFields</label>
        <locationX>142</locationX>
        <locationY>206</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0</name>
        <label>SetReqFields</label>
        <locationX>732</locationX>
        <locationY>2</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0</name>
        <label>SetReqFields</label>
        <locationX>856</locationX>
        <locationY>6</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_0</name>
        <label>SetReqFields</label>
        <locationX>988</locationX>
        <locationY>9</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_0_0</name>
        <label>SetReqFields</label>
        <locationX>1122</locationX>
        <locationY>9</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_0_0_1</name>
        <label>SetReqFields</label>
        <locationX>1250</locationX>
        <locationY>270</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_0_1</name>
        <label>SetReqFields</label>
        <locationX>991</locationX>
        <locationY>269</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_0_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_0_1_1</name>
        <label>SetReqFields</label>
        <locationX>1129</locationX>
        <locationY>274</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_0_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_0_1_2</name>
        <label>SetReqFields</label>
        <locationX>1077</locationX>
        <locationY>583</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_0_1_2_2</name>
        <label>SetReqFields</label>
        <locationX>1018</locationX>
        <locationY>858</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0_0_1_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_1</name>
        <label>SetReqFields</label>
        <locationX>863</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_1_1</name>
        <label>SetReqFields</label>
        <locationX>945</locationX>
        <locationY>574</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_0_1_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_1_1_2</name>
        <label>SetReqFields</label>
        <locationX>886</locationX>
        <locationY>855</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_0_1_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_1_1_2_2</name>
        <label>SetReqFields</label>
        <locationX>897</locationX>
        <locationY>1169</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0_0_1_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_1</name>
        <label>SetReqFields</label>
        <locationX>735</locationX>
        <locationY>262</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_1_1</name>
        <label>SetReqFields</label>
        <locationX>817</locationX>
        <locationY>573</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_1_1_2</name>
        <label>SetReqFields</label>
        <locationX>762</locationX>
        <locationY>851</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_1_1_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_1_1_2_2</name>
        <label>SetReqFields</label>
        <locationX>773</locationX>
        <locationY>1165</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_1_1_2_2</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Blank</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;  &lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!None_Picklist}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>CheckReq</name>
        <label>CheckReq</label>
        <locationX>139</locationX>
        <locationY>372</locationY>
        <defaultConnector>
            <targetReference>ClearError0001</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_Type_of_Order_Claim</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Blank</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0</name>
        <label>CheckReq</label>
        <locationX>729</locationX>
        <locationY>171</locationY>
        <defaultConnector>
            <targetReference>CheckReq_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Size</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Blank</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0</name>
        <label>CheckReq</label>
        <locationX>862</locationX>
        <locationY>171</locationY>
        <defaultConnector>
            <targetReference>CheckReq_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Seal_Intact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Blank</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_0</name>
        <label>CheckReq</label>
        <locationX>994</locationX>
        <locationY>174</locationY>
        <defaultConnector>
            <targetReference>CheckReq_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Shipping_Plant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Blank</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_0</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_0_0</name>
        <label>CheckReq</label>
        <locationX>1130</locationX>
        <locationY>170</locationY>
        <defaultConnector>
            <targetReference>Damage_Claim_Record_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Distributor_Currency</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Blank</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_0_0</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
        <rules>
            <name>Errors_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorNum</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PrintError_0</targetReference>
            </connector>
            <label>Errors Present?</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_0_0_1</name>
        <label>CheckReq</label>
        <locationX>1262</locationX>
        <locationY>440</locationY>
        <defaultConnector>
            <targetReference>Overage_Claim_Record_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_0_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Distributor_Currency_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Blank</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_0_0_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
        <rules>
            <name>Errors_Present_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorNum</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PrintError_0_0</targetReference>
            </connector>
            <label>Errors Present?</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_0_1</name>
        <label>CheckReq</label>
        <locationX>997</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>CheckReq_0_0_0_1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Shipping_Plant_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Blank</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_0_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_0_1_1</name>
        <label>CheckReq</label>
        <locationX>1135</locationX>
        <locationY>439</locationY>
        <defaultConnector>
            <targetReference>CheckReq_0_0_0_0_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_0_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Overage_Disposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Blank</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_0_1_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_0_1_2</name>
        <label>CheckReq</label>
        <locationX>1083</locationX>
        <locationY>748</locationY>
        <defaultConnector>
            <targetReference>Shortage_Claim_Record_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_0_1_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Size_Shortage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Blank</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_0_1_2</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
        <rules>
            <name>Error_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorNum</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PrintError_0_0_1</targetReference>
            </connector>
            <label>Error Present?</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_0_1_2_2</name>
        <label>CheckReq</label>
        <locationX>1024</locationX>
        <locationY>1023</locationY>
        <defaultConnector>
            <targetReference>Mis_Shipment_Claim_Record_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_0_1_2_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Shipping_Plant_Mis_Shipment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Blank</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_0_1_2_2</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
        <rules>
            <name>Error_Present_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorNum</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PrintError_0_0_1_2</targetReference>
            </connector>
            <label>Error Present?</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_1</name>
        <label>CheckReq</label>
        <locationX>865</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>CheckReq_0_0_0_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Seal_Intact_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Blank</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_1_1</name>
        <label>CheckReq</label>
        <locationX>951</locationX>
        <locationY>745</locationY>
        <defaultConnector>
            <targetReference>CheckReq_0_0_0_1_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Shipping_Plant_Shortage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Blank</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_1_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_1_1_2</name>
        <label>CheckReq</label>
        <locationX>892</locationX>
        <locationY>1020</locationY>
        <defaultConnector>
            <targetReference>CheckReq_0_0_0_1_2_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_1_1_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Seal_Intact_Mis_Shipment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Blank</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_1_1_2</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_1_1_2_2</name>
        <label>CheckReq</label>
        <locationX>903</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Freight_Claim_Record_Create_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_1_1_2_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Freight_Claim_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Blank</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_1_1_2_2</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
        <rules>
            <name>Errors_Present_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorNum</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PrintError_0_0_1_2_2</targetReference>
            </connector>
            <label>Errors Present?</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_1</name>
        <label>CheckReq</label>
        <locationX>732</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>CheckReq_0_0_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Size_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Blank</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_1_1</name>
        <label>CheckReq</label>
        <locationX>818</locationX>
        <locationY>745</locationY>
        <defaultConnector>
            <targetReference>CheckReq_0_0_1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Seal_Intact_Shortage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Blank</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_1_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_1_1_2</name>
        <label>CheckReq</label>
        <locationX>759</locationX>
        <locationY>1020</locationY>
        <defaultConnector>
            <targetReference>CheckReq_0_0_1_1_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_1_1_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Size_Mis_Shipment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Blank</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_1_1_2</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_1_1_2_2</name>
        <label>CheckReq</label>
        <locationX>770</locationX>
        <locationY>1339</locationY>
        <defaultConnector>
            <targetReference>CheckReq_0_0_1_1_2_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_1_1_2_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Distributor_Currency_Freight</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Blank</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_1_1_2_2</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Claim_Type_Decision</name>
        <label>Order Claim Type Decision</label>
        <locationX>396</locationX>
        <locationY>293</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Damage_Claim</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>What_Type_of_Order_Claim</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Damage Claim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Damage_Overage_Claim_Information</targetReference>
            </connector>
            <label>Damage Claim</label>
        </rules>
        <rules>
            <name>Shortage_Claim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_Type_of_Order_Claim</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shortage Claim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shortage_Claim_Information</targetReference>
            </connector>
            <label>Shortage Claim</label>
        </rules>
        <rules>
            <name>Mis_Shipment_Claim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_Type_of_Order_Claim</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mis-Shipment Claim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mis_Shipment_Claim_Information</targetReference>
            </connector>
            <label>Mis-Shipment Claim</label>
        </rules>
        <rules>
            <name>Freight_Claim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_Type_of_Order_Claim</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Freight Claim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Freight_Claim_Information</targetReference>
            </connector>
            <label>Freight Claim</label>
        </rules>
        <rules>
            <name>Other_Claim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_Type_of_Order_Claim</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Claim_Information</targetReference>
            </connector>
            <label>Other Claim</label>
        </rules>
        <rules>
            <name>Overage_Claim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_Type_of_Order_Claim</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Overage Claim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Damage_Overage_Claim_Information_0</targetReference>
            </connector>
            <label>Overage Claim</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CurrencySelector</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Distibutor_Currency__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FreightClaimType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Freight_Claim_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FreightClaimTypePicker</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Access_Group__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>AccessGroup</elementReference>
            </value>
        </filters>
        <filters>
            <field>Customer_Priority__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>SpecialCircumstance</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;{!What_Type_of_Order_Claim}&quot;</stringValue>
            </value>
        </filters>
        <filters>
            <field>Language__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>FlowLanguage</elementReference>
            </value>
        </filters>
        <object>Choice_Case_3rd_Type__c</object>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IssueDefinition</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Issue__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OrderClaimType</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Access_Group__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;{!AccessGroup}&quot;</stringValue>
            </value>
        </filters>
        <filters>
            <field>Customer_Priority__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;{!SpecialCircumstance}&quot;</stringValue>
            </value>
        </filters>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;{!RecordTypeName}&quot;</stringValue>
            </value>
        </filters>
        <filters>
            <field>Language__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>FlowLanguage</elementReference>
            </value>
        </filters>
        <object>Choice_Case_2nd_Type__c</object>
        <outputAssignments>
            <assignToReference>OrderClaimTypeValue</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OverageDisposition</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Overage__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductSizePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product_Size__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>QuantityKnown</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Quantity_Known__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>QuantityTypePicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Quantity_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SampleAvailable</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sample_Available__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SealIntact</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Seal_Intact__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ShippingPlant</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Shipping_Plant__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Claim_Amount_Label</name>
        <dataType>String</dataType>
        <expression>$Label.Claim_Amount</expression>
    </formulas>
    <formulas>
        <name>CS_Label_Beam_Item_Number</name>
        <dataType>String</dataType>
        <expression>$Label.CS_Label_Beam_Item_Number</expression>
    </formulas>
    <formulas>
        <name>CS_Label_Beam_Suntory_Order_Number</name>
        <dataType>String</dataType>
        <expression>$Label.CS_Label_Beam_Suntory_Order_Number</expression>
    </formulas>
    <formulas>
        <name>CS_Label_Description</name>
        <dataType>String</dataType>
        <expression>$Label.CS_Label_Description</expression>
    </formulas>
    <formulas>
        <name>Damage_Claim_Descrip</name>
        <dataType>String</dataType>
        <expression>$Label.Damage_Claim_Descrip</expression>
    </formulas>
    <formulas>
        <name>Damage_Claim_Title</name>
        <dataType>String</dataType>
        <expression>$Label.Damage_Claim_Title</expression>
    </formulas>
    <formulas>
        <name>Distributor_Currency_Label</name>
        <dataType>String</dataType>
        <expression>$Label.Distributor_Currency</expression>
    </formulas>
    <formulas>
        <name>Error_Message_Formatted_Label</name>
        <dataType>String</dataType>
        <expression>$Label.Error_Message_Formatted_Label</expression>
    </formulas>
    <formulas>
        <name>Field_Length_Error_Message</name>
        <dataType>String</dataType>
        <expression>$Label.Field_Length_Error_Message</expression>
    </formulas>
    <formulas>
        <name>Freight_Claim_Descrip</name>
        <dataType>String</dataType>
        <expression>$Label.Freight_Claim_Descrip</expression>
    </formulas>
    <formulas>
        <name>Freight_Claim_Sub_Header</name>
        <dataType>String</dataType>
        <expression>$Label.Freight_Claim_Sub_Header</expression>
    </formulas>
    <formulas>
        <name>Freight_Claim_Title</name>
        <dataType>String</dataType>
        <expression>$Label.Freight_Claim_Title</expression>
    </formulas>
    <formulas>
        <name>Freight_Claim_Type_Label</name>
        <dataType>String</dataType>
        <expression>$Label.Freight_Claim_Type</expression>
    </formulas>
    <formulas>
        <name>Mis_Ship_Descrip</name>
        <dataType>String</dataType>
        <expression>$Label.Mis_Ship_Descrip</expression>
    </formulas>
    <formulas>
        <name>Mis_Ship_Title</name>
        <dataType>String</dataType>
        <expression>$Label.Mis_Ship_Title</expression>
    </formulas>
    <formulas>
        <name>None_Picklist</name>
        <dataType>String</dataType>
        <expression>$Label.None_Picklist</expression>
    </formulas>
    <formulas>
        <name>Order_Information_Header</name>
        <dataType>String</dataType>
        <expression>$Label.Order_Information_Header</expression>
    </formulas>
    <formulas>
        <name>Overage_Claim_Descrip</name>
        <dataType>String</dataType>
        <expression>$Label.Overage_Claim_Descrip</expression>
    </formulas>
    <formulas>
        <name>Overage_Claim_Title</name>
        <dataType>String</dataType>
        <expression>$Label.Overage_Claim_Title</expression>
    </formulas>
    <formulas>
        <name>Overage_Disposition_Label</name>
        <dataType>String</dataType>
        <expression>$Label.Overage_Disposition</expression>
    </formulas>
    <formulas>
        <name>Product_Description_Label</name>
        <dataType>String</dataType>
        <expression>$Label.Product_Description_Label</expression>
    </formulas>
    <formulas>
        <name>Product_Size_Label</name>
        <dataType>String</dataType>
        <expression>$Label.Product_Size_Label</expression>
    </formulas>
    <formulas>
        <name>Purchase_Order_Number_Label</name>
        <dataType>String</dataType>
        <expression>$Label.Purchase_Order_Number_Label</expression>
    </formulas>
    <formulas>
        <name>Quantity_Label</name>
        <dataType>String</dataType>
        <expression>$Label.Quantity_Label</expression>
    </formulas>
    <formulas>
        <name>Quantity_Type_Label</name>
        <dataType>String</dataType>
        <expression>$Label.Quantity_Type_Label</expression>
    </formulas>
    <formulas>
        <name>Seal_Intact_Label</name>
        <dataType>String</dataType>
        <expression>$Label.Seal_Intact</expression>
    </formulas>
    <formulas>
        <name>Shipping_Plant_Label</name>
        <dataType>String</dataType>
        <expression>$Label.Shipping_Plant_Label</expression>
    </formulas>
    <formulas>
        <name>Shortage_Claim_Descrip</name>
        <dataType>String</dataType>
        <expression>$Label.Shortage_Claim_Descrip</expression>
    </formulas>
    <formulas>
        <name>Shortage_Claim_Title</name>
        <dataType>String</dataType>
        <expression>$Label.Shortage_Claim_Title</expression>
    </formulas>
    <formulas>
        <name>Step_2_Order_Claim_Header</name>
        <dataType>String</dataType>
        <expression>$Label.Step_2_Order_Claim_Header</expression>
    </formulas>
    <formulas>
        <name>Step_2_Order_Claim_Subheader</name>
        <dataType>String</dataType>
        <expression>$Label.Step_2_Order_Claim_Subheader</expression>
    </formulas>
    <formulas>
        <name>Step_3_Change_Claim_Header</name>
        <dataType>String</dataType>
        <expression>$Label.Step_3_Change_Claim_Header</expression>
    </formulas>
    <formulas>
        <name>Type_of_Order_Claim</name>
        <dataType>String</dataType>
        <expression>$Label.Type_of_Order_Claim</expression>
    </formulas>
    <formulas>
        <name>What_Type_of_Order_Claim_Label</name>
        <dataType>String</dataType>
        <expression>$Label.What_Type_of_Order_Claim</expression>
    </formulas>
    <interviewLabel>Order Claim Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Claim Subflow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Damage_Claim_Record_Create</name>
        <label>Damage Claim Record Create</label>
        <locationX>1326</locationX>
        <locationY>169</locationY>
        <assignRecordIdToReference>OrderClaimRecordCreate</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Beam_Suntory_Item_Number__c</field>
            <value>
                <elementReference>Beam_Suntory_Item_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Beam_Suntory_Order_Number__c</field>
            <value>
                <elementReference>Beam_Suntory_Order_Number_DamageOverage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Claim_Amount__c</field>
            <value>
                <elementReference>Claim_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactIdFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distibutor_Currency__c</field>
            <value>
                <elementReference>Distributor_Currency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Customer Portal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Description__c</field>
            <value>
                <elementReference>Product_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Size__c</field>
            <value>
                <elementReference>ProductSizePicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Order_Number__c</field>
            <value>
                <elementReference>Purchase_Order_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity_Bottles_or_Cases__c</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity_Type__c</field>
            <value>
                <elementReference>Quantity_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seal_Intact__c</field>
            <value>
                <elementReference>Seal_Intact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Plant__c</field>
            <value>
                <elementReference>Shipping_Plant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>What_Type_of_Order_Claim</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Freight_Claim_Record_Create_0</name>
        <label>Freight Claim Record Create</label>
        <locationX>1255</locationX>
        <locationY>1221</locationY>
        <assignRecordIdToReference>OrderClaimRecordCreate</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Beam_Suntory_Order_Number__c</field>
            <value>
                <elementReference>Beam_Suntory_Order_Number_Freight</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Claim_Amount__c</field>
            <value>
                <elementReference>Claim_Amount_Freight</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Claim_Description__c</field>
            <value>
                <elementReference>Claim_Description_Freight</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactIdFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Freight_Claim_Type__c</field>
            <value>
                <elementReference>Freight_Claim_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Customer Portal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Order_Number__c</field>
            <value>
                <elementReference>Purchase_Order_Number_Freight</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>What_Type_of_Order_Claim</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Mis_Shipment_Claim_Record_Create</name>
        <label>Mis-Shipment Claim Record Create</label>
        <locationX>1322</locationX>
        <locationY>940</locationY>
        <assignRecordIdToReference>OrderClaimRecordCreate</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Beam_Suntory_Order_Number__c</field>
            <value>
                <elementReference>Beam_Suntory_Order_Number_Mis_Shipment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactIdFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Customer Portal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Description__c</field>
            <value>
                <elementReference>Product_Description_Mis_Shipment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Size__c</field>
            <value>
                <elementReference>Product_Size_Mis_Shipment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Order_Number__c</field>
            <value>
                <elementReference>Purchase_Order_Number_Mis_Shipment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity_Bottles_or_Cases__c</field>
            <value>
                <elementReference>Quantity_Mis_Shipment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity_Type__c</field>
            <value>
                <elementReference>Quantity_Type_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seal_Intact__c</field>
            <value>
                <elementReference>Seal_Intact_Mis_Shipment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Plant__c</field>
            <value>
                <elementReference>Shipping_Plant_Mis_Shipment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>What_Type_of_Order_Claim</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Other_Claim_Record_Create</name>
        <label>Other Claim Record Create</label>
        <locationX>1319</locationX>
        <locationY>1427</locationY>
        <assignRecordIdToReference>OrderClaimRecordCreate</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Claim_Description__c</field>
            <value>
                <elementReference>Claim_Description_Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactIdFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Customer Portal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Order_Number__c</field>
            <value>
                <elementReference>Purchase_Order_Number_Other</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>What_Type_of_Order_Claim</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Overage_Claim_Record_Create</name>
        <label>Overage Claim Record Create</label>
        <locationX>1450</locationX>
        <locationY>371</locationY>
        <assignRecordIdToReference>OrderClaimRecordCreate</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Beam_Suntory_Item_Number__c</field>
            <value>
                <elementReference>Beam_Suntory_Item_Number_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Beam_Suntory_Order_Number__c</field>
            <value>
                <elementReference>Beam_Suntory_Order_Number_DamageOverage_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Claim_Amount__c</field>
            <value>
                <elementReference>Claim_Amount_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactIdFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distibutor_Currency__c</field>
            <value>
                <elementReference>Distributor_Currency_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Customer Portal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overage__c</field>
            <value>
                <elementReference>OverageDisposition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Description__c</field>
            <value>
                <elementReference>Product_Description_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Size__c</field>
            <value>
                <elementReference>Product_Size_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Order_Number__c</field>
            <value>
                <elementReference>Purchase_Order_Number_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity_Bottles_or_Cases__c</field>
            <value>
                <elementReference>Quantity_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity_Type__c</field>
            <value>
                <elementReference>Quantity_Type_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seal_Intact__c</field>
            <value>
                <elementReference>Seal_Intact_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Plant__c</field>
            <value>
                <elementReference>Shipping_Plant_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>What_Type_of_Order_Claim</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Shortage_Claim_Record_Create</name>
        <label>Shortage Claim Record Create</label>
        <locationX>1366</locationX>
        <locationY>733</locationY>
        <assignRecordIdToReference>OrderClaimRecordCreate</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Beam_Suntory_Item_Number__c</field>
            <value>
                <elementReference>Beam_Suntory_Item_Number_Shortage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Beam_Suntory_Order_Number__c</field>
            <value>
                <elementReference>Beam_Suntory_Order_Number_Shortage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactIdFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Customer Portal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Description__c</field>
            <value>
                <elementReference>Product_Description_Shortage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Size__c</field>
            <value>
                <elementReference>Product_Size_Shortage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Order_Number__c</field>
            <value>
                <elementReference>Purchase_Order_Number_Shortage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity_Bottles_or_Cases__c</field>
            <value>
                <elementReference>Quantity_Shortage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity_Type__c</field>
            <value>
                <elementReference>Quantity_Type_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seal_Intact__c</field>
            <value>
                <elementReference>Seal_Intact_Shortage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Plant__c</field>
            <value>
                <elementReference>Shipping_Plant_Shortage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>What_Type_of_Order_Claim</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Case_Number</name>
        <label>Find Case Number</label>
        <locationX>1662</locationX>
        <locationY>305</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Number</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderClaimRecordCreate</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseRecord</outputReference>
        <queriedFields>CaseNumber</queriedFields>
    </recordLookups>
    <screens>
        <name>Damage_Overage_Claim_Information</name>
        <label>Claim Information</label>
        <locationX>599</locationX>
        <locationY>86</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError_0</targetReference>
        </connector>
        <fields>
            <name>ClaimTypeMessage</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Step_3_Change_Claim_Header}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!Type_of_Order_Claim}&lt;FONT KERNING=&quot;0&quot;&gt; &lt;B&gt;{!What_Type_of_Order_Claim}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessasgeDisplay1</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Product_Description</name>
            <defaultValue>
                <elementReference>Product_Description</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Product_Description_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN ({!Product_Description}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Product_Size</name>
            <choiceReferences>ProductSizePicklist</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Product_Size_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Quantity</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Quantity_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 4</errorMessage>
                <formulaExpression>LEN ({!Quantity}) &lt;= 4</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Quantity_Type</name>
            <choiceReferences>QuantityTypePicker</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Quantity_Type_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Seal_Intact</name>
            <choiceReferences>SealIntact</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Seal_Intact_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Shipping_Plant</name>
            <choiceReferences>ShippingPlant</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Shipping_Plant_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Claim_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Claim_Amount</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Claim_Amount_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Distributor_Currency</name>
            <choiceReferences>CurrencySelector</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Distributor_Currency_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>OrderInformation</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!Order_Information_Header}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Beam_Suntory_Order_Number_DamageOverage</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Beam_Suntory_Order_Number_DamageOverage</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Beam_Suntory_Order_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 20</errorMessage>
                <formulaExpression>LEN ({!Beam_Suntory_Order_Number_DamageOverage}) &lt;= 20</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Beam_Suntory_Item_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Beam_Suntory_Item_Number</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Beam_Item_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN ({!Beam_Suntory_Item_Number}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Purchase_Order_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Purchase_Order_Number</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Purchase_Order_Number_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 20</errorMessage>
                <formulaExpression>LEN ({!Purchase_Order_Number}) &lt;= 30</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Damage_Overage_Claim_Information_0</name>
        <label>Claim Information</label>
        <locationX>594</locationX>
        <locationY>342</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError_0_1</targetReference>
        </connector>
        <fields>
            <name>ClaimTypeMessage_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Step_3_Change_Claim_Header}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!Type_of_Order_Claim}&lt;FONT KERNING=&quot;0&quot;&gt; &lt;B&gt;{!What_Type_of_Order_Claim}&lt;/B&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessageDisplay3</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Product_Description_1</name>
            <defaultValue>
                <elementReference>Product_Description_1</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Product_Description_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN ({!Product_Description_1}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Product_Size_1</name>
            <choiceReferences>ProductSizePicklist</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Product_Size_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Quantity_1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Quantity_1</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Quantity_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 4</errorMessage>
                <formulaExpression>LEN ({!Quantity_1}) &lt;= 4</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Quantity_Type_1</name>
            <choiceReferences>QuantityTypePicker</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Quantity_Type_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Seal_Intact_1</name>
            <choiceReferences>SealIntact</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Seal_Intact_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Shipping_Plant_1</name>
            <choiceReferences>ShippingPlant</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Shipping_Plant_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Overage_Disposition</name>
            <choiceReferences>OverageDisposition</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Overage_Disposition_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Claim_Amount_1</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Claim_Amount_1</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Claim_Amount_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Distributor_Currency_1</name>
            <choiceReferences>CurrencySelector</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Distributor_Currency_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>OrderInformation_1</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!Order_Information_Header}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Beam_Suntory_Order_Number_DamageOverage_1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Beam_Suntory_Order_Number_DamageOverage_1</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Beam_Suntory_Order_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 20</errorMessage>
                <formulaExpression>LEN ({!Beam_Suntory_Order_Number_DamageOverage_1}) &lt;= 20</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Beam_Suntory_Item_Number_1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Beam_Suntory_Item_Number_1</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Beam_Item_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN ({!Beam_Suntory_Item_Number_1}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Purchase_Order_Number_1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Purchase_Order_Number_1</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Purchase_Order_Number_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 30</errorMessage>
                <formulaExpression>LEN ({!Purchase_Order_Number_1}) &lt;= 30</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Freight_Claim_Information</name>
        <label>Claim Information</label>
        <locationX>633</locationX>
        <locationY>1252</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError_0_1_1_2_2</targetReference>
        </connector>
        <fields>
            <name>ClaimTypeMessage_Freight</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Step_3_Change_Claim_Header}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!Type_of_Order_Claim} &lt;B&gt;{!What_Type_of_Order_Claim}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;&lt;I&gt;{!Freight_Claim_Sub_Header} &lt;/I&gt;&lt;/B&gt;&lt;A HREF=&quot;mailto:traffic@beamsuntory.com&quot; TARGET=&quot;_blank&quot;&gt;&lt;B&gt;&lt;I&gt;traffic@beamsuntory.com.&lt;/I&gt;&lt;/B&gt;&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessageDisplay6</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Claim_Amount_Freight</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Claim_Amount_Freight</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Claim_Amount_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Distributor_Currency_Freight</name>
            <choiceReferences>CurrencySelector</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Distributor_Currency_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Freight_Claim_Type</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>FreightClaimTypePicker</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Freight_Claim_Type_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Claim_Description_Freight</name>
            <defaultValue>
                <elementReference>Claim_Description_Freight</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Description}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>The value you entered doesn&apos;t meet the validation criteria for this input field.</errorMessage>
                <formulaExpression>LEN ({!Claim_Description_Freight}) &lt;= 50</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>OrderInformation5</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Order_Information_Header}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Beam_Suntory_Order_Number_Freight</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Beam_Suntory_Order_Number_Freight</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Beam_Suntory_Order_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 20</errorMessage>
                <formulaExpression>LEN ({!Beam_Suntory_Order_Number_Freight}) &lt;= 20</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Purchase_Order_Number_Freight</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Purchase_Order_Number_Freight</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Purchase_Order_Number_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 30</errorMessage>
                <formulaExpression>LEN ({!Purchase_Order_Number_Freight}) &lt;= 30</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Mis_Shipment_Claim_Information</name>
        <label>Claim Information</label>
        <locationX>627</locationX>
        <locationY>937</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError_0_1_1_2</targetReference>
        </connector>
        <fields>
            <name>ClaimTypeMessage_Mis_Shipment</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Step_3_Change_Claim_Header}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!Type_of_Order_Claim} &lt;B&gt;{!What_Type_of_Order_Claim}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessageDisplay5</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Product_Description_Mis_Shipment</name>
            <defaultValue>
                <elementReference>Product_Description_Mis_Shipment</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Product_Description_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN ({!Product_Description_Mis_Shipment}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Product_Size_Mis_Shipment</name>
            <choiceReferences>ProductSizePicklist</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Product_Size_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Quantity_Mis_Shipment</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Quantity_Mis_Shipment</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Quantity_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 4</errorMessage>
                <formulaExpression>LEN ({!Quantity_Mis_Shipment}) &lt;= 4</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Quantity_Type_3</name>
            <choiceReferences>QuantityTypePicker</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Quantity_Type_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Seal_Intact_Mis_Shipment</name>
            <choiceReferences>SealIntact</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Seal_Intact_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Shipping_Plant_Mis_Shipment</name>
            <choiceReferences>ShippingPlant</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Shipping_Plant_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>OrderInformation3</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Order_Information_Header}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Beam_Suntory_Order_Number_Mis_Shipment</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Beam_Suntory_Order_Number_Mis_Shipment</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Beam_Suntory_Order_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 20</errorMessage>
                <formulaExpression>LEN ({!Beam_Suntory_Order_Number_Mis_Shipment}) &lt;= 20</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Purchase_Order_Number_Mis_Shipment</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Purchase_Order_Number_Mis_Shipment</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Purchase_Order_Number_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 30</errorMessage>
                <formulaExpression>LEN ({!Purchase_Order_Number_Mis_Shipment}) &lt;= 30</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Order_Claim_Type</name>
        <label>Order Claim Type</label>
        <locationX>2</locationX>
        <locationY>287</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError</targetReference>
        </connector>
        <fields>
            <name>HeaderMessage</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Step_2_Order_Claim_Header}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt; {!Step_2_Order_Claim_Subheader}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessageDisplay</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_Type_of_Order_Claim</name>
            <choiceReferences>OrderClaimType</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!What_Type_of_Order_Claim_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>pagebreak</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Definitions</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Shortage_Claim_Title}&lt;/B&gt;&lt;FONT KERNING=&quot;0&quot;&gt; &lt;FONT KERNING=&quot;1&quot;&gt;{!Shortage_Claim_Descrip}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Overage_Claim_Title}&lt;/B&gt;&lt;FONT KERNING=&quot;0&quot;&gt; &lt;FONT KERNING=&quot;1&quot;&gt;{!Overage_Claim_Descrip}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Mis_Ship_Title}&lt;/B&gt;&lt;FONT KERNING=&quot;0&quot;&gt; &lt;FONT KERNING=&quot;1&quot;&gt;{!Mis_Ship_Descrip}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Damage_Claim_Title}&lt;/B&gt;&lt;FONT KERNING=&quot;0&quot;&gt; &lt;FONT KERNING=&quot;1&quot;&gt;{!Damage_Claim_Descrip}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Freight_Claim_Title}&lt;/B&gt; {!Freight_Claim_Descrip}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Other_Claim_Information</name>
        <label>Claim Information</label>
        <locationX>584</locationX>
        <locationY>1431</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Other_Claim_Record_Create</targetReference>
        </connector>
        <fields>
            <name>ClaimTypeMessage_0_0_0_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Step_3_Change_Claim_Header}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!Type_of_Order_Claim} &lt;B&gt;{!What_Type_of_Order_Claim}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Purchase_Order_Number_Other</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Purchase_Order_Number_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 30</errorMessage>
                <formulaExpression>LEN ({!Purchase_Order_Number_Other}) &lt;= 30</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Claim_Description_Other</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Description}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 50</errorMessage>
                <formulaExpression>LEN ({!Claim_Description_Other}) &lt;= 50</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Shortage_Claim_Information</name>
        <label>Claim Information</label>
        <locationX>682</locationX>
        <locationY>665</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError_0_1_1</targetReference>
        </connector>
        <fields>
            <name>ClaimTypeMessage_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Step_3_Change_Claim_Header}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!Type_of_Order_Claim} &lt;B&gt;{!What_Type_of_Order_Claim}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessageDisplay4</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Quantity_Shortage</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Quantity_Shortage</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Quantity_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 4</errorMessage>
                <formulaExpression>LEN ({!Quantity_Shortage}) &lt;= 4</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Quantity_Type_2</name>
            <choiceReferences>QuantityTypePicker</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Quantity_Type_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Seal_Intact_Shortage</name>
            <choiceReferences>SealIntact</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Seal_Intact_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Shipping_Plant_Shortage</name>
            <choiceReferences>ShippingPlant</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Shipping_Plant_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Product_Size_Shortage</name>
            <choiceReferences>ProductSizePicklist</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Product_Size_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Product_Description_Shortage</name>
            <defaultValue>
                <elementReference>Product_Description_Shortage</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Product_Description_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN ({!Product_Description_Shortage}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>OrderInformation2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Order_Information_Header}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Beam_Suntory_Order_Number_Shortage</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Beam_Suntory_Item_Number_Shortage</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Beam_Suntory_Order_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 20</errorMessage>
                <formulaExpression>LEN ({!Beam_Suntory_Item_Number_Shortage}) &lt;= 20</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Beam_Suntory_Item_Number_Shortage</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Beam_Suntory_Item_Number_Shortage</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!CS_Label_Beam_Item_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN ({!Beam_Suntory_Item_Number_Shortage}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Purchase_Order_Number_Shortage</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Purchase_Order_Number_Shortage</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Purchase_Order_Number_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 30</errorMessage>
                <formulaExpression>LEN ({!Purchase_Order_Number_Shortage}) &lt;= 30</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <startElementReference>Order_Claim_Type</startElementReference>
    <textTemplates>
        <name>ErrorMessage_Formatted</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!Error_Message_Formatted_Label}&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!RequiredFields}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RequiredFields_Formatted</name>
        <text>&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!RequiredField}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</text>
    </textTemplates>
    <variables>
        <name>AccessGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ContactIdFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FlowLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OrderClaimRecordCreate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OrderClaimTypeValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiredField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequiredFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SpecialCircumstance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SubFlowIDAvailable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>UserProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
