src/flows/Order_Form-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Case_Number</name>
        <label>Assign Case Number</label>
        <locationX>421</locationX>
        <locationY>106</locationY>
        <assignmentItems>
            <assignToReference>CaseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseRecord.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type_of_Order_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PO_Intl</name>
        <label>Assign PO Intl</label>
        <locationX>1004</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>PurchaseOrder.PO_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_Number_Order_Sample_Intl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrder.Pooled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pooled_Order_Sample_Intl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrder.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrder.PO_Number_of_Pooled_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_Number_of_Pooled_Order_Intl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_PurchaseOrders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PurchaseOrder_Variables</name>
        <label>Assign PurchaseOrder Variables</label>
        <locationX>1038</locationX>
        <locationY>438</locationY>
        <assignmentItems>
            <assignToReference>PurchaseOrder.Barrel_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Barrel_Order_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrder.PO_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_Number_Order_Sample_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrder.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrder.Barrel_Number_txt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Barrel_Number_New</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_PurchaseOrders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PurchaseOrder_Variables_0</name>
        <label>Assign PurchaseOrder Variables</label>
        <locationX>1036</locationX>
        <locationY>1128</locationY>
        <assignmentItems>
            <assignToReference>PurchaseOrder.PO_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_Number_Order_Sample_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrder.Pooled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pooled_Order_Sample_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrder.Direct_Import__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Direct_Import_Order_Sample_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrder.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PurchaseOrder.PO_Number_of_Pooled_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_Number_of_Pooled_Order_Domestic</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_PurchaseOrders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PurchaseOrders</name>
        <label>Assign PurchaseOrders</label>
        <locationX>1028</locationX>
        <locationY>544</locationY>
        <assignmentItems>
            <assignToReference>PurchaseOrders</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PurchaseOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Add_Another_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError</name>
        <label>ClearError</label>
        <locationX>30</locationX>
        <locationY>349</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError1111</name>
        <label>ClearError</label>
        <locationX>155</locationX>
        <locationY>443</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sample</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError1111_0_0</name>
        <label>ClearError</label>
        <locationX>538</locationX>
        <locationY>1115</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_PurchaseOrder_Variables_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError1111_0_0_0</name>
        <label>ClearError</label>
        <locationX>886</locationX>
        <locationY>1012</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_PO_Intl</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0_0</name>
        <label>ClearError</label>
        <locationX>654</locationX>
        <locationY>914</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_2_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ClearError_0_1</name>
        <label>ClearError</label>
        <locationX>93</locationX>
        <locationY>1030</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Purchase_Orders_Number_0</name>
        <label>Increment Purchase Orders Number</label>
        <locationX>1200</locationX>
        <locationY>1160</locationY>
        <assignmentItems>
            <assignToReference>NumberOfPurchaseOrders</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Purchase_Order_Information_Order_Sample_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Purchase_Orders_Number_0_0</name>
        <label>Increment Purchase Orders Number</label>
        <locationX>771</locationX>
        <locationY>627</locationY>
        <assignmentItems>
            <assignToReference>NumberOfPurchaseOrders</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Purchase_Order_Information_Order_Sample_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError</name>
        <label>PrintError</label>
        <locationX>26</locationX>
        <locationY>186</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Type_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0_1</name>
        <label>PrintError</label>
        <locationX>653</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Purchase_Order_Information_Order_Sample_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError_0_2</name>
        <label>PrintError</label>
        <locationX>98</locationX>
        <locationY>875</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Purchase_Order_Information_Order_Sample_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField</name>
        <label>SetReqField</label>
        <locationX>148</locationX>
        <locationY>261</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_2</name>
        <label>SetReqField</label>
        <locationX>528</locationX>
        <locationY>951</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Direct_Import</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_1</name>
        <label>SetReqField</label>
        <locationX>889</locationX>
        <locationY>838</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pooled_Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_2</name>
        <label>SetReqField</label>
        <locationX>221</locationX>
        <locationY>956</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pooled_Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_2_0</name>
        <label>SetReqField</label>
        <locationX>342</locationX>
        <locationY>954</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_Number_of_Pooled_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_2_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_2_0_0</name>
        <label>SetReqField</label>
        <locationX>772</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PO_Number_of_Pooled_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_2_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields</name>
        <label>SetReqFields</label>
        <locationX>150</locationX>
        <locationY>189</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_2</name>
        <label>SetReqFields</label>
        <locationX>532</locationX>
        <locationY>875</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_1</name>
        <label>SetReqFields</label>
        <locationX>890</locationX>
        <locationY>765</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_2</name>
        <label>SetReqFields</label>
        <locationX>223</locationX>
        <locationY>883</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_2_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_2_0</name>
        <label>SetReqFields</label>
        <locationX>356</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_2_0_0</name>
        <label>SetReqFields</label>
        <locationX>772</locationX>
        <locationY>763</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_1</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Add_Another_PO</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>DoNotAddAnotherPO</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!No_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!None_Picklist}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Yes_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Add_Another_0</name>
        <label>Check Add Another</label>
        <locationX>1368</locationX>
        <locationY>574</locationY>
        <defaultConnector>
            <targetReference>Create_Purchase_Orders</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Add_Another_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Another_Purchase_Order_Order_Sample_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Purchase_Orders_Number_0</targetReference>
            </connector>
            <label>Add Another Standard True</label>
        </rules>
        <rules>
            <name>Add_Another_Standard_Intl_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Another_Purchase_Order_Intl</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Purchase_Orders_Number_0_0</targetReference>
            </connector>
            <label>Add Another Standard Intl True</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq</name>
        <label>CheckReq</label>
        <locationX>150</locationX>
        <locationY>347</locationY>
        <defaultConnector>
            <targetReference>ClearError1111</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_Order</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_2</name>
        <label>CheckReq</label>
        <locationX>539</locationX>
        <locationY>1036</locationY>
        <defaultConnector>
            <targetReference>ClearError1111_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Direct_Import_Order_Sample_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_2</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
        <rules>
            <name>Errors_Present2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorNum</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PrintError_0_2</targetReference>
            </connector>
            <label>Errors Present?</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_1</name>
        <label>CheckReq</label>
        <locationX>888</locationX>
        <locationY>916</locationY>
        <defaultConnector>
            <targetReference>ClearError1111_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pooled_Order_Sample_Intl</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_2</name>
        <label>CheckReq</label>
        <locationX>227</locationX>
        <locationY>1037</locationY>
        <defaultConnector>
            <targetReference>CheckReq_0_2_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pooled_Order_Sample_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_2</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_2_0</name>
        <label>CheckReq</label>
        <locationX>355</locationX>
        <locationY>1043</locationY>
        <defaultConnector>
            <targetReference>CheckReq_0_0_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pooled_Order_Sample_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PO_Number_of_Pooled_Order_Domestic</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_2_0</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_2_0_0</name>
        <label>CheckReq</label>
        <locationX>774</locationX>
        <locationY>919</locationY>
        <defaultConnector>
            <targetReference>CheckReq_0_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_2_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pooled_Order_Sample_Intl</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PO_Number_of_Pooled_Order_Intl</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_2_0_0</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sample</name>
        <label>Sample?</label>
        <locationX>156</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Order_Record_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Sample_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_Order</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sample</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sample_1</targetReference>
            </connector>
            <label>Sample_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Order_0</name>
        <label>Type of Order?</label>
        <locationX>556</locationX>
        <locationY>104</locationY>
        <defaultConnector>
            <targetReference>Purchase_Order_Information_Order_Sample_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BarelOrderCheckpoint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_Order</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Barrel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Purchase_Order_Information_Order_Sample_0</targetReference>
            </connector>
            <label>Barrel Order?</label>
        </rules>
        <rules>
            <name>Sample_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_Order</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sample</stringValue>
                </rightValue>
            </conditions>
            <label>Sample Order?</label>
        </rules>
        <rules>
            <name>Standard_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_Order</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserProfile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International Distributor Community</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Purchase_Order_Information_Order_Sample_0_0_0</targetReference>
            </connector>
            <label>Standard Int&apos;l Order?</label>
        </rules>
        <rules>
            <name>Requisition_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_type_of_Order</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requisition</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Requisition</targetReference>
            </connector>
            <label>Requisition Order?</label>
        </rules>
    </decisions>
    <description>Flow that houses Order Form</description>
    <dynamicChoiceSets>
        <name>BarrelOrder</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Barrel_Order__c</picklistField>
        <picklistObject>Purchase_Order__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DirectImport</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Direct_Import__c</picklistField>
        <picklistObject>Purchase_Order__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OrderType</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filters>
            <field>Access_Group__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>AccessGroup</elementReference>
            </value>
        </filters>
        <filters>
            <field>Dependent_Value__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>&quot;{!RecordTypeName}&quot;</stringValue>
            </value>
        </filters>
        <filters>
            <field>Language__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>FlowLanguage</elementReference>
            </value>
        </filters>
        <object>Choice_Case_2nd_Type__c</object>
        <outputAssignments>
            <assignToReference>OrderTypeSubflow</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
        <valueField>Value__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pooled</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Pooled__c</picklistField>
        <picklistObject>Purchase_Order__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Add_Another_PO_Text</name>
        <dataType>String</dataType>
        <expression>$Label.Add_Another_PO_Text</expression>
    </formulas>
    <formulas>
        <name>Add_Another_Purchase_Order</name>
        <dataType>String</dataType>
        <expression>$Label.Add_Another_Purchase_Order</expression>
    </formulas>
    <formulas>
        <name>Barrel_Number_Label</name>
        <dataType>String</dataType>
        <expression>$Label.Barrel_Number</expression>
    </formulas>
    <formulas>
        <name>Barrel_Order_Number_Label</name>
        <dataType>String</dataType>
        <expression>$Label.Barrel_Order_Number</expression>
    </formulas>
    <formulas>
        <name>Direct_Import</name>
        <dataType>String</dataType>
        <expression>$Label.Direct_Import</expression>
    </formulas>
    <formulas>
        <name>Error_Message_Formatted_Label</name>
        <dataType>String</dataType>
        <expression>$Label.Error_Message_Formatted_Label</expression>
    </formulas>
    <formulas>
        <name>Field_Length_Error_Message</name>
        <dataType>String</dataType>
        <expression>$Label.Field_Length_Error_Message</expression>
    </formulas>
    <formulas>
        <name>No_Label</name>
        <dataType>String</dataType>
        <expression>$Label.No</expression>
    </formulas>
    <formulas>
        <name>None_Picklist</name>
        <dataType>String</dataType>
        <expression>$Label.None_Picklist</expression>
    </formulas>
    <formulas>
        <name>Order_Type</name>
        <dataType>String</dataType>
        <expression>$Label.Order_Type</expression>
    </formulas>
    <formulas>
        <name>PO_Number</name>
        <dataType>String</dataType>
        <expression>$Label.PO_Number</expression>
    </formulas>
    <formulas>
        <name>PO_Number_of_Pooled_Order</name>
        <dataType>String</dataType>
        <expression>$Label.PO_Number_of_Pooled_Order</expression>
    </formulas>
    <formulas>
        <name>Pooled_Label</name>
        <dataType>String</dataType>
        <expression>$Label.Pooled</expression>
    </formulas>
    <formulas>
        <name>Standard_Label</name>
        <dataType>String</dataType>
        <expression>$Label.Standard_Label</expression>
    </formulas>
    <formulas>
        <name>Step_2_Order_Subheader</name>
        <dataType>String</dataType>
        <expression>$Label.Step_2_Order_Subheader_Intl</expression>
    </formulas>
    <formulas>
        <name>Step_2_Order_Type_Header</name>
        <dataType>String</dataType>
        <expression>$Label.Step_2_Order_Type_Header</expression>
    </formulas>
    <formulas>
        <name>Step_3_Add_Purchase_Orders</name>
        <dataType>String</dataType>
        <expression>$Label.Step_3_Add_Purchase_Orders</expression>
    </formulas>
    <formulas>
        <name>Step_3_Subheader</name>
        <dataType>String</dataType>
        <expression>$Label.Step_3_Subheader</expression>
    </formulas>
    <formulas>
        <name>Step_3_Subheader_Barrel</name>
        <dataType>String</dataType>
        <expression>$Label.Step_3_Subheader_Barrel</expression>
    </formulas>
    <formulas>
        <name>Total_Purchase_Orders_Added</name>
        <dataType>String</dataType>
        <expression>$Label.Total_Purchase_Orders_Added</expression>
    </formulas>
    <formulas>
        <name>Yes_Label</name>
        <dataType>String</dataType>
        <expression>$Label.Yes</expression>
    </formulas>
    <formulas>
        <name>You_have_already_attached</name>
        <dataType>String</dataType>
        <expression>$Label.You_have_already_attached</expression>
    </formulas>
    <interviewLabel>Order Form Test with Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Form Test with Subflow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Purchase_Orders</name>
        <label>Create Purchase Orders</label>
        <locationX>1605</locationX>
        <locationY>539</locationY>
        <inputReference>PurchaseOrders</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Order_Record_Create</name>
        <label>Order Record Create</label>
        <locationX>423</locationX>
        <locationY>345</locationY>
        <assignRecordIdToReference>OrderRecord</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactIdFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Customer Portal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>What_type_of_Order</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Case_Number</name>
        <label>Find Case Number</label>
        <locationX>423</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Number</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderRecord</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>caseRecord</outputReference>
        <queriedFields>CaseNumber</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Order_Update</name>
        <label>Order Update</label>
        <locationX>936</locationX>
        <locationY>19</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BGC_Purchase_Order_Number__c</field>
            <value>
                <elementReference>BGC_Purchase_Order_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Order_Type_Selection</name>
        <label>Order Type Selection</label>
        <locationX>28</locationX>
        <locationY>262</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError</targetReference>
        </connector>
        <fields>
            <name>HeaderMessage</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Step_2_Order_Type_Header}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; {!Step_2_Order_Subheader}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessageDisplay</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_type_of_Order</name>
            <choiceReferences>OrderType</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Order_Type}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Purchase_Order_Information_Order_Sample_0</name>
        <label>Purchase Order Information</label>
        <locationX>885</locationX>
        <locationY>301</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_PurchaseOrder_Variables</targetReference>
        </connector>
        <fields>
            <name>HeaderText_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Step_3_Add_Purchase_Orders}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; {!Step_3_Subheader_Barrel}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessageDisplay1</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space1_0</name>
            <fieldText>&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PO_Number_Order_Sample_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PO_Number_Order_Sample_0</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!PO_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 30</errorMessage>
                <formulaExpression>LEN ({!PO_Number_Order_Sample_0}) &lt;= 30</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>space2_0</name>
            <fieldText>&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Barrel_Order_Number</name>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Barrel_Order_Number_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 18</errorMessage>
                <formulaExpression>LEN ({!Barrel_Order_Number}) &lt;= 18</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>space5</name>
            <fieldText>&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Barrel_Number_New</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Barrel_Number_New</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!Barrel_Number_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 18</errorMessage>
                <formulaExpression>LEN ({!Barrel_Number_New}) &lt;= 18</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>space6</name>
            <fieldText>&lt;br&gt; &lt;/br&gt;
&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Purchase_Order_Information_Order_Sample_0_0</name>
        <label>Purchase Order Information</label>
        <locationX>91</locationX>
        <locationY>960</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError_0_1</targetReference>
        </connector>
        <fields>
            <name>HeaderText_0_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Step_3_Add_Purchase_Orders}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;FONT KERNING=&quot;1&quot;&gt;{!Step_3_Subheader}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;  &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Total_Purchase_Orders_Added}&lt;/B&gt;&lt;FONT KERNING=&quot;0&quot;&gt;&lt;B&gt;  &lt;/B&gt;{!NumberOfPurchaseOrders}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessageDisplay3</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space1_0_0</name>
            <fieldText>&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PO_Number_Order_Sample_0_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PO_Number_Order_Sample_0_0</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!PO_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 30</errorMessage>
                <formulaExpression>LEN ({!PO_Number_Order_Sample_0_0}) &lt;= 30</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>space2_0_0</name>
            <fieldText>&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pooled_Order_Sample_0_0</name>
            <choiceReferences>Pooled</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Pooled_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PO_Number_of_Pooled_Order_Domestic</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PO_Number_of_Pooled_Order_Domestic</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!PO_Number_of_Pooled_Order}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 30</errorMessage>
                <formulaExpression>LEN ({!PO_Number_Order_Sample_Intl}) &lt;= 30</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>space3_0_0</name>
            <fieldText>&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Direct_Import_Order_Sample_0_0</name>
            <choiceReferences>DirectImport</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Direct_Import}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>space6_0</name>
            <fieldText>&lt;br&gt; &lt;/br&gt;
&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NumOfOrders_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;FONT KERNING=&quot;1&quot;&gt;{!You_have_already_attached}&lt;/FONT&gt; &lt;B&gt;{!NumberOfPurchaseOrders} &lt;/B&gt;{!Add_Another_PO_Text}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_Another_Purchase_Order_Order_Sample_0_0</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Add_Another_Purchase_Order}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Purchase_Order_Information_Order_Sample_0_0_0</name>
        <label>Purchase Order Information (Int&apos;l)</label>
        <locationX>653</locationX>
        <locationY>845</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError_0_0</targetReference>
        </connector>
        <fields>
            <name>HeaderText_0_0_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Step_3_Add_Purchase_Orders}&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;FONT KERNING=&quot;1&quot;&gt;{!Step_3_Subheader}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;  &lt;FONT KERNING=&quot;1&quot;&gt;&lt;B&gt;{!Total_Purchase_Orders_Added} &lt;/B&gt;&lt;/FONT&gt;{!NumberOfPurchaseOrders}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessageDisplay2</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>space1_0_0_0</name>
            <fieldText>&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PO_Number_Order_Sample_Intl</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PO_Number_Order_Sample_Intl</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!PO_Number}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 30</errorMessage>
                <formulaExpression>LEN ({!PO_Number_Order_Sample_Intl}) &lt;= 30</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>space2_0_0_0</name>
            <fieldText>&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pooled_Order_Sample_Intl</name>
            <choiceReferences>Pooled</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Pooled_Label}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PO_Number_of_Pooled_Order_Intl</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PO_Number_of_Pooled_Order_Intl</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!PO_Number_of_Pooled_Order}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 30</errorMessage>
                <formulaExpression>LEN ({!PO_Number_Order_Sample_Intl}) &lt;= 30</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>space6_0_0</name>
            <fieldText>&lt;br&gt; &lt;/br&gt;
&lt;br&gt; &lt;/br&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NumOfOrders_0_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;FONT KERNING=&quot;1&quot;&gt;{!You_have_already_attached} &lt;FONT KERNING=&quot;0&quot;&gt;&lt;B&gt;{!NumberOfPurchaseOrders} &lt;/B&gt;{!Add_Another_PO_Text}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_Another_Purchase_Order_Intl</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Add_Another_Purchase_Order}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Requisition</name>
        <label>Requisition</label>
        <locationX>763</locationX>
        <locationY>17</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Order_Update</targetReference>
        </connector>
        <fields>
            <name>SampleHeader</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Step 3:  Add Purchase Order Number&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt; Please enter the details around your purchase order.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BGC_Purchase_Order_Number</name>
            <dataType>String</dataType>
            <fieldText>BGC Purchase Order Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 10</errorMessage>
                <formulaExpression>LEN ({!BGC_Purchase_Order_Number}) &lt;= 10</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Sample_1</name>
        <label>Sample</label>
        <locationX>158</locationX>
        <locationY>675</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SampleHeader_0</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;Step 3:  Please visit Stir&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;Please click on the link below to access the Sample Order Form on Stir. Confirmation of case assignment will be sent once your sample order has been assigned to a customer service representative.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;A HREF=&quot;https://bgsw1.sharepoint.com/_layouts/15/FormServer.aspx?XsnLocation=https://bgsw1.sharepoint.com/SampleOrderForm/Forms/template.xsn&amp;SaveLocation=https%3A%2F%2Fbgsw1%2Esharepoint%2Ecom%2FSampleOrderForm&amp;ClientInstalled=false&amp;DefaultItemOpen=1&quot; TARGET=&quot;_blank&quot;&gt;Sample Form on Stir&lt;/A&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Order_Type_Selection</startElementReference>
    <textTemplates>
        <name>ErrorMessage_Formatted</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!Error_Message_Formatted_Label}&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!RequiredFields}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RequiredFields_Formatted</name>
        <text>&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!RequiredField}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</text>
    </textTemplates>
    <variables>
        <name>AccessGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ContactIdFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FlowLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FormTypeValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NumberOfPurchaseOrders</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Record ID for Order that was created in the Order Form Flow.</description>
        <name>OrderRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OrderTypeSubflow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PurchaseOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Purchase_Order__c</objectType>
    </variables>
    <variables>
        <name>PurchaseOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Purchase_Order__c</objectType>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiredField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiredFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
