src/flows/Quality_Claim_Subflow-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Case_Number</name>
        <label>Assign Case Number</label>
        <locationX>1516</locationX>
        <locationY>271</locationY>
        <assignmentItems>
            <assignToReference>CaseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecord.CaseNumber</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ClearError</name>
        <label>ClearError</label>
        <locationX>136</locationX>
        <locationY>403</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RadioButton</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrintError</name>
        <label>PrintError</label>
        <locationX>519</locationX>
        <locationY>175</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessage_Formatted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quality_Claim_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField</name>
        <label>SetReqField</label>
        <locationX>285</locationX>
        <locationY>334</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductSizeLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0</name>
        <label>SetReqField</label>
        <locationX>402</locationX>
        <locationY>334</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SampleAvailableLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0</name>
        <label>SetReqField</label>
        <locationX>526</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuantityKnownLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_0</name>
        <label>SetReqField</label>
        <locationX>654</locationX>
        <locationY>341</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingPlantLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_0_0</name>
        <label>SetReqField</label>
        <locationX>780</locationX>
        <locationY>341</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IssueDefinitionLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_0_0_1</name>
        <label>SetReqField</label>
        <locationX>903</locationX>
        <locationY>342</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LotCodeLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_0_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_0_0_1_1</name>
        <label>SetReqField</label>
        <locationX>1025</locationX>
        <locationY>341</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuantityLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_0_0_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_0_0_1_1_1</name>
        <label>SetReqField</label>
        <locationX>1148</locationX>
        <locationY>343</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuantityTypeLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_0_0_1_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqField_0_0_0_0_1_1_1_1</name>
        <label>SetReqField</label>
        <locationX>1272</locationX>
        <locationY>342</locationY>
        <assignmentItems>
            <assignToReference>RequiredField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OtherIssueLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetReqFields_0_0_0_0_1_1_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields</name>
        <label>SetReqFields</label>
        <locationX>285</locationX>
        <locationY>264</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0</name>
        <label>SetReqFields</label>
        <locationX>401</locationX>
        <locationY>264</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0</name>
        <label>SetReqFields</label>
        <locationX>527</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_0</name>
        <label>SetReqFields</label>
        <locationX>650</locationX>
        <locationY>265</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_0_0</name>
        <label>SetReqFields</label>
        <locationX>778</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_0_0_1</name>
        <label>SetReqFields</label>
        <locationX>898</locationX>
        <locationY>262</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_0_0_1_1</name>
        <label>SetReqFields</label>
        <locationX>1023</locationX>
        <locationY>262</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq_1_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_0_0_1_1_1</name>
        <label>SetReqFields</label>
        <locationX>1149</locationX>
        <locationY>265</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckReq</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReqFields_0_0_0_0_1_1_1_1</name>
        <label>SetReqFields</label>
        <locationX>1267</locationX>
        <locationY>180</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequiredFields_Formatted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorNum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PrintError</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Blank</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;  &lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!NonePicklist}&lt;/FONT&gt;&lt;/SPAN&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>CheckReq</name>
        <label>CheckReq</label>
        <locationX>1274</locationX>
        <locationY>423</locationY>
        <defaultConnector>
            <targetReference>Quality_Claim_Record_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Issue_Definition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Label_Other</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Other_Issue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_0_0_1_1_1_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
        <rules>
            <name>Errors_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorNum</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PrintError</targetReference>
            </connector>
            <label>Errors Present?</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0</name>
        <label>CheckReq</label>
        <locationX>282</locationX>
        <locationY>406</locationY>
        <defaultConnector>
            <targetReference>CheckReq_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Size</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0</name>
        <label>CheckReq</label>
        <locationX>402</locationX>
        <locationY>407</locationY>
        <defaultConnector>
            <targetReference>CheckReq_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sample_Available</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_0</name>
        <label>CheckReq</label>
        <locationX>536</locationX>
        <locationY>411</locationY>
        <defaultConnector>
            <targetReference>CheckReq_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quantity_Known</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_0_0</name>
        <label>CheckReq</label>
        <locationX>655</locationX>
        <locationY>412</locationY>
        <defaultConnector>
            <targetReference>CheckReq_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Shipping_Plant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_0</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_0_0_0_0_0</name>
        <label>CheckReq</label>
        <locationX>778</locationX>
        <locationY>415</locationY>
        <defaultConnector>
            <targetReference>CheckReq_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Issue_Definition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_0_0</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_1</name>
        <label>CheckReq</label>
        <locationX>904</locationX>
        <locationY>419</locationY>
        <defaultConnector>
            <targetReference>CheckReq_1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sample_Available</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lot_Code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_0_0_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_1_1</name>
        <label>CheckReq</label>
        <locationX>1027</locationX>
        <locationY>420</locationY>
        <defaultConnector>
            <targetReference>CheckReq_1_1_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quantity_Known</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Quantity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_0_0_1_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckReq_1_1_1</name>
        <label>CheckReq</label>
        <locationX>1149</locationX>
        <locationY>421</locationY>
        <defaultConnector>
            <targetReference>CheckReq</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Eval_1_1_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Quantity_Known</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RadioButton</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>None</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetReqField_0_0_0_0_1_1_1</targetReference>
            </connector>
            <label>Eval</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>IssueDefinition</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Issue__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductSizePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product_Size__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>QuantityKnown</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Quantity_Known__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>QuantityTypePicker</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Quantity_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SampleAvailable</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sample_Available__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ShippingPlant</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Shipping_Plant__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>ErrorMessageFormattedLabel</name>
        <dataType>String</dataType>
        <expression>$Label.Error_Message_Formatted_Label</expression>
    </formulas>
    <formulas>
        <name>Field_Length_Error_Message</name>
        <dataType>String</dataType>
        <expression>$Label.Field_Length_Error_Message</expression>
    </formulas>
    <formulas>
        <name>IssueDefinitionLabel</name>
        <dataType>String</dataType>
        <expression>$Label.Issue_Definition_Label</expression>
    </formulas>
    <formulas>
        <name>Label_Other</name>
        <dataType>String</dataType>
        <expression>{!$Label.CS_Flow_Picklist_Option_Other}</expression>
    </formulas>
    <formulas>
        <name>LotCodeLabel</name>
        <dataType>String</dataType>
        <expression>$Label.Lot_Code_Label</expression>
    </formulas>
    <formulas>
        <name>NonePicklist</name>
        <dataType>String</dataType>
        <expression>$Label.None_Picklist</expression>
    </formulas>
    <formulas>
        <name>OtherIssueLabel</name>
        <dataType>String</dataType>
        <expression>$Label.Other_Issue_Label</expression>
    </formulas>
    <formulas>
        <name>ProductDescriptionLabel</name>
        <dataType>String</dataType>
        <expression>$Label.Product_Description_Label</expression>
    </formulas>
    <formulas>
        <name>ProductSizeLabel</name>
        <dataType>String</dataType>
        <expression>$Label.Product_Size_Label</expression>
    </formulas>
    <formulas>
        <name>PurchaseOrderNumberLabel</name>
        <dataType>String</dataType>
        <expression>$Label.Purchase_Order_Number_Label</expression>
    </formulas>
    <formulas>
        <name>QuantityKnownLabel</name>
        <dataType>String</dataType>
        <expression>$Label.Quantity_Known_Label</expression>
    </formulas>
    <formulas>
        <name>QuantityLabel</name>
        <dataType>String</dataType>
        <expression>$Label.Quantity_Label</expression>
    </formulas>
    <formulas>
        <name>QuantityTypeLabel</name>
        <dataType>String</dataType>
        <expression>$Label.Quantity_Type_Label</expression>
    </formulas>
    <formulas>
        <name>SampleAvailableLabel</name>
        <dataType>String</dataType>
        <expression>$Label.Sample_Available_Label</expression>
    </formulas>
    <formulas>
        <name>ShippingPlantLabel</name>
        <dataType>String</dataType>
        <expression>$Label.Shipping_Plant_Label</expression>
    </formulas>
    <formulas>
        <name>Step2QualityClaimHeader</name>
        <dataType>String</dataType>
        <expression>$Label.Step_2_Quality_Claim_Header</expression>
    </formulas>
    <interviewLabel>Quality Claim Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quality Claim Subflow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Quality_Claim_Record_Create</name>
        <label>Quality Claim Record Create</label>
        <locationX>1521</locationX>
        <locationY>419</locationY>
        <assignRecordIdToReference>QualityClaimRecordCreate</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactIdFlow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue__c</field>
            <value>
                <elementReference>IssueDefinition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lot_Code__c</field>
            <value>
                <elementReference>Lot_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Customer Portal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Issue__c</field>
            <value>
                <elementReference>Other_Issue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Description__c</field>
            <value>
                <elementReference>Product_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Size__c</field>
            <value>
                <elementReference>ProductSizePicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Order_Number__c</field>
            <value>
                <elementReference>Purchase_Order_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity_Bottles_or_Cases__c</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity_Known__c</field>
            <value>
                <elementReference>QuantityKnown</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sample_Available__c</field>
            <value>
                <elementReference>SampleAvailable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Plant__c</field>
            <value>
                <elementReference>Shipping_Plant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Case_Number</name>
        <label>Find Case Number</label>
        <locationX>1518</locationX>
        <locationY>345</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Number</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QualityClaimRecordCreate</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseRecord</outputReference>
        <queriedFields>CaseNumber</queriedFields>
    </recordLookups>
    <screens>
        <name>Quality_Claim_Information</name>
        <label>Quality Claim Information</label>
        <locationX>135</locationX>
        <locationY>178</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ClearError</targetReference>
        </connector>
        <fields>
            <name>HeaderMessage</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:16px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;{!Step2QualityClaimHeader}&lt;/B&gt;&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessageDisplay</name>
            <fieldText>{!ErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Product_Description</name>
            <defaultValue>
                <elementReference>Product_Description</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ProductDescriptionLabel}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 50</errorMessage>
                <formulaExpression>LEN({!Product_Description}) &lt;= 50</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Product_Size</name>
            <choiceReferences>ProductSizePicklist</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ProductSizeLabel}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Sample_Available</name>
            <choiceReferences>SampleAvailable</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!SampleAvailableLabel}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Lot_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Lot_Code</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!LotCodeLabel}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 20</errorMessage>
                <formulaExpression>LEN({!Lot_Code}) &lt;= 20</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Quantity_Known</name>
            <choiceReferences>QuantityKnown</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!QuantityKnownLabel}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Quantity</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!QuantityLabel}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 4</errorMessage>
                <formulaExpression>LEN({!Quantity}) &lt;= 4</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Purchase_Order_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Purchase_Order_Number</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!PurchaseOrderNumberLabel}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 100</errorMessage>
                <formulaExpression>LEN({!Purchase_Order_Number}) &lt;= 100</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Quantity_Type</name>
            <choiceReferences>QuantityTypePicker</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!QuantityTypeLabel}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Shipping_Plant</name>
            <choiceReferences>ShippingPlant</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ShippingPlantLabel}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Issue_Definition</name>
            <choiceReferences>IssueDefinition</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!IssueDefinitionLabel}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_Issue</name>
            <defaultValue>
                <elementReference>Other_Issue</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!OtherIssueLabel}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>{!Field_Length_Error_Message} 255</errorMessage>
                <formulaExpression>LEN({!Other_Issue}) &lt;= 255</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <startElementReference>Quality_Claim_Information</startElementReference>
    <textTemplates>
        <name>ErrorMessage_Formatted</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!ErrorMessageFormattedLabel}&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;{!RequiredFields}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>RequiredFields_Formatted</name>
        <text>&lt;TEXTFORMAT LEADING=&quot;2&quot;&gt;&lt;LI&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!RequiredField}&lt;/FONT&gt;&lt;/LI&gt;&lt;/TEXTFORMAT&gt;</text>
    </textTemplates>
    <variables>
        <name>AccessGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ContactIdFlow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CreatedByLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QualityClaimRecordCreate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RadioButton</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>None</elementReference>
        </value>
    </variables>
    <variables>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiredField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiredFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
